<!-- The Do/Check/Browse Homework page -->
<div *ngIf='service.isDataReady()'>

  <!-- The header with title, runtime information and assignments selection area -->
  <div class='row bg-light'>

    <!-- the current homework information -->
    <div class='col-sm-5 text-left p-2'>
      <div *ngIf='service.isValidHomework()'>
        <img [src]='service.getWorkStatusIcon()' height='16px' />&nbsp;
        <span class='work-title bold-title'>{{ service.getWorkTitle() }} </span>&nbsp;
        <span class='assign-date'>{{ service.getWorkMemberId() }}, </span>
        <span class='assign-date'> {{ service.getWorkAssignTime() }}</span>
      </div>
    </div>

    <!-- the runtime information -->
    <div class='col-sm-3'>
      <span
        [ngClass]='{"page-info":true, "info-color": service.isRuntimeInfo(), "error-color": service.isRuntimeError()}'>
        {{ service.getInfoMessage() }}
      </span>
    </div>

    <div class='col-sm-4 text-right p-2'>

      <!-- the students selection for the teacher -->
      <div *ngIf='service.isTeacher()' style='display:inline; margin-right:2px;'>
        <button title='Select a student' class="btn btn-primary btn-tiny dropdown-toggle" id="selectStudent"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Students</button>
        <div class="dropdown-menu" aria-labelledby="selectStudent" id="student">
          <button *ngFor='let student of service.getMembers()' class="dropdown-item"
            (click)='service.loadStudentHomeworkList(student.memberId)'>
            <span *ngIf='service.isStudentMember(student)' class='work-title'>{{student.firstName}}
              {{student.lastName}}
              ({{student.chineseName}})</span>
          </button>
        </div>
      </div>

      <!-- The assignments selection -->
      <div style='display:inline; margin-right:2px;'>
        <button title='Select a homework' class="btn btn-primary btn-tiny dropdown-toggle" id="selectHomework"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assignments</button>
        <div class="dropdown-menu" aria-labelledby="selectHomework" id='homework'>
          <button *ngFor='let homework of service.getHomeworkList()' class="dropdown-item"
            (click)='service.setHomework(homework)'>
            <img [src]='service.getStatusIcon(homework.status)' height='14px' />&nbsp;
            <span class='work-title'>{{ homework.workTitle }} </span>
            <span *ngIf='service.isTeacher()' class='assign-date'>{{ homework.memberId }} &nbsp;</span>
            <span class='assign-date'>{{ service.getSimpleDate(homework.assignTime) }}</span>
          </button>
        </div>
      </div>

      <!-- Reload the submitted homework list for the teacher -->
      <div *ngIf='service.isTeacher()' style='display:inline;'>
        <button title='Reload the homework list' class="btn btn-primary btn-tiny"
          (click)="service.loadSubmittedHomeworkList()">Reload</button>
      </div>
    </div>
  </div>

  <!-- The content panel -->
  <div class='row'>

    <!-- The navagition panel -->
    <div id='navagitor' class='col-sm-2 bg-light'>
      <p>&nbsp;</p>
      <ul *ngIf='service.isStudent()'>
        <li (click)="talkToTeacher()">Ask Question</li>
        <li (click)="createReport()">How Am I Doing</li>
        <li *ngIf='!isWorkPanel()' (click)="backToWork()">Back to Work</li>
        <hr style='margin-left:-40px'>
      </ul>
      <ul>
        <li>
          <a target='_blank' [href]='getProjectURL()'>Projects</a>
        </li>
        <li>
          <a target='_blank' [href]='getTextbookURL()'>Text Book</a>
        </li>
        <li>
          <a target='_blank' [href]='getClassSiteURL()'>My Class ({{service.getClassName()}})</a>
        </li>
        <hr style='margin-left:-40px'>
        <li>
          <a target='_blank' [href]='getSchoolURL()'>GWCA</a>
        </li>
        <li>
          <a target='_blank' [href]='getSchoolAdminURL()'>School Admin</a>
        </li>
        <li>
          <a target='_blank' [href]='getSchoolCalendarURL()'>School Calendar</a>
        </li>
      </ul>
    </div>

    <!-- The content panel -->
    <div class='col-sm-10'>

      <!-- The question area -->
      <div *ngIf='isNotifyPanel()' class='row'>
        <div class='col-sm-10'>
          <br>* Subject:
          <input class="form-control" type='text' [(ngModel)]='mailSubject' />
          <br>* Question(s):
          <quill-editor [style]="{height: '300px'}" [(ngModel)]="mailBody"></quill-editor>
          <div class='row'>
            <div class='col-sm-12 text-right'>
              <button [disabled]='!isReadyToSend()' #mailButton title='Send an email to the teacher to ask questions'
                (click)="sendEmailToTeacher()" class="btn btn-primary btn-tiny">Send Email</button>
            </div>
          </div>
        </div>
      </div>

      <!-- The report area -->
      <div *ngIf='isReportPanel()' class='row'>
        <div class='col-sm-12 ascii'>
          <table>
            <tbody>
              <tr class='report-header'>
                <td width='20px'></td>
                <th width='200px'>Title</th>
                <th width='100px'>Assigned</th>
                <th width='60px'>Grade</th>
                <th>Teacher's Remark</th>
              </tr>
              <tr height='32px' [ngClass]='{"info-bgcolor":isOdd()}' *ngFor='let homework of service.getHomeworkList()'>
                <td><img [src]='service.getStatusIcon(homework.status)' width='14px' /></td>
                <td class='report-work' (click)='goToWork(homework)'>{{homework.workTitle}}</td>
                <td>{{service.getSimpleDate(homework.assignTime)}}</td>
                <td align='center'>{{homework.grade}}</td>
                <td>{{homework.remark}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- The work area -->
      <div *ngIf='isWorkPanel()' class='row'>
        <div *ngIf='!service.isHomeworkAvailable()' class='col-sm-12 pt-5 mt-5 text-center'>
          <img src='assets/images/all-done.jpg' height='240px'>
        </div>
        <div *ngIf='service.isHomeworkAvailable()' class='col-sm-12'
          [ngClass]='{"work-bgcolor": service.isWork(), "review-bgcolor": service.isReview(), "submit-bgcolor": service.isSubmitted() || service.isDone()}'>

          <!-- The teacher's remark, grade information block -->
          <div *ngIf='service.isDone()' class='summary'>
            <p>成绩:
              <span class='ascii'>{{service.getWorkGrade()}}</span>
              <br>评语：{{service.getWorkRemark()}}
              <br>日期:
              <span class='ascii'>{{service.getWorkCheckTime()}}</span>
            </p>
          </div>

          <!-- The work items -->
          <div *ngFor="let item of getWorkitems(); let idx=index; trackBy:trackByIndex;">
            <app-work-audio [(workitem)]="getWorkitems()[idx]"></app-work-audio>
            <app-work-image [(workitem)]="getWorkitems()[idx]"></app-work-image>
            <app-work-video [(workitem)]="getWorkitems()[idx]"></app-work-video>
            <app-work-write [(workitem)]="getWorkitems()[idx]"></app-work-write>
            <app-work-record [(workitem)]="getWorkitems()[idx]"></app-work-record>
            <app-work-simple [(workitem)]="getWorkitems()[idx]"></app-work-simple>
            <app-work-page-link [(workitem)]="getWorkitems()[idx]"></app-work-page-link>
            <app-work-fill-blank [(workitem)]="getWorkitems()[idx]"></app-work-fill-blank>
            <app-work-true-false [(workitem)]="getWorkitems()[idx]"></app-work-true-false>
            <app-work-multi-choice [(workitem)]="getWorkitems()[idx]"></app-work-multi-choice>
            <app-work-answer-question [(workitem)]="getWorkitems()[idx]"></app-work-answer-question>
            <app-work-phrase-sentence [(workitem)]="getWorkitems()[idx]"></app-work-phrase-sentence>
            <app-work-connect-sentence [(workitem)]="getWorkitems()[idx]"></app-work-connect-sentence>
          </div>

          <!-- The teacher's remark and grade input form -->
          <div *ngIf='service.isTeacher() && service.isSubmitted()' class='row remark-form'>
            <div class='col-sm-7'>教师评语：
              <input class='sentence' [(ngModel)]='service.getHomework().remark' placeholder='Remark in General' />
            </div>
            <div class='col-sm-2'>成绩：
              <select class="selectpicker" [(ngModel)]="service.getHomework().grade">
                <option>A</option>
                <option>A-</option>
                <option>B</option>
                <option>B-</option>
                <option>C</option>
                <option>F</option>
              </select>
            </div>
          </div>
        </div>

        <!-- The buttons -->
        <div *ngIf='service.isDataReady() && !service.isReadOnly()' class='all-buttons'>
          <div *ngIf='service.isStudent() && (!service.isSubmitted() && !service.isDone())'>
            <button (click)="service.changeHomeworkStatus('WorkInProgress')" [disabled]='service.isReview()'
              class="btn btn-primary btn-sm">Save</button>&nbsp;
            <button (click)="service.changeHomeworkStatus('WorkInProgress')" [disabled]='service.isWork()'
              class="btn btn-primary btn-sm">Work</button>&nbsp;
            <button (click)="service.changeHomeworkStatus('Review')" [disabled]='service.isReview()'
              class="btn btn-primary btn-sm">Review</button>&nbsp;
            <button (click)="service.changeHomeworkStatus('Submitted')" class="btn btn-warning btn-sm">Submit</button>
          </div>
          <div *ngIf='service.isTeacher() && service.isSubmitted()'>
            <button (click)="service.changeHomeworkStatus('Done')" class="btn btn-primary btn-sm">Done</button>&nbsp;
            <button (click)="service.changeHomeworkStatus('Assigned')" class="btn btn-warning btn-sm">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>