#navagitor ul li {
	margin-left: -40px;
	padding-top: 4px;
	font-size: 14px;
	list-style-type: none;
	color: blue;
	font-family: Georgia;
}

#navagitor ul li:hover {
	background-color: #ecf2f9;
	text-decoration: underline;
	cursor: pointer;
}

.report-header {
	height: 50px;
	font-family: Georgia;
	font-size: 14px;
}

.report-work {
	text-decoration: underline;
}

.report-work:hover {
	cursor: pointer;
	color:blue;
}

.recorder-color {
	color: rgb(94, 86, 202)
}

.recorder-bkcolor {
	background-color: rgb(240, 240, 232)
}

.player-color {
	color: rgb(133, 80, 80)
}

.player-bkcolor {
	background-color: rgb(240, 240, 232)
}