<div id='homepage' class='container' *ngIf='showMenu && pageReady'>
	<header>
		<a target='_blank' href='http://greatwallchineseacademy.org/'><img src="assets/images/sites/site-logo.gif" height="60px"
			 class="image-left" title='Go to greatwallchineseacademy.org'></a>
		<p class="classroom-title">{{titleText}}</p>
	</header>
	<nav>
		<ul>
			<li *ngFor="let material of materialList" [class.selected]="material.lessonId === material.id" (click)="setMaterial(material)"><span
				 *ngIf='isTocItem(material)'> <img src={{material.image}} class='title-icon' /> <span class="charpter-index">
						{{material.shortDesc}}</span>
				</span>
				<p *ngIf='isDelimiter(material)' class='delimiter'>{{material.shortDesc}}</p>
			</li>
		</ul>
	</nav>
	<article>
		<div style='margin-top: 100px'>
			<img src="assets/images/sites/classroom.png" height="240px" class="image-center">
		</div>
	</article>
	<footer> {{footerText}} </footer>
</div>

<app-content *ngIf='isContent()'></app-content>
<app-builder *ngIf='isTool()' [materialId]='materialId'></app-builder>