/*
 * The layout styles for the classroom home page 
 */
div.container {
	width: 80%;
	max-width: 900px;
	margin: 0 auto 0 auto;
}

header {
	padding: 1em;
	clear: left;
	text-align: left;
	background-color: #ecf2f9;
}

footer {
	padding: 0.5em;
	clear: left;
	text-align: center;
	background-color: green;
	color: white;
}

nav {
	float: left;
	max-width: 400px;
	margin: 0;
	padding: 1em;
}

nav ul {
	padding-top: 10px;
	padding-left: 10px;
	list-style-type: none;
}

article {
	margin-left: 150px;
	padding: 1em;
	overflow: hidden;
	min-height: 500px;
}

.classroom-title {
	font-size: 28px;
	font-family: kaiTi;
	color: DarkGreen;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px
}

.charpter-index {
	font-size: 16px;
	font-family: SimSun;
	margin-top: 8px;
}

.charpter-index:hover {
	background-color: yellow;
}

.title-icon {
	height: 25px;
	width: 25px;
	vertical-align: middle;
	margin-bottom: 6px;
}

.delimiter {
	font-family: kaiTi;
	font-size: 12px;
	text-align: center;
	color: brown;
	background-color: #ecf2f9;
}

.image-left {
	display: inline;
	float: left;
	margin: 0px 20px 0px 20px;
}

.image-right {
	display: inline;
	float: right;
	margin: 0px 20px 0px 20px;
}

.image-center {
	display: block;
	margin: 8px auto 20px auto;
}