<!-- Workitem: Audio -->
<div *ngIf='isAudio()' class="card border-0">
  <div class="card-body">
    <h3 class='title'>
      {{workitem.title}}
      <img *ngIf="isDone()" class='check-image' [src]='getCheckImage(workitem.checked)' />
      <img *ngIf="isTeacher() && isSubmitted()" class='check-image' [src]='getCheckImage(workitem.checked)'
        (click)='setAnswer(workitem)' />
    </h3>
    <div class='work-content'>
      <p *ngFor="let instruction of workitem.instructions" [innerHTML]='instruction'></p>
      <div>
        <audio controls>
          <source [src]="getSafeUrl(workitem.url)" type="audio/mpeg" />
        </audio>
      </div>
      <div *ngIf="isTeacher()">
        <input *ngIf="isSubmitted()" class='sentence' placeholder="Teacher's remark" [(ngModel)]="workitem.remark" />
      </div>

      <!-- Teacher's remark -->
      <p *ngIf="isDone() && hasRemark(workitem)">
        <span class='remark-title'>教师评语：</span>
        <span class='teacher-remark'>{{workitem.remark}}</span>
      </p>
    </div>
  </div>