<!-- Workitem: FillBlank -->
<div *ngIf='isFillBlank()' class="card border-0">
  <div class="card-body">
    <h3 class="title">{{workitem.title}}</h3>
    <div class='work-content'>

      <!-- Work in progress (for student) -->
      <div *ngIf="isStudent()">
        <ol>
          <li *ngFor="let statement of workitem.statements" class='no-indent'>
            <span *ngFor="let token of statement.tokens">
              <div style='display:inline' *ngIf="token.hasBlank">
                <input *ngIf="isWork()" class='word' [(ngModel)]="token.answer" />
                <img *ngIf="isDone()" class='check-image' [src]='getCheckImage(token.checked)' />
                <span *ngIf="isReview()"
                  [ngClass]='{"highlighted":isAnswered(token.answer), "empty-answer":!isAnswered(token.answer)}'>{{getAnswer(token.answer)}}</span>
              </div>
              <span>{{token.phrase}}</span>
            </span>
            <p title='selections' class='prompt'>{{statement.selections}}</p>
            <p *ngIf="isDone() && hasRemark(statement)">
              <span class='remark-title'>教师评语：</span>
              <span class='teacher-remark'>{{statement.remark}}</span>
            </p>
          </li>
        </ol>
      </div>

      <!-- Work has been submitted (for teacher) -->
      <div *ngIf="isTeacher()">
        <ol>
          <li *ngFor="let statement of workitem.statements" class='no-indent'>
            <span *ngFor="let token of statement.tokens">
              <div style='display:inline' *ngIf="token.hasBlank">
                <img class='check-image' [src]='getCheckImage(token.checked)' (click)='setAnswer(token)' />
                <span
                  [ngClass]='{"highlighted":isAnswered(token.answer), "empty-answer":!isAnswered(token.answer)}'>{{getAnswer(token.answer)}}</span>
              </div>
              <span>{{token.phrase}}</span>
            </span>
            <p title='selections' class='prompt'>{{statement.selections}}</p>
            <p class='teacher-remark'>
              <input *ngIf="isSubmitted()" class='sentence' placeholder="Teacher's remark"
                [(ngModel)]="statement.remark" />
              <span *ngIf="!isSubmitted() && hasRemark(statement)">
                <span class='remark-title'>教师评语：</span>
                <span class='teacher-remark'>{{statement.remark}}</span>
              </span>
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>