<!-- Workitem: Image (attach an image to the page) -->
<div *ngIf='isImage()' class="card border-0">
  <div class="card-body">
    <h3 class="title">
      <span>{{workitem.title}}</span>
      <img *ngIf="isDone()" class='check-image' [src]='getCheckImage(workitem.checked)' />
      <img *ngIf="isTeacher() && isSubmitted()" class='check-image' [src]='getCheckImage(workitem.checked)'
        (click)='setAnswer(workitem)' />
    </h3>
    <div class='work-content'>
      <p *ngFor="let instruction of workitem.instructions" [innerHTML]='instruction'></p>

      <!-- Work in progress (for student) -->
      <div *ngIf="isStudent()">
        <div class='row'>
          <div class='col-sm-12'>
            <img *ngIf='!hasLink(workitem)' src='assets/images/add-image.jpg' height="140" />
            <img *ngIf='hasLink(workitem)' [src]='workitem.url' height="300" />
          </div>
        </div>
        <div *ngIf="isWork()" class='row'>
          <div *ngIf='!hasLink(workitem)' class='col-sm-6'>
            <label *ngIf='!isUploading()' class="btn btn-primary btn-tiny">
              Attach Image
              <input type="file" (change)="uploadDriveFile($event, workitem)" style="display: none;">
            </label>
            <div *ngIf='isUploading()' class="col-sm-6">
              <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  style="width: 100%;">Uploading ...</div>
              </div>
            </div>
          </div>
          <div *ngIf="hasLink(workitem)" class='col-sm-12'>
            <label *ngIf='hasLink(workitem)' class="btn btn-warning btn-tiny" (click)="deleteDriveFile(workitem)">Delete
              Image</label>
          </div>
        </div>
        <div class='row mt-3'>
          <div class='col-sm-10 instruction'>
            <textarea *ngIf="isWork()" class='answer' rows="4" placeholder='A description of the image.'
              [(ngModel)]="workitem.text"></textarea>
            <p *ngIf="isReview()">
              <span
                [ngClass]='{"highlighted":isAnswered(workitem.text), "empty-answer":!isAnswered(workitem.text)}'>{{workitem.text}}</span>
            </p>
          </div>
        </div>
      </div>

      <!-- Work has been submitted (for teacher) -->
      <div *ngIf="isTeacher()">
        <div>
          <img [src]='workitem.url' height="300" />
          <p>{{workitem.text}}</p>
        </div>
        <input *ngIf="isSubmitted()" class='sentence' placeholder="Teacher's remark" [(ngModel)]="workitem.remark" />
      </div>

      <!-- Teacher's remark -->
      <p *ngIf="isDone() && hasRemark(workitem)">
        <span class='remark-title'>教师评语：</span>
        <span class='teacher-remark'>{{workitem.remark}}</span>
      </p>
    </div>
  </div>
</div>