<!-- Workitem: Write (create a new essay file when needed) -->
<div *ngIf='isWrite()' class="card border-0">
  <div class="card-body">
    <h3 class="title">
      <span>{{workitem.title}}</span>
      <img *ngIf="isDone()" class='check-image' [src]='getCheckImage(workitem.checked)' />
      <img *ngIf="isTeacher() && isSubmitted()" class='check-image' [src]='getCheckImage(workitem.checked)'
        (click)='setAnswer(workitem)' />
    </h3>
    <div class='work-content'>
      <p *ngFor="let instruction of workitem.instructions" [innerHTML]='instruction'></p>

      <!-- Work in progress (for student) -->
      <div *ngIf="isStudent()" title={{workitem.title}}>
        <div *ngIf='hasUrl(workitem)' class='row'>
          <div class='col-sm-10 instruction'>
            <p>
              <a [attr.href]="workitem.url" target="_blank">《{{workitem.text}}》</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Work has been submitted (for teacher) -->
      <div *ngIf="isTeacher()">
        <p *ngIf='hasUrl(workitem)'>
          <a [attr.href]="workitem.url" target="_blank">《{{workitem.text}}》</a>
        </p>
        <p *ngIf='!hasUrl(workitem)'>《{{workitem.text}}》</p>
        <input *ngIf="isSubmitted()" class='sentence' placeholder="Teacher's remark" [(ngModel)]="workitem.remark" />
      </div>

      <!-- Teacher's remark -->
      <p *ngIf="isDone() && hasRemark(workitem)">
        <span class='remark-title'>教师评语：</span>
        <span class='teacher-remark'>{{workitem.remark}}</span>
      </p>
    </div>
  </div>
</div>