<div style='margin-left: 8px; margin-bottom: 20px;'>
	<p><a href="https://docs.google.com/document/d/1tPH8bCE7fCNSOZDBOzyoX2IJfEhHzWahNsPTV-evyEo/edit?usp=drivesdk&ouid=107988168069213690308">doc link</a></p>

	<p>Audio link from Drive (iframe mp3)</p>
	<iframe 
		frameborder="0" 
		width="400"     
		height="60"
		src="https://drive.google.com/file/d/0B9-duwm5My1fVThVam1nSEdxYW8/preview">    
	</iframe>

	<p>Audio link from Drive (iframe m4a)</p>
	<iframe style='background-color:green; color:red;'
		frameborder="0" 
		width="300"     
		height="60"
		src="https://drive.google.com/file/d/1LB0QanLH35UM8eCpjqgZoeDUiwa3bN4G/preview">    
	</iframe>

	<p>Audio link from Drive (HTML 5 audio tab)</p>
	<audio controls="">
		<source src="https://docs.google.com/uc?authuser=0&export=download&id=1cRddOgJBo85_q65qT5ruCgKdWB78-wi3" 
		type="audio/mpeg"/>
	</audio>
	
	<p>Image from Drive</p>
	<img src='http://drive.google.com/uc?export=view&id=1PQB4fagboUHSBSHorAJDOK9dL5h5Ex9C' />
</div>

https://drive.google.com/file/d/1sRQ7dTrYNk34wA4wD8kfPDs7JZnoNG0u/view?usp=drivesdk