<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学生作文 2019 (C-12)</div>
  <div class="card-body story-text">
    <h3 class='story-title'>毕业班前言</h3>
    <p class="story-author">教师: 胡友平</p>
    <img src="assets/images/people/youping-hu.jpeg" class="story-author-image" />
    <p>
      C12,我们可以称之为后中文AP班。班里多数是考完AP后，想进一步提高中文水平的高中三四年级的同学。所以这个班的主要目的是通过阅读、讨论、演讲、辩论和作文等不同方法来帮助这些同学提高他们的中文水平，从初级中文进入中级中文阶段。更具体的来说，就是帮助他们增加词汇量，扩大阅读范围和提高写作文的能力。
    </p>
    <p>
      根据每年学生水平的不同，选用《新实用汉语课本》第五册或者由学校老师编写的《阅读与写作》作为课本，同时从网上挑选一些消息、博客，微博，微信等作为辅助教材，让学生更多地了解和适应当今碎片式阅读和写作的潮流。C12班不考试，但作为考量教学效果的一个重要指标，这个班的每个毕业生，要以《我和长城中文学校》为题，写一篇一千字左右的毕业作文，作为毕业前的最后一份家庭作业。这篇作文虽然有个固定的题目，但对内容并没有太大的限制，只要写得是和学校有关的事情就行。从已经毕业的同学们的作文中，可以看到他们不但写了怎么在学校学中文，了解中国文化，还写了许多在学校参加的活动，比如当志愿者，学跳舞，做文化课老师等等，有的同学还写了他们的个人爱好和兴趣。文字朴实，感情真实。也许你会说，这些和学中文好像没什么关系呀。怎么说呢，从那每篇一千多个整整齐齐的方块字后面，每一个字、每一句话不都在告诉你他们是怎么学中文的吗！
    </p>
    <p>
      最后引用一句一个同学在她作文中的话来描述一下他们离开C12时的状态：“我吸了一口气，把红手帕平平地放在腿上：我准备好了”。是的，他们准备好了，准备好走出家门，走进大学，走入社会，走向他们充满希望的未来。
    </p>
    <hr />

    <h3 class='story-title'>我和长城中文学校</h3>
    <p class="story-author">刘杰克</p>
    <img src="assets/images/people/jack-liu.jpg" class="story-author-image" />
    <p>
      我从小参加长城中文学校。在中文学校，我学了很多东西。我给大家讲讲我在中文学校的几个故事。</p>
    <p>
      小的时候，我没有努力学习中文。上高中以后，我觉得学习中文很难，但是我还坚持努力学中文。在高三那年，我选了去考AP中文,这对我来说是一件很难的事情。我的词汇太少。我虽然会认字，但是经常不知道字的意思。我就坚持每天练习中文，跟爸爸妈妈一起说中文，还自己练习说中文。我听了很多中文的歌，还在网上看了很多快乐汉语影片。这对我的中文很有帮助。AP考试我得到了好成绩，我的努力让我取得了好成绩，我很高兴，也为自己感到骄傲。努力就会有成果。我也要谢谢AP中文班的叶老师。她给我们讲了很多故事，也留了很多练习。帮我提高中文的水平。谢谢叶老师。
    </p>
    <p>
      长城中文学校每年参加科罗拉多州的龙舟节，我们学生参加龙舟比赛，参加文化演出。这是我最喜欢的节日，因为我们中文学校的龙舟船队和其他的船队竞争比赛非常激烈。上高中后，每年的夏天我都会参加这个比赛。去年，我们学校的龙舟队得了第二名。比赛一共划了三次，我们赢了两次，输了一次。很可惜，在最后一次比赛中，我们队只比对手慢了不到一秒。明年，我觉得我们队可以得到第一名。虽然比赛输了，可是这个比赛教了我很多东西。我学会了团队合作，每个人在船上都很用劲地划，而且大家要一致。每次比赛划到终点的时候，每个人都很累。但是赢了我们会很高兴。除了龙舟比赛，我还参加中国扯铃的演出。龙舟节那天，我觉得很累但是很有意思。
    </p>
    <p>
      我很小的时侯跟<scan class='latin'> Alan </scan>学扯铃。以后跟<scan class='latin'> Eric,William,Nathan </scan>,和<scan class='latin'> Kyle </scan>学扯铃。现在他们都上大学了，我就成了老师。上扯铃课的时候，我最头疼的是小朋友们不听话。但是我会想办法，还很耐心的一个一个地教小朋友。有一个小朋友叫<scan class='latin'> Will</scan>。他很调皮。但是学扯铃很用功。我教了他一个技巧叫“空中扔铃接铃。”扯铃是用两个棍子通过一根线扯起来，所以叫扯铃，这是一个很特别的铃，它是用一个螺丝把两个铃拧在一起。”空中扔铃接铃“就是要用两根棍子把线拉紧，然后把铃扔向空中再接住。我手把手教<scan class='latin'> Will</scan>这个技巧。他一遍一遍的练习就不淘气了。我们的扯铃班还经常参加社区义务演出。我最喜欢去老人院表演。每一次去老人院的时候，爷爷奶奶们很喜欢我们的扯铃表演。表演结束的时候，我跟他们握手，他们抓住我的手不放。我喜欢看到老人们的笑脸，我很开心。
    </p>
    <p>
      我在长城中文学校长大，对长城中文学校很感恩。我能听懂一些中文，会说一些中文，还会写一些中文。我可以跟我奶奶和姥姥说中文。我在中文学校认识了很多朋友，我不会忘记他们。我要谢谢所有教过我的中文老师。特别是胡老师教我们十二班,他给我们讲了不少有意思的故事，还给大家解释每个同学名字的意思，讲中国的历史，我不会忘记他的课。谢谢胡老师。
    </p>
    <p>
      长城中文学校让我很骄傲我是一个中国孩子，我会永远记住我的中国根。</p>
    <hr />
    <h3 class='story-title'>我和长城中文学校</h3>
    <p class="story-author">周怡文</p>
    <img src="assets/images/people/annie-zhou.jpg" class="story-author-image" />
    <p>
      在我很小的时候，妈妈就送我去中文学校学习中文，那时还不懂，觉得每星期日去中文学校很开心，可以学儿歌、学跳舞，能和小朋友们一起玩。后来慢慢长大了，美国学校的功课和活动也越来越多了，一到周末总有点不太情愿去中文学校了，但我还是坚持了下来直到现在。中文学校不仅帮助了我认字、写字，让我学习了很多中国文化，还能和中国的亲戚朋友们交谈。主要的是还有很多有趣的活动吸引着我。
    </p>
    <p>
      因为在美国学校有去过麦当劳之家的经历，我和少梅校长提议也决定组织长城中文学校的学生去参加。麦当劳之家是为帮助得重症小病人的家属有一个免费吃住的地方。这次我们负责准备午餐。在少梅校长的支持下，我采购了所需的原材料和几个同学在约定的时间一起制作了色拉、水果拼盘。这里的卫生要求特别严格，一定要洗手戴手套制作食品。中文学校还订了中国餐，然后我们分发给了这些小病人的家属吃。那天大约有三四十个家长吃到了由我们长城中文学校提供的午餐。我们还笑脸相迎，他们都非常感激。最后，我们还把厨房打扫的干干净净。我从中学到了我们身边还有那么多人需要帮助和关心。
    </p>
    <p>
      长城中文学校还提供给我另一个舞台，那就是每年的中国春节庆祝活动。我作为主持人身穿大红的中国旗袍，手拿话筒站在喜庆的舞台上，微笑面对着台下的众多观众，传送着新年的祝福和一个个精彩的表演。既学到了中国文化又增强了我的口才。</p>
    <p>
      在这几年中我还积极参与了学校的学生会工作，参加了学生会的选举，今年还被同学们选上了NCHS的学生会主席，通过参加学生会的活动，我学会了怎样与人交流和相处，学会了团队合作，积累了一定的领导能力。</p>
    <p>
      今年，少梅校长还让我当上了画画课的助教老师，这让我很兴奋。我不仅学会了耐心和小朋友们相处，更让我体会到当老师的不易。</p>
    <p>
      在我即将离开长城中文学校时，我要感谢少梅校长和老师们的辛勤付出，感谢学校给了我很多机会和平台。</p>
    <hr />
    <h3 class='story-title'>我和长城中文学校</h3>
    <p class="story-author">马梓元</p>
    <img src="assets/images/people/brian-ma.jpg" class="story-author-image" />
    <p>
      我从三年前开始上折纸课。开始的时候，我没有特别想学，是妈妈鼓励我去，因为折纸可以锻炼我的动手能力，还能学会一个特殊的本领。当时我特别想去医院做义工，会折纸就会有很大帮助，而且如果坚持上课，将来会有机会做折纸老师。</p>
    <p>
      第一天上课，我发现我只认识一个人。他也是个学生，比我高一年级，在折纸课做助教。老师和他教我怎么折纸。过了几个星期，我慢慢地学怎么做我自己想做的东西。虽然折纸看起来没有那么难，但是中国折纸真的是不容易的。我一开始觉得很无聊。以为不停的做这些小三角形很没有意思。最小的动物要用一百个三角形。我每天折呀，折呀，折……我真想放弃了，可是，妈妈和同学要我继续做下去，所以我就呆在班里了。
    </p>
    <p>
      过了一段时间，我开始做我的第一个项目：一只猫。在这之前，我已经做了一个小水果和一个小星星，可那些是很小，很容易的东西。为了做这只猫，我用了几个小时折了几百个小三角形纸片。我开始先打底，把它们一片一片地插进去做成一个圆圈，然后再一片一片往上加。做着做着，我就看出来那些小三角形的用处了。我把越来越多的小三角形插到一起，那个小动物就会越来越像，越来越好看了。当我把小猫做好的时候,我把它放在桌子上仔细看，那个小猫比我想的还好！我花在做三角形上的功夫看起来很有用,那些开始看起来好像没用的小三角形纸片其实作用非常大！
    </p>
    <p>
      做完小猫后，我开始做更大的项目。每一个项目需要折更多的小三角形纸片。那个猫用了两百片，猫以后的项目需要三百，四百，五百片纸。最大的项目是一个孔雀，需要一千几百片。虽然每一个项目要越来越多片纸，但我折得越来越起劲儿，因为我特别想看最后的作品是怎么样的。我开始对折纸产生了很大的兴趣！我认识到那些看起来没有意思的小纸片经过我的手可以变成一个个美丽的小动物。
    </p>
    <p>
      第一年结束的时候,老师要从高中毕业了。因为她要去上大学，所以教不了我们的折纸课了。我认识的那个同学就成了新的老师。我变成了他的助教，帮他上课。做助教我不只要自己做，还要教新来的学生做。我先教学生怎样折小三角形。只会折纸片是第一件事儿，还要教学生怎样把纸片一个一个插起来。做助教给了我很好的锻炼，让我为做老师做了准备。
    </p>
    <p>
      从去年八月份，我做了老师。我想要把课教好，第一是要有个计划。我的计划包括每堂课要教什么和怎么分配项目。跟前一年没有计划比，有一个计划是很有用的。这样我上每堂课前都有准备。第二是知道每一个学生会有不同的需要和学法。第一部分折三角形是基础，我可以给大家一起教。从那儿后就需要每个学生一个计划了。有的学生很想做大的项目，也有学生喜欢做一些小动物。知道每个学生的需要是很重要，让我知道怎么能最好的帮助他们。
    </p>
    <p>
      今年我有十个学生。大多数都是新同学。她们上我的折纸课快一年了。我的课教得还不错，学生都坚持上了。我很骄傲,我觉得教折纸课是我对长城中文学校最大的贡献。</p>
    <p>
      从第一年做学生，到第二年做助教，到第三年做老师，我和我的折纸班用自己的折纸技能做了很多志愿服务，比如去养老院看望老人，去图书馆，小学参加中国文化宣传活动，为庆祝中国新年搞庙会，教小朋友做折纸。我三年前肯定没有会想到叠一些小三角会有这么多的作用，这么好玩,这么有意义，和这么让我满足！
    </p>
    <hr />
    <h3 class='story-title'>我和长城中文学校</h3>
    <p class="story-author">陈东</p>
    <img src="assets/images/people/matt-chen.jpg" class="story-author-image" />
    <p>
      我从小开始上中文学校，在长城中文学校做了很多重要的事，留下了很多珍贵的记忆。这十年对我的个性有很大的影响—如果没有上中文学校，我肯定不会成为我现在的样子。</p>
    <p>
      在长城中文学校，虽然我学到了一些中文，做了一些义工，参加过一些活动，但写这篇毕业文章的时候，我一点都不想写这些事。追忆这十年的往事，我想到跟我一起度过这十年的各种各样的人，因为他们对我的影响很大，我很想用这个时间感谢他们。
    </p>
    <p>
      第一，我想感谢每个老师。很多人说我中文说得不错，可是我小时候一点都不喜欢学中文。但是，因为一两个老师的耐心地培养，我慢慢地懂得中文的意义，中文进步到现在的水平。</p>
    <p>
      第二，虽然他们现在不在这里，我想感谢所有的比我高一年级的同学。我从小就开始上中文学校，认识到很多比我大的好朋友。在这十年中，我一直钦佩比我大的同学，从他们那学到了很多很多不同的重要的经验。</p>
    <p>
      第三，我想感谢其他的学生。在中文学校，我当过四年中文辅导老师和数学老师，我总是觉得教学生很好玩。</p>
    <p>
      最后，我想感谢其他的同学。在这十年之内，虽然我们大多数的人都对中文没有那么大的兴趣，但我觉得每一个星期，每一个活动都挺有趣的，因为有你们在。</p>
    <p>
      <scan class='latin'>Brian</scan>，我从小就认识到你了，开聚会的时候一直见到你。虽然我们没上同一个高中，但是能认识到你，和你一起做这么好的朋友，我觉得这是一件很幸运的事。上了大学以后，希望我们还能一直做好朋友。</p>
    <p>
      <scan class='latin'>Jack</scan>，我回到长城中文学校的时候就好像和你开始当好朋友了。你是一位很兴奋的人，在任何活动中，有了你，那个活动就变得那么好玩，那么开心。我希望你一直能保持这个态度，让你周围的人感到那么的开心。</p>
    <p>
      <scan class='latin'>Annie, Kevin</scan>和<scan class='latin'>Melanie</scan>，和你们一起搞主持演出挺好玩的。虽然我们已经主持了三多年的表演，我还是觉得我们写出来的剧本又没意思又不搞笑。可是，我还是很喜欢跟你们一起上台，一起主持节目。</p>
    <p>
      对我很重要的人实在太多了，但因为篇幅的关系，我不能提到他们每一位。我在长城中文学校真的产生有太多好的回忆了。因为我在长城中文学校里长大的，这些回忆融合到我现在的性格。</p>
    <p>
      我现在要毕业了，要离开长城中文学校了。在这里，我有过不同的感受：愉快，无聊，伤心，和搞笑，可是以后，回想起来长城中文学校，我觉得我只会想到很开心的回忆。</p>
    <p>
      这十几年实在对我太重要太重要了，所以最后一次，谢谢长城中文学校。</p>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学生作文 2019 (C-11)</div>
  <div class="card-body story-text">
    <h3 class='story-title'>C11/AP班前言</h3>
    <p class="story-author">教师: 叶云飞</p>
    <img src="assets/images/people/yunfei-ye.jpg" class="story-author-image" />
    <p>
      在美国，凡是孩子上了高中的家长都了解AP课程的重要性，学生是否能在中学修AP课程、修多少门，是否选修具有挑战性的课程并顺利结业，都会成为大学招考官判断学生学习能力的标准。</p>
    <p>
      AP课程可以帮助学生增加GPA成绩，平均每门AP课程成绩可增加GPA分值0.1分;AP课程成绩可以换算成大学学分，帮助节省高昂的大学学费。</p>
    <p>
      自2007年5月，美国举行了第一次AP中文考试，迄今为止AP中文考试已历经11年。AP中文课程及考试难度及范围相当于美国大学四个学期（约250小时）第二外语的程度，内容包括中文听、说、读、写及中国文化。语言是普通话，字体是简体、繁体并用。90%左右的美国、加拿大大学，以及20个左右其它国家的大学都承认它的学分。
    </p>
    <p>
      目前长城中文学校所选用的《收获Harvest》是专门针对AP考试设计的教材，内容主要包括：中国传统文化介绍（节日、传说、民俗等）；中国历史地理介绍；中美文化比较；中学生日常生活用语等内容。</p>
    <p>
      今年是我在长城中文学校教AP班的第九年，每年我在讲授这本教材时，会根据学生的中文程度不一，进行调整，删减或添加，归类解析。对往年已经考过的内容复习，对未考的内容重点并详细讲解，平时授课时除了讲授文化和文字，还会加强考试技巧的训练，针对听说读写进行各种模式与非模式的训练，考前进行各种实时模拟考试，帮助学生确定他们的学习目标，并配合学校协助学生做好AP考试的注册工作。
    </p>
    <p>
      这九年来，我们长城中文学校的AP班学生，尽管已经是在繁忙的高中阶段，但是孩子们出勤率很高，学习有积极性，几乎所有的考生都取得了不错的成绩，这一点也是鼓励我坚持教这个班九年的主要原因，在这里要谢谢所有的孩子们和家长，感谢大家的努力和支持！
    </p>
    <hr>
    <h3 class='story-title'>生而为人</h3>
    <p class="story-author">朱玉莲</p>
    <p>
      我六岁的时候，我天天央求妈妈让我去踢足球，为了达到目的，我每天都提同样的问题：“妈妈，我可以参加我朋友的足球队吗？”在我的纠缠和努力下，妈妈终于同意了！现在想一想，如果当时我没有坚持和努力去做，我现在是不会踢足球的，足球也不会成为是生活很重要的一部分。所以，我觉得生而为人，需要坚持，需要努力。
    </p>
    <p>
      从我们出生到死，每个人都需要一个生活的目标，这个目标不是上帝给你的，而是需要你自己去找寻的。这个目标不仅是个人的，也是社会的，在完成的过程中，你需要别人的帮助，同时你也要帮助别人。我们总希望在这个地球、这个世界留下一点点的影响，无论大小。所以我生而为人时，要尽肯能帮助更多的人，让这个世界因我而美好！
    </p>
    <p>
      还有，对我而言，家庭是非常重要的，因为他们是这个世界上最爱我的人和最支持我的人。如果没有家人的支持，我会成为一个截然不同的人，一个没有生活目标和方向的人。所以向你爱的人表达爱和欣赏是很重要的，这也是我们生而为人与其他动物最大的不同。
    </p>
    <p>
      在我的世界，坚持努力、与人为善、珍惜家人，就是生而为人最为重要的东西!</p>
    <hr>
    <p class="story-author">杜俞萱</p>
    <p>
      每个人都有生命，可是没有人知道生命的走向会怎样。你一天天健康地活着，也许某天就突然得了很重的疾病离开人世。在影片里看到别人的身体出了问题和他们所经历的痛苦之后，我明白了生老病死是每个人必须经历的，同时也明白了健康的我是有多么幸福！
    </p>
    <p>
      有时生命是不公平的。如果你是健康的，你可以去学校，跟朋友玩，参加各种社会活动，每天回到温暖的家里，吃家里好吃的饭菜，睡在自己舒服的床上，不用担心金钱的问题，看着周围人的人活得健康幸福。但同时，有些人必须要面对不幸的疾病。生病的人必须要住医院，吃医院的食物，你的家庭需要支付高昂的医药费，你的亲人会因你的疾病不再像以前那么开心，而且病人自己更痛苦，疾病让你原本平静的生活变得没有质量而悲惨。
    </p>
    <p>
      人活着，总会有各种各样的问题出现，比如疾病、贫穷、自然灾害，很多事情是我们无法预料的。所以，生而为人、需要知足，世界上任何东西都不是白给的，包括健康。现在我们能每天开心上学、有吃有穿、行动自如，就应该珍惜，快快乐乐享受每一天！
    </p>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学生作文 2019 (C-10)</div>
  <div class="card-body story-text">
    <h3 class='story-title'>学生是否应该打工</h3>
    <p class="story-author">教师: 张贵春</p>
    <hr>
    <p class="story-author">陈茜</p>
    <p>
      我觉得学生应该打工。如果学生们去打工，他们会学会怎样管理好自己的时间。有了工作，学生将会知道怎么把学习和工作都做好。除了管理时间以外，学生也能得到工作经验。有了工作经验以后，他们在未来的工作上会做得更好。学生也会学会工作和挣钱不是个容易的任务，我们通过打工也会认识到爸爸妈妈挣钱不容易，会更加珍惜我们现在拥有的生活。打工挣的钱也可以作为零花钱减轻家里的负担。
    </p>
    <p>
      有人觉得学生们不应该打工因为他们觉得工作会影响学习。然而工作不会影响学习，因为学生可以选择在有空或者周末的时候打工。如上面提到的，学生也可以学会怎么管理好时间。把自己的时间安排好，工作应该不会影响到学习。因此，学生不仅会有好成绩，而且还会得到工作经验。
    </p>
    <hr>
    <p class="story-author">高郑皓</p>
    <p>
      现在社会上很多学生利用业余时间打工。关于这个问题不同的人会有不同的观点，但是我觉得学生应该打工。</p>
    <p>
      很多学生说打工是一个很好的生活经验，理解工作是有多么难和多么辛苦，学会与人交流，如何处理各种情况，如何适应各种环境。以后他们会有更多的社会经验快速找到工作。</p>
    <p>
      现在上大学的学费很贵，会有学费的问题，有些学生和家庭负担不起学费。学生早早打工挣钱能给家里减少一点的负担能够让我们学会怎么独立生活，如何管理金钱。</p>
    <p>
      从另一方面来说，学生也可以用这些钱来买他们想要的生活用品。比如，可以用自己挣得钱买想要的手机，电脑，零食或者化妆品。</p>
    <p>
      打工的同时，学生提高了独立思考和应变的能力。可以大胆地去问、去想，培养了合格人才。</p>
    <p>
      总的来说，学生能够在社会中学到如何独立生活，擅长与人交流，最终能够与社会融合起来。</p>
    <hr>
    <p class="story-author">陈曾玉</p>
    <p>
      我们现在的工作环境竞争非常厉害。高中学生和大学学生们都更加紧张，有更多的压力。这是因为我们这一代的孩子们从小被别人说，如果他们要长大拿到好的工作，他们应该做很多不同的活动。这也是为什么更多的高中学生出去打工。如果学生可以找到时间打工，他们应该打工，因为这会对他们的将来有好处。
    </p>
    <p>
      首先，打工可以教会学生许多重要技能。比如说，在一个快餐餐馆工作可以帮助提高客户服务技能。如果你有办公室工作，你可以提高企业技能，比如接电话，跟别人沟通，作文书工作等等。每个工作有自己的技能，所以学生应该早点工作。</p>
    <p>
      打工也可以给学生们真实的生活经历。学校里的课不见的是真正的经验。一个学生可以在学校里学商业，可是毕业以后一件事都不知道怎么做。这是因为学校没有提供实际工作的环境。如果学生要真正的学到他们要学的专业，他们应该先打工，收到这些真实的生活经历。
    </p>
    <p>
      最后，学生可以早点儿赚钱，开始学习经济责任。如果学生的父母需要钱，学生可以帮助支持家庭。</p>
    <p>
      我知道打工有很多压力，可是我认为学生应该打工。打工有很多好处，比如获得很重要的技能，真实的生活经历，赚钱、学习经济责任，打工最终会帮助学生们将来的工作。
    </p>
    <hr>
    <p class="story-author">陈曾龙</p>
    <p>孩子应该工作，因为他们需要学习现实世界。工作即让他们挣钱，也是孩子们体验现实生活的条件，并为将来他们毕业后工作做准备。
    </p>
    <p>
      除了整天玩游戏外，工作还让孩子们做了一些事情，体验了社会。如果孩子不工作，他们会认为世界很容易。然而，现实世界比学校更难，学习原始技能对于现实世界的成功是必要的。在申请大学时，工作也给孩子们一个令人印象深刻的简历，肯定会帮助你进入更好的大学，同时赚大钱，并有一个良好的开端。
    </p>
    <p>总的来说，我相信，作为一个孩子，你一定应该在现实世界中工作。它可以极大地帮助您的未来，让您在没有父母帮助的情况下更习惯于自己独立。除了时间之外，工作的孩子在高中和大学毕业后对他们的未来非常有好处。
    </p>
    <hr>
    <p class="story-author">黄安妮</p>
    <p>生活在二十一世纪里的学生很多在大学开始打工了。可是现在有个很大的问题，学生应该不应该打工？我觉得学生应该打工，因为打工会帮助学生学会怎么挣钱和管钱，以及让学生有更多工作能力和生活经验。
    </p>
    <p>首先，很多家庭可能太穷。没有钱给孩子买他们想要的东西。通过打工，学生可以自己去挣钱，不用乱花他们父母的钱。
    </p>
    <p>
      其次，他们可以学到，钱是很难挣到的，花的时候只能买他们真正需要的东西。学生自己挣的钱自己花，这样，他们就得学着管理他们挣的钱。每月挣了多少钱，他们想买什么东西，要打几个小时的工，这些东西学生都可以学着量入为出。慢慢地他们会学到应该怎么管钱。
    </p>
    <p>第三，打工可以让学生有更多的工作能力和生活经验。有些人说打工会影响学生的学习成绩，可是打工真的会帮学生学到怎么当个有责任的人。在未来的工作和生活里，他们会有更多的经验去应付和管理自己的财富。
    </p>
    <hr>
    <p class="story-author">汪玉杰</p>
    <p>如果学生是否应该工作取决于家长，那他们会认为学生不应该工作，但打工对将来找工作是有益的。虽然工作可能会占用休闲或家庭作业的时间，但学生获得的优势是值得的。
    </p>
    <p>
      做兼职工作最直接的回报就是可以挣钱，赚来的钱也可以支付大学或大学必须支付的巨额金额。此外，大学的家庭作业和课程将比高中更难，更重。因此，兼职工作将成为大学或大学时间的一个更大的问题。换句话说，最好是在高中兼职。除了报酬，从兼职工作中获得的另一个重要好处是在体验中学到的技能。兼职工作可以简单地成为未来职业的一种实践。例如，如果学生希望成为药剂师，他或她可以从药房开始兼职工作。此外，可以开发诸如团队合作，沟通，领导，时间管理和独立工作等众多技能。
    </p>
    <p>因此，在高中开始兼职工作是一个好主意，因为它提供了未来职业所需的经验和技能。兼职工作的最重要的好处是可以学习到钱的管理。
    </p>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学生作文 2019 (B-10)</div>
  <div class="card-body story-text">
    <h3 class='story-title'>我的爱好</h3>
    <p class="story-author">教师: 余亚欣</p>
    <hr>
    <p class="story-author">HannahToulouse</p>
    <p>
      我的爱好是跳舞。我跳了很多年，最多可能是6年。我曾经为丹佛野马跳舞5年。现在，我将尝试为我的学校的舞蹈团，她给我带来乐趣.跳舞是我的热情，当我感到无聊时，这真的很有趣。</p>
    <hr>
    <p class="story-author">SydneyCaro</p>
    <p>
      我喜欢做艺术。艺术是我的爱好。我喜欢的艺术是彩色粉笔。我喜欢做彩色粉笔，因为它更容易，看起来很棒。我喜欢在空闲时间做彩色粉笔。这很愉快。</p>
    <hr>
    <p class="story-author">肖子楠</p>
    <p>
      我的名字是肖子楠。我的爱好是看动漫，打篮球，画画，弹钢琴，打游戏。我每个星期三要去画画班。我和朋友一起在学校打篮球。我每个星期一去钢琴课，在Parker附近。并且我也喜欢在家里看动漫。</p>
    <hr>
    <p class="story-author">正华</p>
    <p>
      我有很多爱好。我最喜欢的爱好是原型和工业制造。现在我没有做很多东西;可是我已经做了很多事情。在我开始上大学之前，我非常忙于徒步旅行，攀岩和钓鱼。但由于我的大学时间表，我没能做多少。我继续加工的原因是因为我希望拥有自己的机加工车间。在我的训练中，我做了很多事情。这些包括小型桌面物品和中型发动机和原型机的装饰。
    </p>
    <hr>
    <p class="story-author">肖洁</p>
    <p>
      我有很多爱好。我喜欢写和画画。我非常喜欢艺术。我每天都写，很晚才可以睡觉。星期四，我下棋。国际象棋我很擅长。每个星期二我也做跆拳道。锻炼身心都很重要。在我以前的学校，我拉小提琴，但现在还没有足够的时间。我大部分时间都在学校度过。但是在我的空闲时间，我会写作，画画，下棋，然后去跆拳道。
    </p>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学生作文 2019 (C-9)</div>
  <div class="card-body story-text">
    <h3 class='story-title'>黑龙的爱情故事</h3>
    <p class="story-author">李玉琦 Leach, Yuki 教师：丁莹</p>
    <p>
      很多年前，有一位年轻女人。这个女人叫黑龙。作为一个龙妖怪，她被许多人所害怕。黑龙以前从来不知道爱情也从来不知道友谊。黑龙统治着寒冻的北方。有一天她巡视她的领地，她遇到了一个凡人。这个男人受了伤。黑龙不知道该怎么办，她应该杀了他吗？只有在战场上，她才与人类接触过。男人看着黑龙，惊呆了。他不知道黑龙是妖怪，而是他见过的最美丽的女人。
    </p>
    </p>
    <p>“我是李杰，您叫什么名字？”李杰快速地问黑龙。黑龙退后一步，“我应该回答他吗？”她想。
    </p>
    <p>“本公主叫黑龙，你为什么在本公主的领地？“她问道。李杰试图站立，但由于他的伤口他站不起来。“我是南方的将军，我在一次非常大的战斗中受了伤，我不知道我为什么在这里” 李杰说。
    </p>
    <p>“南方？ 你为谁而战？“黑龙有点儿生气得说。“蛇妖怪。它们绑架了我们的孩子”李杰说。
    </p>
    <p>蛇妖怪，他们也在北方造成很多麻烦。他们的胆子真大呀。黑龙突然抱起李杰，“喂！您干什么？！”
    </p>
    <p>“我要把你带到我父亲那里。”
    </p>
    <p>“为什么？！”
    </p>
    <p>“我们妖怪和人类现在有共同的敌人，我们可以一起战斗。”黑龙说。
    </p>
    <p>“您是妖怪？！”李杰不相信地问道。
    </p>
    <p>从那一刻起五年过去了。黑龙和李杰一起和蛇妖怪战斗，经过许多年的努力妖怪部落和人类之间停战了。黑龙和李杰也相爱了，由于这种爱是被禁止的，所以黑龙和李杰试图一起逃跑，但他们的爱情最终没有好结果。
    </p>
    <p align='right'>未完待续 ……
    </p>
  </div>
</div>
<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学生作文2019(C-8)</div>
  <div class="card-body story-text">
    <h3 class='story-title'>给校长的信，让学生使用电脑</h3>
    <p class="story-author">教师:吴雯</p>
    <hr>
    <p class="story-author">袁熔彬</p>
    <p>你好校长，</p>
    <p>
      我觉得让学生用电脑是一个好主意。学生在电脑上打字很快，听老师讲课做笔记更方便。有学生会不专心，老师不知道的时候玩游戏，但是用电脑的好处比坏处更多。我觉得给高中学生电脑会更有效应为大孩子比小孩子更有自控能力。有电脑以后，孩子就不用带书和笔去学校了。
    </p>
    <p>在历史和语言艺术课用电脑会有效。在课里学生可以用电脑写作文和做笔记。在数学和科学课里不需要用电脑因为功课能在纸上做。</p>
    <p>给高中学生电脑是一个好主意。让高中学生在语言艺术课和历史课用电脑会有效。虽然会有不专心的学生，高中孩子有更多自控能力。</p>
    <hr>

    <p class="story-author">杨若琳</p>
    <p>
      学校一定要买电脑，因为电脑有很多的好处。用电脑的好处是在电脑上你打字快。如果你写错了，或者你觉的需要修改在电脑上会更方便。你可以用电脑查资料，学习等好处。但是，如果长时间在电脑上，会发胖，视力下降。</p>
    <p>
      我觉得8年级及以上适合用电脑。因为6年级的学生刚上完小学，所以可能自控能力差。虽然他们的自控能力强一些，但是他们还有可能不能控制自己。</p>
    <p>
      语言美术，历史，科学，科技等课都适合用电脑。数学，体育，美术，语言课等不适合用电脑。</p>
    <p>
      学校可以规定用电脑的时间，学校可以有一定的不用电脑的时间。一半的课在电脑上，另一半在纸上。这用视力不会影响，也有时间让眼睛休息。所以学校一定要买电脑。</p>
    <hr>
    <p class="story-author">肖子楠</p>
    <p>
      我的名字是肖子楠。我的爱好是看动漫，打篮球，画画，弹钢琴，打游戏。我每个星期三要去画画班。我和朋友一起在学校打篮球。我每个星期一去钢琴课，在Parker附近。并且我也喜欢在家里看动漫。</p>
    <hr>

    <h3 class='story-title'>最难忘的的事</h3>
    <p class="story-author">施莉莎</p>
    <p>
      世界上有许多难忘的事情，但是有一件事情是我永远不会忘记的。我以前有个老师，他就是一个简简单单的老师。像每个老师一样，他会教学生，他会帮学习，而且他尊重大家。虽然他的名字我己经忘记掉了，但他的行为却让人念念不忘。
    </p>
    <p>
      每天早晨，他都会早早来到校门口，帮其他老师和同学拉门。如果有需要的话，他总会第一个跑到门前，永远不会让其他老师帮他拉门。学校的每一个老师都知道这件事，也很尊重他。在教室里面，无论学生或其他老师给他什么东西时，他都会用“谢谢”来表达他的谢意。当他请求一件事情需要其他老师或学生帮他的时候，他总会用“请”来得到帮助。这就得到了学生的尊重。当听到这个老师要退休时，大家都很伤心。他留给大家一句话，永远用“谢谢”和“请”，这是世界上让人最难忘的事情。
    </p>
    <p>
      老师走了以后，学校强烈要求人们用“谢谢”和“请”。他的行为让整个学校永远不会忘记他，也赢得了学校最好老师奖。这件事一开始是一件小事，就两个字，“谢谢“和“请”可以带动整个学校。他不仅教会我如何面对其他人，怎么赢得别人的尊重和怎么做人，他也留给大家一个永远难忘不了的回忆。
    </p>
    <hr>
    <h3 class='story-title'>假如我是一只鸟</h3>
    <p class="story-author">曹文韵</p>
    <p>
      假如我是一只鸟，我希望住在中美洲或南美洲的热带雨林中。
    </p>
    <p>
      我的生活将充满冒险和刺激，我的羽毛在我的头部和翅膀周围是蓝色和红色，并且腹部是黄色的，我将是一只金刚鹦鹉。我希望有一个巨大的翅膀。我能够自由的飞越高空和雨林树顶。能够飞行真的很有趣！我会看到很多五颜六色的鸟类以及许多不同种类的植物或虫子。我会有一条长长的优雅蓝尾，这将有助于在飞行中达到平衡。这将帮助我融入所有五颜六色的鲜花和树叶中。我也会有一个巨大的强大的鸟嘴来打开坚果和水果，坚强的爪子可以抓住树枝。我会在夜里睡觉，每天早晨醒来都会看到第一缕阳光。作为一只鸟，我也会吃很大的虫子！我的家人将包括20只其他金刚鹦鹉，我们会一起唱歌，尖叫和发出唧唧声。我和我的家人都很聪明，大家在一起交流和互相帮助，还可以在热带雨林中滑翔，玩得开心。有危险时，共同抵御外敌。
    </p>
    <p>
      假如我是一只鸟，我会当一只自由和快乐的金刚鹦鹉，可以体会不同的人生，这是一件多么有趣的事情。
    </p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学生作文2019(C-7)</div>
  <div class="card-body story-text">
    <h3 class='story-title'>C7班前言</h3>
    <p class="story-author">教师: 王欣</p>
    <img src="assets/images/people/xin-wang.jpg" class="story-author-image" />
    <p>
      在长城中文学校这个温暖的大家庭里，我任教的中文七班是一个多才多艺，鬼马精灵的班,学生们活泼向上朝气蓬勃。他们当中有帅气的网球少年和游泳健将，有美少女小画家，有中文听说读写流利的双语小学霸，还有聪慧的编程小能手。孩子们有思想有头脑有主见，天马行空的，同时也懂事上进。在过去的一年里，中文七班的同学们在自己的努力和家长的督促下取得了骄人的成绩。
    </p>
    <p>
      中文七班的学习以《轻松学中文5》教材为主，并根据学生的水平和兴趣添加了辅助阅读和对话材料。这套教材注重实用性，内含彩色插图、实用的对话和简短的文章，并配有简单的语法点讲解和文体写作介绍，帮助学生用流利、准确的汉语进行日常交流。《轻松学中文5》有5个单元，每个单元3课，分别介绍
      “家庭、爱好、交友”,“气候、订机票、购物”, “学汉语、暑期工、开派对”, “饮食、意外、做义工”, 和 “中国、春节、年夜饭” 等贴近生活的日常内容。配套的学生练习册进一步强化相关语法和词汇，同时锻炼学生的读写能力。</p>
    <p>
      每一堂课，我们都会学习新的中文词汇，进行课文精读朗读，并且学习新的中文语法知识点。课堂互动采用全班讨论，师生问答，小组活动和课堂陈述等多种形式。我们还加强了写作练习和时事泛读和讨论。现在每节课都从听写和造句开始，课上添加了从社交媒体和网络新闻中挑选的讨论/阅读材料，课后争取让学生每周都写一篇小作文记录生活。
    </p>
    <p>
      同学们除了在课堂学习中文知识，还培养了深厚的友谊和对中文学校和周边社区的归属感和参与感。同学们积极参加中文学校的各项活动比赛，第一学期，我们班同学参加了 “美国科罗拉多州中文口语大赛”，并荣获中学组二等奖。第二学期，我们班同学在
      “侨报第七届美国少年儿童中文写作大赛中”又获得了优秀奖。同学们也报名参加了长城中文学校组织的各种义工活动，小小年纪已经懂得锻炼自己并回馈华人社区。</p>
    <p>
      与孩子们相处的这一年，作为老师我看到他们的成长倍感欣慰。与此同时，我也深感中文学习的道路任重而道远。作为老师，我将坚持有教无类、因材施教的教学理念，加强学习内容的真实性，时效性和趣味性，让每个学生体会到中文的美好。</p>
    <p>
      希望家长能继续支持孩子的中文学习，尽量多用中文和孩子交流，让中文变成他们生活中的一部分。希望我们班的同学们能够互相扶持鼓励，利用长城中文学校提供的良好资源学好中文，给自己的未来更多可能。</p>
    <hr />
    <h3 class='story-title'>我的理想</h3>
    <p class="story-author">潘冬明</p>
    <p>我长大以后要做一个生意人，有自己的大公司，让很多人有工作，赚很多的钱。我要把我的公司开遍全世界。</p>
    <p>
      我的公司是一个高科技公司，然后有很多的子公司，发明创造很多东西，让很多的人有工作，过着快乐的生活，为世界做出应有的贡献。</p>
    <p>
      我也想成为一个出色的外科医生，为很多病人解除痛苦，让很多人可以健康快乐的活着，攻克很多医学难题，尽最大的努力为病人解除痛苦。</p>
    <p>
      我也想做一个高科技工程师，设计更新的电脑电视手机等等，业余时间我会陪陪家人，也会打打网球，练练武术，弹弹钢琴，这些都是我的业余爱好。</p>
    <p>
      我还想成为一个出色的网球运动员，走遍全世界，成为世界冠军，征战球场，为国争光。</p>
    <p>
      我还想做一个钢琴家，让美妙的音乐从我的手指流出，带给人们美的享受。</p>
    <p>
      我长大以后无论是做一个生意人，做很多不一样的产品，还是做一个外科医生帮人解除痛苦，还是做一个高科工程师，或者是做一个网球运动员，为国争光，还是做一个钢琴家，带给人们美的享受，这都是我的理想故事。</p>
    <hr />

    <h3 class='story-title'>我的家庭</h3>
    <p class="story-author">施美琪</p>
    <p><img width='90%' src='assets/images/essays/meiqi-shi.jpg'></p>

    <h3 class=' story-title'>我的家庭</h3>
    <p class="story-author">Alex Stinemetze</p>
    <p>我有一个相当有趣的家庭。我们家吃饭的时间通常比大多数人早。有时在吃饭过后，我们会在一起玩游戏。我们有一条狗，他的名字叫
      Copper。它是一只英国可卡犬。我有一个哥哥，卢克，他现在是高中新生。我的妈妈易是一名为中国公司工作的建筑师。她主要在家里工作，在电脑上设计东西。我父亲史蒂夫在西联工作。他一般在办公室工作。</p>

    <h3 class='story-title'>我的家庭</h3>
    <p class="story-author">马铎瑞</p>
    <p>
      我的家庭成员是我，哥哥，爸爸，和妈妈。我是十一岁，喜欢画画，打网球，和做手工。我有画画和打网球课,两个都很好玩，也可以跟好朋友在一起做。我的哥哥是十七岁，他爱跑步，也跑得很快,总要参加长跑和短跑的比赛。哥哥也有很多朋友在他的跑步小组，每天要跟朋友去活动。我的妈妈爱程序设计，她每天都要做，觉得挺有意思。妈妈也跟哥哥一起教小朋友程序设计。爸爸很喜欢玩游戏和每天上网，也喜欢做饭和种菜。我们一家人喜欢一起吃饭，聊天，玩游戏，打麻将，和玩扑克。
    </p>

  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学生作文2019(C-6)</div>
  <div class="card-body story-text">
    <h3 class='story-title'>C6班前言</h3>
    <p class="story-author">教师: 申曼丽</p>
    <img src="assets/images/people/manli-shen.jpg" class="story-author-image" />
    <p>
      我们六班的学生个个聪明，勤奋又充满朝气！我们的班级就像一个大家庭，师生之间互敬互爱，孩子们之间友谊深厚！看着孩子们在中文的学习上一天天的进步，一天天对中文的热爱，作为老师，我感到无比的欣慰和自豪。
    </p>
    <p>
      中文六班学习《轻松学中文4》，这是一套注重于中文的应用性和实用性的教材，在听，说，读，写四方面都有较全面的专项学习和配套的课后练习。这套教材的内容更贴近我们的学习和生活，学生容易理解接受和应用。学习内容包括了日常起居，学校活动，节日，美食，考试，职业等等。每堂课，我们都会做相应的练习题来强化我们当堂课学习的内容。我们还通过对不同题材和体裁课文的学习，了解汉语的句子结构和正确的语序，培养提高学生的中文语感，以及词汇的积累。
    </p>
    <p>
      我们班还学习如何使用《新华字典》，孩子们现在已经掌握了如何通过偏旁部首来查找到陌生的字词。我还在课堂上加入了中国四大名著之一《西游记》的学习，孩子们通过观看动画片，了解到了唐僧，孙悟空，猪八戒和沙僧师徒四人一路降伏妖魔，历经各种磨难去西天取经的故事，并从中学到了团结，勇敢，执着和锲而不舍的精神。
    </p>
    <p>
      今年我们班的学生参加了 “科罗拉多州中文口语大赛”，荣获了（中学组）一等奖；在第二学期，参加了 “侨报第七届美国少年儿童中文写作大赛”，获得了三等奖和鼓励奖；去年，我们班的学生也获得了 “第六届美国少年儿童中文写作大赛”
      芝加哥区一等奖。</p>
    <p>
      孩子们在学习中文过程中取得的进步，离不开他们自身的坚持和努力，更离不开家长们对他们学习中文的支持和课后的督导。希望我们班的孩子们在今后的中文学习道路上能持之以恒，再创佳绩！</p>
    <hr />

    <h3 class='story-title'>假如我是机器人</h3>
    <p class="story-author">方妞妞</p>
    <p>假如我是机器人，我会去养老院看望老人，他们想听什么歌，看什么舞蹈，只要轻轻一按我的手，我就会表演给他们。我还会开车带他们看医生，做他们的小翻译。</p>
    <p>
      假如我是机器人，如果邻居家的小猫上树下不来，我会爬树救小猫。如果邻居家的小狗不听话乱叫，我会用狗狗能听懂的语言，告诉它要安静。</p>
    <p>
      假如我是机器人，我会帮助妈妈做家务，每天都能做出各种风味的饭菜，想吃包子做包子，想吃油条炸油条。冬天下雪的时候，我会清扫大雪，这样爸爸就可以多睡会儿，不要早起。</p>
    <p>
      我也想做一个高科技工程师，设计更新的电脑电视手机等等，业余时间我会陪陪家人，也会打打网球，练练武术，弹弹钢琴，这些都是我的业余爱好。</p>
    <p>
      哈哈，这是我的想像，我要好好学习，争取造出这样多功能的机器人。</p>
    <hr />

    <h3 class='story-title'>最难忘的事</h3>
    <p class="story-author">宋怡霖</p>
    <p>每个人的一生里都会有很多难忘的事。对我来说，我最难忘的事就是在2017年2月12日跟妈妈在The Buell
      Theatre表演葫芦丝。这是我最难忘的事，因为那是我和妈妈第一次在美国舞台上正式表演中国民族乐器。我和妈妈想把葫芦丝美妙的音乐传遍整个剧场！</p>
    <p>那天，我和妈妈都特别兴奋和激动。我们那天表演的曲子是《月光下的凤尾竹》。这个音乐是来自傣族的一个乐曲。我们那年也特别幸运，因为我们可以跟中国著名的竹笛演奏家--蔡拯叔叔一起同台演出！</p>
    <p>
      我们快要上台时，我开始特别紧张了。在我的心脏里，我感觉有一个小兔子蹦蹦跳跳的。我对妈妈说，“妈妈，我特别紧张。”妈妈抱起我，回答，“小宝，你吹的那么好，不需要紧张。再说了，妈妈也跟你一起上台啊！”妈妈在我脸上亲了无数遍。妈妈是我世界上最爱的人！我跟妈妈和蔡拯叔叔一起上这么大的舞台表演是世界上最棒的机会。
    </p>
    <p>
      主持人叫完我们的名字后，我跟着妈妈上台了。音乐就开始响了。我拿起葫芦丝，跟着美妙的音乐一起吹。我们演完了，观众使劲给我们鼓掌，蔡拯叔叔还夸我表演的太完美了。我和妈妈回到后台时，妈妈一下把我抱起来，使劲的亲我。“小宝，你看！你表演的多棒啊！”
    </p>
    <p>那天是我最难忘的事，因为我，妈妈，和蔡拯叔叔一起在美国的舞台上表演了中国民族乐器葫芦丝。这一天就是我最难忘的事，因为我和妈妈把中国民族音乐带到了世界！</p>
    <hr />

    <h3 class='story-title'>假如我是一只宠物鼠</h3>
    <p class="story-author">郭美彤</p>
    <p>
      我有一只宠物鼠，它的名字叫Mike。我最近观察了一下Mike，我发现它每天吃了睡，睡了吃，很喜欢吃青草，最近还爱上了萝卜。它也很胆小。每天都躲在它的楼梯底下，想把它抱出来都不行。因为如果试着抱它出来的话它就会用锋利的爪子抓你。所以我想，如果我是它，我会怎么做呢？
    </p>
    <p>首先，如果我是Mike，我不会天天呆在一个角落，我会每天都在笼子里运动。我不会像它吃这么多，要减肥。还要发明一些游戏跟主人玩。也会比它更勇敢，把笼子全部地方都走遍。我会在笼子里建造老鼠王国，生小鼠，然后带他们玩遍天下。</p>
    <p>我会在老鼠王国里面建造很多建筑，像学校，城堡，医院，公园，公司，和房子等。我会让世界上的所有宠物鼠都住在我的老鼠王国里。我会制造老鼠王国的钱（一张上面有草和米的纸），让老鼠们去工作赚钱，为它们的小老鼠挣钱。</p>
    <p>如果我生了小老鼠，我会带它们去其它的老鼠王国里玩。我们会做一台飞机玩遍地球，去其他的国家，跟亲戚玩耍，去宠物店玩，和玩捉迷藏。然后，我会写一本书叫《老鼠历险记》。</p>
    <p>最终，我希望我的主人会开心，会喜欢我。如果每个宠物鼠都这么样，那所有人都会喜欢宠物鼠了！</p>
    <hr />

    <h3 class='story-title'>假如我是水</h3>
    <p class="story-author">陈若然</p>
    <p>
      假如我是水，我就会到处旅行。
    </p>
    <p>假如我是大自然中的水，我可能在你家旁边的小河里，小鱼也住在我里面。</p>
    <p>假如我是盐水，我会在大海里面填满全世界。有的时候你会在我里面游泳，雪也化成我。</p>
    <p>如果我是自来水，我就会天天在水龙头里冲来冲去，帮助你们洗菜洗碗。你有的时候会喝我。</p>
    <p>
      如果我是河水，千万只小动物住在我里面，小小的寄生虫也住在我里面，小虾也住在我里面，小鱼也住在我里面，渔夫也常常在我里面钓鱼。大大小小的动物都住在我里面，苔藓也住在我里面。你也经常在我旁边玩。我不会像海水一样流动，我只会呆在一个地方。冰也会化成水流到大海里，再变成自来水，然后你们就会喝我，我就循环起来了。
    </p>
    <hr />

    <h3 class='story-title'>第一次滑雪</h3>
    <p class="story-author">顾梓和</p>
    <p>
      一月十八号，我第一次去滑雪。妈妈带我去了著名的滑雪胜地，Steamboat Spring。
    </p>
    <p>早上，到了那里，我们先去滑雪商店去租借滑雪用具。那双滑雪鞋可真是笨重啊，穿上它，我走起路来，像只企鹅似的；还有那个滑雪板，重的像头大象似的。我全副武装后就迫不及待地朝滑雪学校跑去。</p>
    <p>
      虽然我只等了5分钟教练就来了，但是我感觉就像很久很久。总算开始上课了，教练先教我们怎么穿我们的滑雪板，我按照教练的指示，咔嚓一声把我的滑雪板穿上了。然后，教练让我们像滑滑板车一样，用一只脚用力蹬地，在雪场里滑来滑去。接着，教练教我们怎么穿着滑雪板爬坡。爬坡的时候，雪板要和山坡的方向垂直，走起来呢要像螃蟹一样，横着走。我在爬的时候，往下滑了好几次。等我们好不容易爬到半山腰，教练开始教我们刹车。学完刹车，总算可以乘扶梯上高坡了。我们乘到最顶上，然后“嗖”的一下，我就从上面下来了。我们滑了好几次，真是有趣。吃完午饭以后，我们乘缆车到一条绿道上滑，在那里我差一点摔个大跟头，幸好我控制住重心，稳住了。
    </p>
    <p>一眨眼，时间到了，滑雪课结束了，我们得回去了。我依依不舍地离开了滑雪场。再见，滑雪场！我还会再来的！</p>

  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学生作文2019(C-5)</div>
  <div class="card-body story-text">
    <h3 class='story-title'>C5班前言</h3>
    <p class="story-author">教师: 刘珏</p>
    <img src="assets/images/people/jue-liu.jpg" class="story-author-image" />
    <p>
      我们C5班的学生活泼可爱，勤奋好学，中文基础良好。C5班使用的教材是《马力平四年级》。为了加深学生们对词汇的理解，提高他们的表达能力，学完每篇课文后，我都会要求学生们自由选择三个新学词汇，写一篇
      “小练笔”。同学们开动脑筋，写出了许多有趣的故事。有的同学描写了自己奇幻的梦境，有的写了关于地震的科普知识，还有的写了和家人相处的小事。我会把同学们的小练笔放在班级网页上，也会在课堂上和全班同学一起分享。虽然故事简单，语言朴实，但一些生动的情节还是能获得全班的共鸣。非常感谢同学们的努力，相信只要坚持，他们的中文水平会越来越好！
    </p>
    <hr />

    <h3 class='story-title'>蝴蝶风筝</h3>
    <p class="story-author">胡颖玲</p>
    <p><img width='90%' src='assets/images/essays/yingling-hu.jpg'></p>
    <hr />

    <h3 class='story-title'>科学奥林匹克竞赛</h3>
    <p class="story-author">王嘉睿</p>
    <p>“我希望我们的团队做得好，”我心想。我参加了科州南部地区科学奥林匹克竞赛。我来自普来特学校，我们要与30多所不同的其他学校竞争，比赛谁做得最好。</p>
    <p>科学奥林匹克竟赛规则是，15人一个团队，每人可以参加多项科学研究项目，每个项目只允许俩人。我参加了热力学，电路学和游戏程序三项竞赛。</p>
    <p>
      竟赛那天，我和我的父母在早晨六点多钟就赶到比赛现场，做好赛前的准备工作。十点钟热力学比赛正式开始。
      首先，我不得不扣留我的用于热力学绝热装置。我制作的这个装置，假设保持75摄氏度，水温25分钟。然后我想猜测水的确切温度。除了热力学的绝缘设备部分外，还有一个书面测试部分。该测试的范围从热力学的历史到热力学的实验科学。测试始于历史，我和我的搭档答得都很正确。之后，我们开始做温度转换问题，例如x度开度到华氏度。然后转向处理计算和物理知识的一些更复杂的应用问题。这部分测试要困难得多，因为你实际上必须深入了解这部分主题。最后测试一些相图。这应该是测试中最难的部分，但我们仍然答得很好。测试询问图中液相，固相和气相的位置，三相点和超临界点在哪里。测试还询问超临界流体在相图上的位置，并且我都正确地标记了所有这些位置。虽然我对绝缘装置的猜测感到紧张，但我在这方面的临场发挥相当不错。
    </p>
    <p>
      在颁奖大会上，我获得了热力学竟赛的第一名，电路学竟赛的第二名，学校获得了团体总分第二名，我们欢呼自豪，感受到了成功后的喜悦！我们度过了一个紧张忙碌，兴奋而难忘的一天！</p>
    <hr />

    <h3 class='story-title'>钢琴</h3>
    <p class="story-author">洪睿卿</p>
    <p>
      我家有两架钢琴。一架是爸爸小时候弹过的立式的“古董”钢琴,琴键对我来说很松,方便我弹练习曲。另一架是给我新买的巨大的三角钢琴, 声音立体又漂亮, 一般正式的曲子我会用它弹。尽管两架钢琴有很多不同, 但是它们也有相同的地方。比如,
      它们都有八十八个琴键, 由黑的白的组成; 它们都很独立优雅; 它们都可以演奏出动听的音符!
    </p>
    <p>虽然钢琴是音乐之王,却也是我最亲密的朋友。我学习钢琴三年多, 它带给我许多快乐和感动。谢谢你, 钢琴, 让我的生活变得更加丰富多彩!</p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">C3班介绍</div>
  <div class="card-body story-text">
    <h3 class='story-title'>C3班介绍</h3>
    <p class="story-author">教师: 赵芳</p>
    <img src="assets/images/people/fang-zhao.jpg" class="story-author-image" />
    <p>
      我们C3班学习马立平《二年级三单元》和《三年级一单元》。经过这一年来在一起的学习生活，我们都成为了密不可分的好朋友，我们的班级就像是个可爱的家一样。</p>
    <p>《马立平二年级三单元》的课文比较长，学生不认识的生词多了，难度增加了。我在刚开始教学的时候，尽可能放慢进度，一边复习以前学过的词语，一边增加新的生词，鼓励和表扬每个孩子一点点的进步，很快每个孩子都主动地投入到课堂中来。
      我们学习了很多故事，有关于小动物的 “小壁虎借尾巴”，“小马过河”。有名人故事 “称象”，“锯是怎样发明的”， “铁棒磨成针”， 还有成语故事 "狐假虎威"。通过学习这些故事，孩子们不仅增加了很多词汇量，还明白了很多做人的道理。
    </p>
    <p>孩子们非常高兴学习故事，知道为什么吗？有一个秘密武器：故事接龙。我借用了
      “击鼓传花”的传统游戏，让一位同学蒙上眼睛传递道具，同时击掌，掌声停止时，道具传到谁的手里谁就讲一句，依次继续传道具，一直到把故事讲完。通过这样的办法每个同学都可以把学习过的故事简单复述下来。他们甚至迫不及待地想要知道，下一篇课文里又会有哪些精彩的故事出现呢？
    </p>
    <p>
      《马立平三年级一单元》是学习汉语拼音，同学们非常高兴地在电脑的中文系统上使用汉语拼音拼读出自己的作文。对于汉语拼音的学习，我们也有一个非常喜欢的游戏：看谁快。同学们会分成2个小组，一组手握声母卡片，另一组手握韵母卡片，老师出一个字，哪个组先拿对卡片就得一分。同学们非常喜欢这种比赛形式的游戏，每次都意犹未尽，喊着：再来一次，再来一次。
    </p>
    <p>
      今年，我们班还开始了写中文日记。刚开始的时候，孩子们感到十分困惑，怎么写，写什么？我就启发孩子们说，想一想这一天里什么事情最重要，最难忘？或者一天里都发生了哪些事情？我们可以先从一句话写起，慢慢扩展到几句话，一段话。很快地孩子们都开始写中文日记了。每个星期天都会摇着日记本说：“赵老师，请你看看我的日记”。我看到孩子们能够用中文分享生活里的点点滴滴，虽然有的同学只写一句话，有的同学只写几句话，我都鼓励孩子们坚持不懈地做下去，为今后高年级的写作做好准备。
    </p>
    <p>
      非常感谢我们的中文学校组织了各种各样的活动，激发了孩子们对学习中文的兴趣，培养了他们的信心。我们班级参加了侨报举行的作文比赛，题目是“假如我是 …
      … ” ，
      四位同学获得了梦想奖，还有一名同学参加了复赛。我们班还参加了科罗拉州中文口语大赛，取得了非常好的成绩。我们班还参加了圣诞节和中国春节的文艺表演活动，通过这些活动，孩子们加深了对学习中文的热情，加深了对中国文化的理解和认识。
    </p>
    <p>作为老师，看到学生们的成长和变化，我为他们感到骄傲，孩子们每张迷人的笑脸都让我感觉深深的依依不舍，感谢我能够有机会结识这群可爱的天使，感谢家长们对我工作的大力支持，希望孩子们在今后的中文学习中继续努力，取得更加优秀的成绩。
    </p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学生作文2019(C-2)</div>
  <div class="card-body story-text">
    <h3 class='story-title'>C2班介绍</h3>
    <p class="story-author">教师: 龚之喻</p>
    <img src="assets/images/people/zhiyu-gong.jpg" class="story-author-image" />
    <p>我们班的教材是《马力平二年级》，
      在一个学年里完成第一单元和第二单元的学习。我们二年级中文学习的最大特点是：每一篇课文都是一个短小精练、生动有趣的小故事，有很多有意思的对话，能够深深吸引着小朋友们带着兴趣和好奇心去学习中文。所以在我们的课堂里，
      绝不仅仅是读、写、认字， 更多的是通过一些有趣的戏剧、游戏的方式来学习。同学们有机会轮流扮演不同的角色，将一个个故事演出来。同学们不但积极参与， 还常常要求 ”再演一次吧!” 或是 “我还可以演一个别的角色吗？”
      就这样，在表演中，在对话中，不知不觉便提高了中文的语感和口语能力。我们还有不少课堂游戏，例如 “我演你猜”，认字卡比赛等等，不但活跃了课堂，也逐步提高了同学们的词汇量以及认字能力。</p>
    <p>《马力平二年级》不管是在课文的长度上，课后阅读材料的数量上，还是词汇量的增加上，相比一年级，
      都有一个不小的跳跃，难度加大了，可以说是有点小小的挑战，可是我们班的小朋友们大都掌握得又快又好，所以在此，要非常感谢各位认真负责督促孩子们按时完成家庭作业的家长们，你们为孩子付出的时间和精力是他们取得进步的源泉。</p>
    <p>“天下无难事，有志者成之；天下无易事，有恒者得之”， 祝福我们班的小朋友们在将来的中文学习中， 能够继续循序渐进，快乐前行！</p>
    <hr />

    <h3 class='story-title'>C2班同学作文</h3>
    <p><img width='90%' src='assets/images/essays/c2-2019.jpg'></p>
    <p><img width='90%' src='assets/images/essays/yiling-wu.jpg'></p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">双语B4班介绍</div>
  <div class="card-body story-text">
    <h3 class='story-title'>双语B4班介绍</h3>
    <p class="story-author">教师: 李红祎</p>
    <img src="assets/images/people/hongyi-li.jpg" class="story-author-image" />
    <p>我们这个B4
      班是一个多元文化的小熔炉。学生中有印度裔，韩裔，犹太裔，和华裔。学生年龄跨度也从八岁到四十五岁之大。我作为老师也在教学生的同时学到了不同国家的文化。比如在犹太人庆祝哈努卡节的时候，我的学生在班里给大家讲这个节日的风俗。在讲到中国春节的时候，让韩国同学介绍韩国的春节过法。台湾和马来西亚的同学在暑假探亲回来后，可以跟大家分享热带国家的气候特征。我们让每个同学都参与到分享知识的环节中。
    </p>
    <p>从2017年开始，长城中文学校开始在双语班使用《轻松学中文》的教程。这套教材最大的特点是内容更加贴近生活情景，句型和词汇更加实用。我们这个班级使用的《轻松学中文
      2》涵盖了国家，天气，学校，爱好，饮食和出行等话题。在学完兴趣爱好的话题后，每个同学都写了关于自己家庭成员的兴趣爱好的作文，并且在班里分享自己的文章。在学了饮食这一章后，我们试着排演了去中餐馆吃饭的情景短剧。孩子们自己制作中式菜单，每个同学都被分配了不同的角色。同学们非常喜欢这样的活动，在排练的过程中他们觉得学中文很有意思，很有用。
    </p>
    <img src="assets/images/essays/b4-chars.jpg" class="story-author-image" />
    <p>我们班的同学从B3开始用
      quizlet.com网站来复习课本中的单词。这个工具让学习语言变得更加方便，因为学生可以随时随地用手机应用学习和复习中文。因为这个网上工具可以做学习效果的分析，这让学生家长的配合工作也变得容易很多。考虑到学生多数是好动的小学生和中学生，我准备了很多配合课堂练习的教具，包括图片，汉字块，食物模型，这样可以尽量减少教语言和学语言的枯燥感。因为汉字块的制作过程很费时间，我让班上的同学一起帮老师制作这个教具，制作的过程也让学生体会了做老师的辛苦。
    </p>
    <p>我还在学习课本内容的同时穿插了经典而又符合学生水平的文学性短文，比如荷兰的《父与子》系列，《饥饿的毛毛虫》和《爱丽丝漫游奇境记》的片段。</p>
    <p>
      我发现和学生建立良好关系，最有效的方法就是花时间去了解学生，当我们对学生的生活感兴趣的时候，学生也非常乐意和我们分享他们的经验和见解。每个班级都会有老师的宠儿和让人头痛的学生，我不忽视那些在学习上有困难的孩子，并且鼓励同学们互相帮助，引领班级形成一个积极学习和成长的团队。
    </p>
    <p>教与学应该是一个互动过程，老师在和孩子一起进步。希望我们长城中文学校的孩子们在有序有爱的环境中健康快乐的学习和成长。感谢家长们一直以来对我们学校的信任和支持，没有你们就没有我们长城中文今天如此壮大的队伍。</p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">双语B1班介绍</div>
  <div class="card-body story-text">
    <h3 class='story-title'>双语B1班介绍</h3>
    <p class="story-author">教师: 高立芝</p>
    <img src="assets/images/people/lizhi-gao.jpg" class="story-author-image" />
    <p>双语1班学生的年龄在6到10岁不等，一些完成了学前和拼音班，一些刚刚开始起步学中文。我们班的教材是《轻松学中文1》。</p>
    <p>
      我们班的课堂教学是要根据学生们的接受情况而作相应的调整，而且所有的课后练习都会在课堂上完成，因为双语班很多家里没有人可以辅导孩子中文。教学重点是让每个学生在课堂上都有练习说的机会，每个词，每个句子，都要重复无数遍，渐渐所有学生都习惯了开口表达，感受到他们的进步，也感受到他们对学习中文的兴趣越来越浓。
    </p>
    <p>在这里说说班上的两名学生，一个是Laura,
      她今年十岁，和弟弟一起在我们班，每次读课文她的声音最大，总是抢着回答问题。记得有一次做课后练习时，她当时没太明白怎么做，急得眼泪都要出来了，看到她如此认真学习，陈老师和我都被感动了。还有一位同学霆钧，他虽然是中国家庭的孩子，来我班前没学过中文，在家也不说中文，简直就是个小老外，他每次上课都特别认真，为了发音清楚准确，读每一个字，那小嘴巴的形状略显牵强，有时音发得不很正确时，态度特别温顺，总是笑眯眯的跟着我一遍又一遍不厌其烦，直到读准为止。最令人感动的是他参加了去年的科罗拉多州中文口语大赛，参赛前在家多次反复地练习说和唱，表演时不但不紧张，还绘声绘色，可爱极了。
    </p>
    <p>每每看到每个孩子的进步，我们真是由衷地欢喜，孩子们在长城中文学校成长着，进步着。</p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">拼音班介绍</div>
  <div class="card-body story-text">
    <h3 class='story-title'>拼音班介绍</h3>
    <p class="story-author">教师: 邓蔚</p>
    <img src="assets/images/people/wei-deng.jpg" class="story-author-image" />
    <p>汉语拼音是学习中文的有效工具，是识字的基础，包括6个单韵母，23个声母，18个复韵母，和16个整体认读音节。</p>
    <p>我们拼音班的学生大都只有6，7岁，很活泼可爱。汉语拼音是一种抽象的标音符号，对这么小的学生来说，是比较难学的，学生学起来也觉得枯燥乏味。
      为了帮助孩子们读准声母，韵母，和声调，我给孩子们搜集了朗朗上口的拼音儿歌。为了准确地拼读音节，我添加了很多拼读练习，还给孩子们提供了干擦口袋（dry erase
      pockets）帮助孩子们增加课堂练习的积极性，孩子们经常争先恐后地到教室白板前展现自己的拼读能力。</p>
    <p>
      加强中文口语能力对这个年龄的孩子非常重要。我在学完所有的拼音之后加入了以练习拼读为主的简单的日常口语，比如数字，问候用语，名字年龄，家庭成员，动物等等。在课堂上，我们将中文加入游戏中，活跃课堂气氛，孩子们也主动帮我想游戏点子。为了课后练习我还准备了很多针对性的quizlet，还加入了很多图片。
    </p>
    <p>看到孩子们拼音能力一天天的提高，所有的付出都非常值得！</p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学前班介绍</div>
  <div class="card-body story-text">
    <h3 class='story-title'>学前班介绍</h3>
    <p class="story-author">教师: 康京</p>
    <img src="assets/images/people/jing-kang.jpg" class="story-author-image" />
    <p>我们班的学生都是5岁左右可爱又聪明伶俐的儿童，有的孩子才刚刚四岁，在学前班一年的中文学习，他们都能背诵几首儿歌给你听，用所学的生字造简单的句子，唱简单的中文歌，还会吟诵唐诗。做老师的真为孩子们的进步高兴。</p>
    <p>
      我们采用的教材是马立平《中文学前班》，配搭《语桥-写字本》。学习方式以说唱儿歌为主，加肢体语言来帮助学生理解儿歌的含义。每堂课学一首新儿歌，至少让孩子掌握一个生字，会读，会写，会造句。课堂练习有剪字填空，采用马立平学前班作业本。每堂课复习前一课学过的儿歌，教学生字每学一个新字时，都鼓励学生用所学的新字进行口头造句，帮助学生对生字的理解和运用。
    </p>
    <p>我们班上课常常是把学生围坐成两个组，我和我的助教轮换进行三种不同的教学活动。1-
      每个学生都有单独朗读儿歌的机会，有困难的学生老师带着一起读。2-老师带着学生认读字卡。3-看图说话，看图说故事。我们的课间活动也很丰富，组织学生做一些喜爱的游戏，如木头人，捞鱼，猫捉老鼠等。</p>
    <p>一年下来，我们班的学生能学习和掌握大概25首中文儿歌和唐诗，30个单字，看看学前班这群小宝贝在一年中文学习上的进步即欣慰又难舍。感谢家长们的支持和配合。祝愿这些学生在未来的中文学习上不断进步，在中文学校快乐健康地成长。</p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">幼儿班介绍</div>
  <div class="card-body story-text">
    <h3 class='story-title'>幼儿班介绍</h3>
    <p class="story-author">教师: 何璐</p>
    <img src="assets/images/people/lu-he.jpg" class="story-author-image" />
    <p>写写我们班一群聪明又可爱的萌娃。</p>
    <p>首先，就是年龄小。这些娃娃们大都是三岁到五岁，有些甚至是两岁半，许多孩子从来没有接触过中文，我们班有中国孩子，混血孩子和美国孩子。</p>
    <p>
      我们班的教学特点是通过唱歌，跳舞和手工多种形式教孩子学习汉语单字词，短句。每堂课将学过的字词，学过的句子，融入自编的儿歌当中，教孩子们以说唱的形式帮助记忆。在课堂上我经常用玩游戏的方法让孩子们学习中文，用唱歌的形式找朋友，互相提问，回答问题，互相击掌鼓励孩子们在游玩当中巩固学过的知识，班上的孩子们非常喜欢我们的课堂活动。
    </p>
    <p>
      我按照孩子们的年龄特点，来给他们编写教材，正是因为这样的理念和教学计划，加上形式多样的教学手法，使更多的娃娃们喜欢上了我们的班。有一次班上来了一个新学生，头两次课都是哭着回家的，第三次课不哭了。这个家长很高兴，对我说：“谢谢你，何老师。”
      我跟家长说：“孩子刚来时都是哭的，到最后就都很开心，甚至，总是跟爸爸妈码嚷着去中文学校，星期天最开心的事情就是来中文学校“。</p>
    <p>现在，我们班吸引了越来越多的来自世界不同族裔的孩子到我们班上中文课，特别是今年，现在都已经是第三个学期了，还有新生不断加入。班上有位特别可爱的女孩经常对我说：” 你是最好的老师!” 孩子的童真让我感到莫大的欣慰。</p>
    <p>
      十多年来的早期幼儿教育的经验告诉我，对于这个年龄段的娃娃们不仅要当孩子们的老师，同时还要当他们的家长，除了教学，还要给予他们父母般的关爱和呵护，建立信任感，这样才能更有效的教课，彼此同乐同学，将教学融入游玩当中。希望更多的娃娃来长城中文学校跟何老师一起轻松学中文，快乐成长。
    </p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2018 第二届 CCTV
    星光青少年才艺大赛</div>
  <div class="card-body story-text">
    <h3 class='story-title'>2018 第二届 CCTV
      星光青少年才艺大赛比赛结果<br>
      <span class='latin'>The 2nd CCTV Stars Youth Talent Competition - Colorado Division Competition Results</span>
    </h3>
    <p>
    </p>
    <h3 class='story-title'>长城中文学校获奖学生</h3>
    <p>器乐类 <span class='latin'>Instruments Group</span></p>
    <p>【少年组 <span class='latin'>Junior Group</span>】</p>
    <p>一等奖: 宋怡霖, 伍宇铮</p>
    <p>二等奖：<span class='latin'>Bita Parizi-Newman</span></p>
    <p>舞蹈类 <span class='latin'>Dance Group</span></p>
    <p>【少年组 <span class='latin'>Junior Group</span>】</p>
    <p>二等奖： 舞蹈《月光下的凤尾竹》</p>
    <p>表演者：方妞妞 伍雨晴 许诗梅 宋怡霖 张雅棋 张诗芩 <span class='latin'>Bita Parizi-Newman</span></p>
    <p>语言类 <span class='latin'>Language Group</span></p>
    <p>【少年组 <span class='latin'>Junior Group】</span></p>
    <p>三等奖：<span class='latin'>Bita Parizi-Newman</span></p>
    <p>表演类 <span class='latin'>Performing Group</span></p>
    <p>【少年组 <span class='latin'>Junior Group】</span></p>
    <p>二等奖：<span class='latin'>Bita Parizi-Newman</span></p>
    <p><img width='90%' src='assets/images/essays/rewards-2019.jpg'></p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">《侨报》第七届青少年儿童中文写作大赛</div>
  <div class="card-body story-text">
    <h3 class='story-title'>《侨报》第七届青少年儿童中文写作大赛芝加哥赛区初赛<br>
      <span class='latin'>2018 National Chinese Writing Competition</span></h3>
    <p>
    </p>
    <h3 class='story-title'>祝贺长城中文学校有 19 名同学入围复赛</h3>
    <p>【儿童组复赛同学】</p>
    <p>方妞妞 顾梓和 张培源 李奕乐 朱炳星 陈若然 <span class='latin'>Gregory Frederrick</span></p>
    <p>【少儿组复赛同学】</p>
    <p>宋怡霖 马铎瑞 施丽莎 朱炳泉 黄睿思 廖迩婷</p>
    <p>【少年组复赛同学】</p>
    <p>曹语嫣 陈小龙 汪玉杰 陈小玉 陈茜 高郑皓</p>
    <p class='story-title'>芝加哥赛区复赛</p>
    <p>【儿童组获奖名单】</p>
    <p>三等奖 陈若然</p>
    <p>优胜奖 方妞妞 李奕乐 朱炳星 顾梓和 <span class='latin'>Gregory Frederrick</span></p>
    <p>【少儿组获奖名单】</p>
    <p>三等奖 宋怡霖 施丽莎</p>
    <p>优胜奖 马铎瑞 朱炳泉 廖迩婷</p>
    <p>【少年组获奖名单】</p>
    <p>二等奖 高郑皓 陈茜</p>
    <p>三等奖 陈小玉</p>
    <p>优胜奖 陈小龙</p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">长城中文识字大赛</div>
  <div class="card-body story-text">
    <h3 class='story-title'>长城中文识字大赛 <span class='latin'>Chinese Words Contests</span></h3>
    <p>
    </p>
    <div class='latin'>
      <p>【YCT-1 68 Words 95%】</p>
      <p>Gregory-Frederrick Barritt, Isabella Li, Serin Lee Chui Mei Lively, Bita Parizi-Newman</p>
      <p>【YCT-3 148 words 95%】</p>
      <p>Katie Chow, Raymond Hong, Josette Wyeth Wu, Grace Zhang</p>
      <p>【HSK2 297 words 95%】</p>
      <p>Ruoran Chen, Leo Gu, Meitong Guo, Yilin Song</p>
      <p>【HSK3 599 words 95%】</p>
      <p>Lisa Shi, Maggie Shi, Ruolin Yang</p>
      <p>【HSK4 655 words 95%】</p>
      <p>Yuki Leach</p>
    </div>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">双语班演讲大赛</div>
  <div class="card-body story-text">
    <h3 class='story-title'>双语班演讲大赛 <span class='latin'>Bilingual Class Speech Contests</span></h3>
    <p>
    </p>
    <div class='latin'>
      <p>【First prize】</p>
      <p>(B4) Senthikumar Aadithya, Joshua Cho, Kevin Eason, Abigail Newell</p>
      <p>【Second prize】</p>
      <p>(B2) Elizabeth Baumann, William Baumann, (B6) Abbie Kroll</p>
      <p>【Third Prize】</p>
      <p>Classes: B1, B3</p>
    </div>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">National Chinese Martial Arts Tournament</div>
  <div class="card-body story-text">
    <h3 class='story-title'>2018 Denver National Chinese Martial Arts Tournament</h3>
    <p>
    </p>
    <h3 class='story-title'>长城中文学校获奖学生</h3>
    <div class='latin'>
      <p>Winners in Sparring and Weapons</p>
      <p>Gold Medalist: Bita Parizi-Newman</p>
      <p>Silver Medalist: Amy Choi, Bita Parizi-Newman</p>
    </div>
  </div>
</div>