<div class="card mb-2">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">学生作文 2020 (C-12)</div>
  <div class="card-body story-text">
    <h3 class='story-title'>发小儿</h3>
    <p class="story-author">教师: 胡友平</p>
    <img src="assets/images/people/youping-hu.jpeg" class="story-author-image" />
    <p>
      在我不多的几个微信群里，有一个是由一帮从小一起长大的朋友组成的群。其中有几个年龄相仿的，从上幼儿园起就是同学，直到初中毕业后才逐渐分开。这么些年了，偶尔有机会聚一次，总是能轻松愉快，无拘无束地聊一阵。每次聚会后，身心感觉也总是那么愉悦放松。在北方，特别是在北京，人们对这种朋友有个特殊的称呼，叫“发小儿”。
	</p>
    <p>
      今年给毕业生们改作文时，读着同学们写的他们在学校的生活，做的事情，特别是从小在学校结识的朋友和结下的友谊，有好几次“发小儿”这个词从脑子里闪过。有时我就想，十年、二十年或者几十年后，他们要是有机会再聚在一起，聊聊当年在长城中文学校的事，不定是个什么情景呢。长城中文学校给了他们一个机会结下了少年时纯真的友谊，真是做了件大好事。希望他们能把在这结下的友谊一直保持下去，就像一位同学在毕业作文里说的：“离开长城中文学校后，我不一定会记得所有在课上学到的东西或参加的活动，但我会记得在长城中文学校认识的朋友。希望我在长城中文学校的朋友成为一辈子的朋友”。
    </p>
	<div style="width:100%">
	<img src="assets/images/people/students-19-20.jpg" style='margin-left:40px' width="80%" border="0">
	</div>
    <hr />
    <h3 class='story-title'>我和长城中文学校</h3>
    <p class="story-author">周芷琪</p>
    <img src="assets/images/people/melanie-zhou.png" class="story-author-image" />
    <p>
      耀眼的灯光在舞台上闪耀，传统的中国音乐在演出厅里飘荡。演出厅里坐满了观众。当我走出舞台的帷幕的时候，突然间演出大厅变得很安静。我感觉所有的人都盯着我。我觉得自己紧张得好像说不出话来 ……
	</p>
    <p>
      那是我第一次当长城中文学校报幕员。每年，长城中文学校最重要的活动是春节表演。两三百人来看我们表演。表演前，校长会精心挑选代表长城中文学校的报幕员。表演的时候，报幕员是很重要的角色。因为观众不仅仅是华人，报幕员必须用双语介绍每个表演的节目。最好的报幕员用中文和英文解释表演节目，并且用幽默小段子让观众感觉轻松愉快。我第一次登上舞台报幕的时候才十一岁。虽然我很害怕会搞砸，但是我鼓足勇气完成了报幕的任务，并且我很喜欢有机会向别人介绍中国文化。
    </p>
    <p>
      其实，我小时候并不是一直这样想的。丹佛是一个很单一的地方。在我居住的社区里只有一，两家华人。上小学的时候，我每天带炒饭和茶当午饭，而别的孩子都带三明治和可乐。午饭的时候，他们不想跟我一起坐，因为我带的饭太香了，跟别人不一样。因为他们和老师不懂我的文化背景，觉得我有一点儿“不同”。我那个时候不喜欢自己的文化，因为我就想跟别的孩子一样。
    </p>
    <p>
      爸爸妈妈送我到长城中文学校的时候，我真是不想去，我以为去中文学校别的孩子会欺负我。上C1班的时候，我哭，踢，叫，真的不想上课。我极不情愿地坐在班里的时候，发现别的孩子跟我一样。他们也不想在班里面，觉得很难过。我了解他们：我们都是第二代华人，害怕别人的嘲笑。可是，到课间休息的时候，我发现我们都带了一样的小吃。每个孩子有一小杯茶和一块上海大白兔奶糖。从那一刻起，我感觉有一种归属感。终于，我找到了一个完全接受和了解我的环境。
    </p>
    <p>
      上高三的时候，我还是我们班里唯一的华人学生。有一天上历史课，我们在学二战和中国1940年代的事情。老师开始解释中国当时困境的时候对我们说，“哎呀，多么有趣，1940年中国人太穷了吃鸡爪，我真的不敢相信！”他说这句话以后，全班的孩子开始哈哈笑。他们都不知道鸡爪从来都是华人喜欢吃的点心。要是在小时候，在这个情况下，我会尴尬地跟大家一起笑我的中国传统。可是现在，我从中文学校学到了很多中国的知识，所以，我带上历史班上的十六个同学和老师去丹佛的点心店。
    </p>
    <p>
      对我的同学们和老师来说，进点心店就像进一个新的世界。点心店很吵，很热闹。服务员推的小“点心车”上有不同的小吃。她对我们班的孩子用广东话呱呱叫。我帮他们点了菜以后，我开始解释为什么我历史老师的“鸡爪”评论不准确。我也点了几盘鸡爪让大家尝一尝。我的历史老师也细心地吃了一口。吃完饭以后，我们全班都觉得我们对别的传统多了一些了解。从食物开始，我向我的班级介绍中国文化。我的历史老师也改变了他的中国文化的教法。
	</p>
    <p>
      今年是我在长城中文学校的第十二年。在这十二年里，我慢慢长大成熟了。我当了报幕班的教师，学生会的主席和三次总统志愿奖得主。和我一起上小学的同学，现在都长大了。我们将会是终身朋友。可是，最有影响力的事情是我有能力在中文学校以外分享我的文化背景。
	</p>
    <p>
      今年是我最后一次参与长城中文学校表演。我跟小时候一样，有一点儿紧张。我吸了一口气，走出舞台帷幕，开始报幕 ……
	</p>
    <hr />
    <h3 class='story-title'>我和长城中文学校</h3>
    <p class="story-author">曹语嫣</p>
	<p class="story-author">读菜单</p>
    <img src="assets/images/people/kelly-cao.png" class="story-author-image" />
    <p>
      每个周末，我们一家人出去选择一个好吃的餐馆去吃饭。中国餐馆里大家的交谈声音很大，大家一边吃一边聊天，真热闹！
    </p>
    <p>
      我对点菜这件事很有兴趣。美国人会点很辣的菜，西班牙人会点有点苦的菜，中国人只点适合他们的口味的菜。有一次出去吃饭，我准备读菜单的时候，老板娘在旁边问我：“你是中国人吗？”我对她说：“我是在美国出生的中国人，我的妈妈和爸爸都是中国人，他们是在中国上海出生的。”点菜的时候，我指着菜单对她说：“我要牛肚丝和肉麵麻辣”，老板娘看了看，就笑着跟我说：“啊！你读错了。”我又重新仔细读菜单以后发现，老板娘说得对。这两个菜应当是牛肉麵和麻辣肚丝。原来这两个菜名不是从左到右而是从上到下写的。
    </p>
    <p>
      还有一次在一家中国人开的面包店，面包店的香味很好闻，我一边流口水一边想我真的饿了！拿过菜单我马上开始从上到下读。服务员过来了，我跟他说：“我要饼蛋和干糕”，他笑着说：“你读错了”。怎么会呢？中国餐厅的菜单不就是从上到下吗？但是，那个面包店的服务员告诉我，这个菜单应当从左到右读：“饼干和蛋糕”。
	</p>
    <p>
      这两次读菜单的经历，让我明白了：每家餐馆都有自己的菜单设计。以后，我应当先看清楚菜单的设计，是从上到下读还是从左到右读。不然就要闹笑话了！
	</p>
	<p class="story-author">读路标</p>
    <p>
      每个阳光明媚的夏天，我们全家人乘飞机去中国旅游和看我们的大家庭。我觉得中国有很多独特的东西！下面将两个读车牌号和路标的小故事。
	</p>
    <p>
      我记得很清楚。一个下着蒙蒙雨的下午，我撑着雨伞走回家。我一边走一边看路边汽车的车牌号，一辆接一辆的从我身旁开过，我看到很多相同的数字：八和五。当我弄清楚为什么中国人喜欢用这两个数字时，我不由的笑了。中文老师说中国人比较喜欢选吉利数字，因为这些数字的谐音寓意很好，比如：“五”跟“我”同音，“八”跟“发财”的“发”同音。而我继续认真看车牌号时发现，“四”这个数字出现的很少，因为“四”跟“死”同音。
	</p>
    <p>
      我在散步时经常看到一些中文标牌，有些标牌我不太懂。例如：“施工重地行人止步”和“请保管好随身携带物品”。施工重地行人止步是什么意思呀？它的意思是：当某地正在建造类似建筑的东西时，让行人注意安全。当我下飞机和乘地铁时我看到：“请保管好随身携带物品”，我知道这是代表你要小心照顾好自己的行李。
	</p>
    <p>
      在中文学校学习中文给我帮助很大，我可以更好的在中国运用学会的中文知识，解决各种各样的问题。
	</p>
    <hr />
    <h3 class='story-title'>我和长城中文学校</h3>
    <p class="story-author">朱玉莲</p>
	<p class="story-author">龙舟赛</p>
    <img src="assets/images/people/maggie-zhu.png" class="story-author-image-large" />
    <p>
      每个夏天长城中文学校要参加科罗拉多端午节的龙舟赛。科罗拉多端午节上有很多好吃的，表演，游戏和抽奖。可是我觉得最有趣的部分是龙舟赛。有很多龙舟队参加比赛，长城中文学校是唯一的高中队。其它的队都是公司或学院的队。我们每年比很多队成绩好是因为我们年轻，有劲。还有，每年我们有一个人很瘦,很高。他永远是旗帜的追星人。他对我们的队很有用，因为我们有时经常击败对手不到一秒钟。
	</p>
    <p>
      两年前我参加了长城中文学校的龙舟队。节日那天是我的生日，所以我不太想早起，再开四十分钟车去参加比赛。但是当我到达帐篷时，我意识到那将是美好的一天。长城中文学校的家长带了很多好吃的，例如西瓜，炒面，炒饭，糖醋鸡，冰淇淋，等等。我们参加了三场比赛和得了很好的成绩并且我们赢了所有三场比赛。在第三场比赛中，所有的人很兴奋，同时还为我们着急。长城中文学校的妈妈们在岸边喊：“长城，加油！”和拍视频。比赛非常激烈，鼓手凯文把鼓锤都敲断了。比赛完了，大家一起欢呼并互相击掌。最后，我们得了第二名。虽然我们赢了三个比赛，可是第一名的队在三场比赛中的速度总成绩比我们好，所以他们得了第一。大家很高兴，因为长城中文学校从来没有取得过这么好的成绩。
    </p>
    <p>
      龙舟赛是一个很好玩的经验。我喜欢激烈的竞争，好吃的和跟我的朋友在一起。
    </p>
	<p class="story-author">折纸</p>
    <p>
      在长城中外文学校十二年中，我参加了几乎所有的活动：舞蹈，画画儿，书法，中国悠悠和折纸。我喜欢所有的活动，可是我最喜欢的是折纸。折纸很放松，折纸的时候还可以和朋友聊天。
    </p>
    <p>
      我第一次参加折纸课是在2016年。开始的时候有点紧张也有点不情愿，可是我试着折了几个三角形后，我知道我很喜欢折纸。自那以后，我曾经是学生，助教和老师。
    </p>
    <p>
      长城中文学校每年举办一次春年表演。表演时，折纸课有一个桌子，每年都有很多小孩儿看我们的折纸项目：比如：天鹅，狐狸，熊猫，孔雀等等。他们的眼睛发光，充满兴趣地很希望学做这些折纸项目。可是，当我们开始教他们时，他们会离开，因为觉得太困难。
    </p>
    <p>
      可是2020年的长城中文学校春年表演不一样。一个男孩走近我们的桌子和看我们的折纸项目。我问他：“你想学折纸吗？”他点点头。所以，我教他怎么折一个东西，然后解释我们怎么做一个折纸。他的眼里充满兴趣地对我说：“我可以要多少纸？”我很惊讶，因为多数孩子一般就走开，可是他对折纸是真有兴趣。他在我们的桌子旁坐了约一个小时，认真学习折纸。在这一个小时里，我教他折了一个菠萝。
	</p>
    <p>
      看着手里的菠萝，他特别高兴，也很激动。看到他这么激动，使我想起了为什么我首先加入折纸班。
    </p>
    <hr />
    <h3 class='story-title'>我和长城中文学校</h3>
    <p class="story-author">徐蕾</p>
    <img src="assets/images/people/emmy-xu.jpg" class="story-author-image" />
    <p>
      旋转的扇子、痒痒的服装、快转的手绢、都是我从一年级就很熟悉的东西。从跳第一个舞蹈开始，我每年都去很多不同的地方参加表演，每次在节目开始之前，我们总有很多时间在后台跟朋友一起玩游戏，表演以前赶紧再练几次我们的舞蹈动作。这些对我来说都是非常正常的舞蹈活动，我跟中文学校跳舞以前早就开始有了这些经历。
	</p>
    <p>
      但是在中文学校跳舞，我还可以参加做义工和我喜欢的社区活动。从刚上八年级开始，我就跟中文学校参加许多义工活动。我第一次跟长城中文学校参加义工活动是在 <span class='latin'>Brookdale Senior Living</span> 表演刚学会的扇子舞。我那以前没去过 Brookdale，也没做过这样的义工活动，所以我非常紧张。我特别害怕在表演的时候撞到墙，特别怕跳错步了。后来我知道我什么都不用怕，因为我们去那儿表演无论如何都会让那些老人们高兴，他们都会喜欢的。老人们的孩子都长大了，都有自己的工作了，没有时间老来看他们的父母。所以我们能到那儿跟老人们聊聊天会让他们感到很幸福。
    </p>
    <p>
      我们每次在 <span class='latin'>Brookdale</span> 跳完舞都会排队跟老人握握手，聊聊天。第一次，我不知道应该跟他们说什么。我问了几个朋友以前他们聊什么，因为不知道能跟老人聊些什么，对我来说是件非常紧张的事情。我的朋友们告诉我他们也不知道，就应该按我自己觉得聊些什么好。在我们站在旁边讨论的时候，大人们就过来让我们赶紧去跟老人们握手聊天。穿着我的痒痒的服装，提着绿绿的扇子，我们跳舞班跟每个老人都握了手，谈了话。每个老人都谢了我们并说我们的表演有多棒。我记得最清楚的一次是跟一位从德州来的老人聊天。他跟我握了握手，说我们的服装多漂亮。我快要离开他的时候，他突然问我是从哪儿来的。我很吃惊，觉得他肯定以为我真的是从中国来的。我告诉他我是在德克萨斯生的，他就很高兴的说他也从德州来的。他问我在德州什么地方出生的并开始解释他怎么当完兵就跟他的妻子来到了科州工作。我跟那位老人谈了十多分钟，很高兴地听他讲过去的往事。直到我们得走了我才跟那位老人说再见了。
	</p>
    <p>
      经常参加中文学校的义工活动，开始意识到我帮助别人的愿望。我特别愿意看见那些老年人脸上开心的笑容，我喜欢跟老人们握手和聊天，我也愿意跟中文学校参加别的慈善组织的义工活动，在这些活动中，我可以做一些有意义的工作。我特别感谢长城中文学校提供的各种义工活动机会。通过在这些地方做的义工活动，我意识到通过我的工作能帮助更多的人。后来，校长问我想不想当跳舞班的 TA 的时候，我当然同意了。
	</p>
    <p>
      我现在已经跳舞跳了十二年了，但我从来没有比在中文学校跳舞的时间更高兴。我非常喜欢我的跳舞团，我还喜欢帮助同学们练习舞蹈和当她们的领导。通过参加中文学校的义工活动和表演，我成为了一位更关注社区活动的学生。
	</p>
    <hr />
    <h3 class='story-title'>我和长城中文学校</h3>
    <p class="story-author">张文韬</p>
    <img src="assets/images/people/wentao-zhang.png" class="story-author-image" />
    <p>
      我在长城中文学校学习已经有十几年了。对我来说，十几年是我的生命的一大半。当然，这十几年我在长城中文学校有很多新的经历，交了好多好朋友，而且学到了很多新知识。我写这篇文章就是想记录一下我在长城中文学校的经历。
	</p>
    <p>
      一开始，像很多来中文学校的小孩一样，我是被妈妈揪过来的。每次要做中文作业时，至少要哭半个小时才开始做作业。那时候，我还不明白学中文会多么有用，也不明白长城中文学校会给我什么样的机会。
    </p>
    <p>
      长大了一点，我开始参加中文学校组织的社区活动了。我去过老人院演出，去食品银行帮助分发食物，参加过长城中文学校的龙舟队，以及学校的中国新年庆祝活动等等。这些活动打开了我的眼界，因为我发现很多人没有我走的那么顺，没有我这么幸福。通过参加社区活动，长城中文学校教我怎么做一个更好的人。
	</p>
    <p>
      我六年级的时候参加了长城中文学校的折纸班，一下子就被折纸吸引了。中文学校教的折纸技术跟我以前学过的不一样，是用很多小三角形组成的，做出来的作品非常丰富。除了在学校学习折纸，我还在课外自己设计折纸作品。节日的时候，我会做折纸作品作为礼物送给家人、朋友和老师，希望能给他们带来节日的快乐。这个照片上的孔雀就是我自己设计的作品之一，它已经作为折纸班的代表作品，在中文学校的各项活动上展出。三年前，我开始在折纸班当助教，今年我成了折纸班的老师。教过三年的折纸班，我学会了怎么教年龄比较小的学生，也学会了耐心和领导力。我很高兴地看到越来越多的中文学校的学生参加折纸班。
	</p>
    <p>
      我在长城中文学校交了不少朋友。今年，我们毕业班的同学们每几个星期都会聚一聚，很有意思。
	</p>
    <p>
      几个星期前的一个星期天，上中文学校之前，我跟 C-12 班的同学们一起出去吃午饭。我们一起去了 <span class='latin'>Village Inn</span>，但发现要等至少半个小时才能吃得到饭。要等那么久，上中文学校肯定要晚了。我们中的两个人连忙跑到了附近的另外一家餐馆去问要等多久。那里要等的时间差不多，所以我们决定分头在 <span class='latin'>Village Inn</span> 和另一个餐馆等着，看谁先等到。过了三，四十分钟，我们终于在 <span class='latin'>Village Inn</span> 等到了我们的桌子。等我打电话通知在另外一个餐馆等桌子的同学时，他们正好也等到桌子了！已经等了那么久不吃饭也很尴尬，谁都不愿意离开自己好不容易等来的桌子。我们搞了半天，终于决定都在 <span class='latin'>Village Inn</span> 吃饭。我们的 C-12 班一边吃饭，一边聊天，非常好玩。
	</p>
    <p>
      离开长城中文学校后，我不一定会记得所有在课上学到的东西或参加的活动，但我会记得在长城中文学校认识的朋友。虽然我们毕业班的同学都会去不同的大学，我希望我们还会保持联系。希望我在长城中文学校的朋友成为一辈子的朋友。
	</p>
     <hr />
    <h3 class='story-title'>我和长城中文学校</h3>
    <p class="story-author">Benjamin 杨</p>
    <img src="assets/images/people/benny-yang.jpg" class="story-author-image" />
    <p>
      我五岁开始上中文学校，都上了十二年了。在中文学校我学到了很多中国历史和很多中国文化。每个老师都教给我一些难忘的东西，但是我最不会忘记的事情是课外活动。
	</p>
    <p>
      在中文课上，我每年都学了很多中国历史和中国文化。我最喜欢的是孔子和后羿的故事。今年我又读了很多新故事。今年的故事都很有趣。我想谢谢胡老师给了我们一个很有趣的课。他讲的每堂课都不同，所以，我对他讲的课都很感兴趣，他会在每次课前讲现在发生的事，每次课还会讲一个故事。我最喜欢的故事是《五味》。中国餐跟美国的餐不同，但是，中国不同的地方也有不同的食物。我妈妈是北京人，就像故事里讲的，他们很喜欢吃酸菜。我也去过很多地方，每个地方都有不同的口味。胡老师的中文课愉快而有趣，我想谢谢他。
    </p>
    <p>
      我三年级时开始上空竹课。<span class='latin'>Alan Kong</span> 是我第一个老师，他教空竹教得很好。他的助手是 <span class='latin'>Eric Zhao</span>，他教我学空竹。我学了几个月后，<span class='latin'>Eric</span> 教了我一个动作叫 <span class='latin'>whip</span>。这个动作是你把空竹扔上去，再用空竹鞭在空中把空竹接住，<span class='latin'>Alan</span> 和 <span class='latin'>Eric</span> 都帮助我学这个动作。所以，我每天都会练习一到两个小时。不久，我学会了这个动作，大家都为我很开心。我觉得我完成了一个很大的任务，最难的一个动作我在几周之内学会了。我抖了很多年空竹，后来，我还有好几个老师，<span class='latin'>William，Nathan，Kyle</span> 和 <span class='latin'>Jack</span> 都当过我的空竹老师，他们都教过我很多。去年 <span class='latin'>Jack</span> 上大学去了，空竹课需要一个新的老师，所以，校长就任命我当空竹课的老师。我很感谢她，因为自从我当老师，我学了很多。
	</p>
    <p>
      我们在很多地方表演过空竹，像疗养院，体育馆和图书馆，但是我最喜欢的是在 <span class='latin'>Buell Theater</span> 的那次表演。这个地方有两千五百多个座位，在丹佛是一个很有名的剧院。这天我和很多好朋友在这个地方表演。我们都练习了好几个小时，因为，这是我们最大的表演。那天上台前我很紧张。演出前我们在舞台上练了练，我还是很紧张，因为，我怕出错误。我的朋友看见我很紧张就都鼓励我，我就开始放松了。<span class='latin'>William, Nathan, Kyle, Jack, Brian</span> 和我开始上舞台的时候我觉得很有信心，因为，我和好朋友们一起表演。我是最后上台的，而且表演得很完美。表演完后我很高兴，这是我最难忘的表演。
	</p>
    <p>
      龙舟比赛是我最喜欢的活动之一。我们每年都想得第一。2018年的夏天，我们中文学校练习了很多次，所以，那年我们觉得可以拿金牌。我们第一和第二场比赛都赢了，要是再赢第三场我们就能拿到金牌。第三场开始前，我们和另一个队的队员都上了船，等着发令的喇叭。没有人出声，你都可以听见河水撞击船帮的声音。这时我们的教练喊 “<span class='latin'>Paddles ready</span>”，我们就赶紧把船桨放水里头。喇叭响了，我们都开始喊，都用力划船。两场比赛后，大家都没有劲儿了，但是我们都特别想要金牌，所以，我们谁也没有停下来。另外的队也没有停，最后20米我们两个队都使劲划，几乎同时拔到旗子，谁都不知道到底谁赢了。回到码头的时候，我们发现是另外那个队赢了。我们的时间相差不到一秒钟。我们都非常不开心，但是第二名也不错。我们希望明年会得第一名。
	</p>
    <p>
      中文学校教会了我很多，给我留下来很多难忘的记忆。我想谢谢每个教过我的老师和我中文学校里的所有好朋友。无论我去哪里，中文学校永远和我在一起。
	</p>
     <hr />
    <h3 class='story-title'>我和长城中文学校</h3>
    <p class="story-author">余昊</p>
    <img src="assets/images/people/jerry-yu.png" class="story-author-image-large" />
    <p>
      从小我爸爸妈妈把我送到长城中文学校。我小的时候很不喜欢去中文学校，但是我长大以后明白为什么他们要我学习中文。很多人以为中文学校只是一个能学习中文的地方，但是长城中文学校还提供更多不同的学习内容：例如折纸课，悠悠课，小提琴课，舞蹈课和许多义工活动。我去中文学校已经十三年了，在这段时间里，我不仅有机会学习中文，还能发展我的领导能力和合作技巧。中文学校给我参加义工活动，折纸课和机器人课的机会，从中我学到了许多生活技能。中文学校不仅是一个能学中文的学校，也是一个社区。
	</p>
    <p>
      除了学习中文和参加许多课外活动外，长城中文学校还有很多做义工的机会。这些做义工的机会很有趣，因为这些机会把中国人带到一起。我发现参加这些义工活动是很好的社会经验。我有很多朋友是在这些义工活动中遇到的。除了遇到新朋友，这些义工活动还教会了我两个重要的技能。第一个技能就是跟别人合作。在二十一世纪这个技能真的很重要，因为大部分的工作和项目要求人们能合作。长城中文学校的义工活动都有任务要求跟别人合作，所以我有很多合作经验。第二个技能是这些义工活动教会了我要想成功就得用功的道理。很多义工活动要求努力工作，所以我需要努力工作才能成功。我参加了很多义工活动，我学到了两个非常重要的技能，这两个技能会帮我取得成功。
    </p>
    <p>
      我在十年级的时候我参加了长城中文学校的折纸课。虽然我以前没有参加课外活动，我妈妈逼着我去选择一个活动。我选了折纸课，因为我有几个朋友在那个班，还有我觉得他们做的折纸是挺漂亮的。那年我觉得这个课挺有意思的，我学了怎么做这些折纸，还有做了三个我很喜欢的东西:一个熊猫，一个狐狸，还有一个小狗狗。下一年少梅校长问我要不要当教师助手，我想了想，认为这是个好机会建立我的大学简历。我就接受这个职位。这时齐老师问我要不要当机器人课的教师助手。我觉得这个机会是个很好的学沟通技巧和领导能力的机会。我认为为折纸课和机器人课做教师助手教了我很多。我了解了怎么能跟别人合作还有对别人和项目耐心。
	</p>
    <p>
      在这两个课外活动中我有教淘气学生的经验。在折纸课，有个八岁小女孩儿在做一个很容易的项目。虽然这个项目很容易，这个小女孩尔就不要完成她的任务。折纸需要很多时间和耐心，这个小孩子就不喜欢坐在那儿折纸，所以我要坐在她的旁边帮她折纸。三个星期过去了我们终于完成了她的任务。在我的机器人课也有一个很淘气的学生。这个学生更淘气，本来他就是个很聪明的人，但是不管我说什么他就不愿意完成他的任务。我求他做，可他就是不做，但是有一天我在教室里找到了一个小绿球，他的眼睛立刻就亮了。他求我把球给他，但是他还没完成他的任务，所以我跟他说：“你把你的项目完成好，我就给你这个球”。他立刻把项目完成了，然后我把球给他了。从此以后，为了拿到这个小绿球，他每次都是第一完成他的任务。
	</p>
    <p>
      长城中文学校给了我很多丰富的经验。我要感谢我的老师，少梅校长，和我的朋友，因为他们帮我充分利用这个经验。
	</p>
  </div>
</div>
