<div class="card mb-2">
  <div class="card-body story-text">
    <h3 class='story-title'>学校里的那些事儿</h3>
    <p class="story-author">毕业班教师 胡友平</p>
    <p>
      长城中文学校开办十几年了，风风雨雨，大大小小经历了很多事儿。有让人着急的，有让人高兴的，也又让人哭笑不得、急不得恼不得的，但最让人欣慰的是看着这些孩子带着在这里学到的知识，建立的友谊、获得的能力还有充满阳光的笑容和满满的自信，走出家门，走进大学，走入社会，走向他们充满希望的未来。
    </p>
    <p>他们在这里都学到了什么，都做了些什么事？在这，听听毕业班的同学们是怎么描述他们在学校的生活吧。</p>
    <img src='assets/images/essays/selections.jpg' width='100%' class='pb-4'>
    <hr>
    <h3 class='story-title'>我要当老师</h3>
    <p class="story-author">汪玉杰</p>
    <img src="assets/images/people/mya-leonard.jpg" class="story-author-image" />
    <p>
      我的两个学生都是初中一年级学生，他们的性格彼此相反。<span class='latin'>Bella</span>害羞但很聪明，并且善于阅读故事和记单词。而廖子兔是一个不怕分享自己的答案并且在我们所有课程中都具有互动性的人。 每周我都会为学生开设新课程，这些课程包括体育，爱好，美食和假期等主题。 我们通常会花费45分钟到一个小时来学习这些主题。我们在一起的时候，我会教他们一些词汇，如何发音，以及如何将英语翻译成中文，并将汉语翻译成英语。 在我上的每节课中，为了使我的课有趣而不乏味，我在幻灯片中添加一些图片，并使单词的大小和字体都不同。 我会提供游戏和视频给他们观看，然后向他们提问，以了解他们是否了解任何内容。 这个工作我做了两个月，和他们在一起度过了一段愉快的时光。上课时，我不仅能够辅导他们，而且我也对他们有了更多的了解。 我记得我们的课程之一是关于动物的，我问他们是否想看我的狗的照片，他们非常兴奋。</p>
    <p>…… ……</p>
    <p class="story-date">3/29/2021</p>
    <hr>
    <h3 class='story-title'>我准备好了</h3>
    <p class="story-author">钟婷怡</p>
    <img src="assets/images/people/amy-zhong.png" class="story-author-image" />
    <p>
      舞台上静悄悄的，帷幕关着，可是从观众席上传来的声音告诉我，有很多人来看长城中文学校今年的春节表演。我感觉有点紧张:“我有什么事忘了吗？”头发梳成整齐的圆形，粉红色的舞鞋也绑得紧紧的，我应该已经准备好了。看看别的人，大女孩们都显得特别镇静，一点看不出紧张的样子。再看看妹妹，她也显得很镇静。我吸了一口气，把红手帕平平地放在腿上：我准备好了。
    </p>
    <p>
      到时间了。我看着舞台的帷幕慢慢打开，几十个人坐在台下，眼睛盯着我们看。这时开始放音乐了，我笑着，跟大家一起跳起了中国手帕舞。当我跟着开心的中国民乐跳舞的时候，我感到幸福代替了忧虑。我第一个舞蹈表演还是好玩啊！</p>
    <p>…… ……</p>
    <p class="story-date">4/18/2016</p>
    <hr>
    <h3 class='story-title'>凤爪后面的故事</h3>
    <p class="story-author">周芷琪</p>
    <img src="assets/images/people/melanie-zhou.png" class="story-author-image" />
    <p>
      上高三的时候，我还是我们班里唯一的华人学生。有一天上历史课，我们在学二战和中国1940年代的事情。老师开始解释中国当时困境的时候对我们说，“哎呀，多么有趣，1940年中国人太穷了吃鸡爪，我真的不敢相信！”他说这句话以后，全班的孩子开始哈哈笑。他们都不知道鸡爪从来都是华人喜欢吃的点心。要是在小时候，在这个情况下，我会尴尬地跟大家一起笑我的中国传统。可是现在，我从中文学校学到了很多中国的知识，所以，我带上历史班上的十六个同学和老师去丹佛的点心店。
    </p>
    <p>
      对我的同学们和老师来说，进点心店就像进一个新的世界。点心店很吵，很热闹。服务员推的小“点心车”上有不同的小吃。她对我们班的孩子用广东话呱呱叫。我帮他们点了菜以后，我开始解释为什么我历史老师的“鸡爪”评论不准确。我也点了几盘鸡爪让大家尝一尝。我的历史老师也细心地吃了一口。吃完饭以后，我们全班都觉得我们对别的传统多了一些了解。从食物开始，我向我的班级介绍中国文化。我的历史老师也改变了他的中国文化的教法。
    <p>…… ……</p>
    <p class="story-date">5/15/2020</p>
    <hr>
    <h3 class='story-title'>翅膀</h3>
    <p class="story-author">廖秀伟</p>
    <img src="assets/images/people/andy-liao.jpg" class="story-author-image" />
    <p>
      我从小总是喜欢看小鸟在空中飞。对我来说，小鸟代表了一种神奇的自由，不像我们这些只能在地面生活的人类。鸟儿们想飞到哪就飞到哪，开心地和他们的鸟朋友在空中吱吱咋咋。还有些小鸟整天都被关在笼子里面，不能和他们的朋友一起玩，只能每天伤心地过日子。
    </p>
    <p>…… ……</p>
    <p>
      到了长城中文学校的时候我才终于能够展开翅膀，找到了一个帮助我成功的社区。学中文再也没有痛苦了，因为每一堂课非常有趣。长城的老师不只重新点燃了我学中文的激情，他们一直都在我的身边帮助我好好努力学习这个美丽的语言。C11的叶老师常常鼓励我们在家多用中文和父母交通，多研究中文的网站和练习读中文字。她教书特别好，因为她不太喜欢用课本教我们中文，觉得课本的中文太假了，所以就专门找出大陆的报纸文章给我们练习。我非常感谢叶老师的教授，让我在AP中文考试得到了一个五分。今年胡老师的班更加迷人。胡老师在课上会讲很多关于中国历史和文化的故事，让我每一节课都欣赏中国。暑假回国的时候，我一定会牢牢记住胡老师教给我的关于中国文化的知识，和真正的中国人在一起强迫我只能用汉语说话，这样会给我很多的机会来练习我在长城学到的中文。
    </p>
    <p>…… ……</p>
    <p>
      因为有了长城中文学校，我才能达到现在这样的状况，像个终于到天上飞的美丽小鸟一样。</p>
    <p class="story-date">5/3/2016</p>
    <hr>
    <h3 class='story-title'>那当然了</h3>
    <p class="story-author">李瑶</p>
    <img src="assets/images/people/susan-li.jpg" class="story-author-image" />
    <p>“你说，你明年不就上高四了吗？你还会来我们这里吗？”</p>
    <p>“我……”</p>
    <p>“快来，快来，你看，我做对了没有，快一点！”一个孩子向我们喊。</p>
    <p>
      “好了，等一下，我这就来看，不要着急！”看着孔雀跑过去，我偷偷地跟赵媛媛笑一笑。小孩子们都实在是太可爱了。</p>
    <p>“真棒，还有五分钟就结束，大家开始收拾东西了！”</p>
    <p>……</p>
    <p>
      我在这里上了九年的中文课，最近几年也开始喜欢学中文了。但是每个星期天来中文学校并不只是上课。我每次走进门的时候就看到许多熟悉的面孔，每次下了课以后就领一份中美时报拿回家，每次跟孔雀和赵媛媛一起教小孩子们叠纸就像跟姐妹一起说笑似的。长城中文学校，对我来说，不只是每个周末上的课，它是我从小跟着长大的社区、朋友和家外的家。
    </p>
    <p>
      学生一个个跟着家长回家了。临走时，孔雀用手指捅捅我说：“你还没回答我的问题呢，你明年到底会不会来呀？”</p>
    <p>我笑着说，“那当然了，你还用问吗？”</p>
    <p class="story-date">4/15/2013</p>
    <hr>

    <h3 class='story-title'>读路标</h3>
    <p class="story-author">曹语嫣</p>
    <img src="assets/images/people/kelly-cao.png" class="story-author-image" />
    <p>
      每个阳光明媚的夏天，我们全家人乘飞机去中国旅游和看我们的大家庭。我觉得中国有很多独特的东西！下面将两个读车牌号和路标的小故事。
	</p>
    <p>
      我记得很清楚。一个下着蒙蒙雨的下午，我撑着雨伞走回家。我一边走一边看路边汽车的车牌号，一辆接一辆的从我身旁开过，我看到很多相同的数字：八和五。当我弄清楚为什么中国人喜欢用这两个数字时，我不由的笑了。中文老师说中国人比较喜欢选吉利数字，因为这些数字的谐音寓意很好，比如：“五”跟“我”同音，“八”跟“发财”的“发”同音。而我继续认真看车牌号时发现，“四”这个数字出现的很少，因为“四”跟“死”同音。
	</p>
    <p>
      我在散步时经常看到一些中文标牌，有些标牌我不太懂。例如：“施工重地行人止步”和“请保管好随身携带物品”。施工重地行人止步是什么意思呀？它的意思是：当某地正在建造类似建筑的东西时，让行人注意安全。当我下飞机和乘地铁时我看到：“请保管好随身携带物品”，我知道这是代表你要小心照顾好自己的行李。
	</p>
    <p class="story-date">5/15/2020</p>
    <hr>
    
    <h3 class='story-title'>折纸的世界</h3>
    <p class="story-author">马梓元</p>
    <img src="assets/images/people/brian-ma.jpg" class="story-author-image" />
    <p>…… ……</p>
    <p>
      过了一段时间，我开始做我的第一个项目：一只猫。在这之前，我已经做了一个小水果和一个小星星，可那些是很小，很容易的东西。为了做这只猫，我用了几个小时折了几百个小三角形纸片。我开始先打底，把它们一片一片地插进去做成一个圆圈，然后再一片一片往上加。做着做着，我就看出来那些小三角形的用处了。我把越来越多的小三角形插到一起，那个小动物就会越来越像，越来越好看了。当我把小猫做好的时候，我把它放在桌子上仔细看，那个小猫比我想的还好！我花在做三角形上的功夫看起来很有用，那些开始看起来好像没用的小三角形纸片其实作用非常大！
    </p>
    <p>
      做完小猫后，我开始做更大的项目。每一个项目需要折更多的小三角形纸片。那个猫用了两百片，猫以后的项目需要三百，四百，五百片纸。最大的项目是一个孔雀，需要一千几百片。虽然每一个项目要越来越多片纸，但我折得越来越起劲儿，因为我特别想看最后的作品是怎么样的。我开始对折纸产生了很大的兴趣！我认识到那些看起来没有意思的小纸片经过我的手可以变成一个个美丽的小动物。
    </p>
    <p>…… ……</p>
    <p class="story-date">5/6/2019</p>
    <hr>

    <h3 class='story-title'>兴趣</h3>
    <p class="story-author">徐蕊</p>
    <img src="assets/images/people/ariea-xu.jpg" class="story-author-image" />
    <p>…… ……</p>
    <p>
      长城中文学校不仅教了我怎么读书和写字，它也让我更多地了解了中国的文化和历史背景。更重要的是，它使我对中文产生了兴趣。上长城中文学校以前，我从来都没有真正地欣赏过中文的博大精深。这个看起来比较普通的中文教学机构，让我慢慢地意识到我自己的成长背景，发现作为一个中国人有多么自豪。中文真的是自己的根文化，多亏长城中文学校帮助我逐步认识到了这一点。
    </p>
    <p>
      今年我十七岁了，上高中三年级。虽然学校里的功课很紧张，我还是尽量每个星期坚持到长城中文学校学习中文。我觉得我们班现在的老师，就是在传授这种中国的根文化。他的课已经不仅仅是愣背单字和学语法了，我们现在每一课都在学习中国的历史、地理、哲学和古老的中华文明。
    </p>
    <p>
      现在，我已经是高三学生，有关中文的考试都已考完，不再有应试压力了。对我来说学中文纯粹是为了兴趣，我想更多地了解我自己的文化。所以在我看来，我现在才是真正地开始“学”中文。</p>
    <p>…… ……</p>
    <p class="story-date">4/15/2013</p>
    <hr>
    <h3 class='story-title'>艺术的天窗</h3>
    <p class="story-author">孔繁娜</p>
    <img src="assets/images/people/tracy-kong.jpg" class="story-author-image" />
    <p>在我成长的岁月里，一个神奇的地方，会让我终生难忘，她就是长城中文学校。</p>
    <p>
      记得很小的时候，五岁吧，刚从外婆那里回来。可能是被他们惯的，我那时不听话，妈妈就把我送到中文学校，让老师管管。从那以后，每个星期天，除了生病，从没间断过。</p>
    <p>
      八年级的时候，我爱上了折纸，它给我打开了艺术的天窗。我从小就喜欢画画，这下找到了自己的喜好。不要小看那一个个折纸，要做得栩栩如生的，需要有创意，还要美观，更要有耐心。有时候一坐就是几个小时，不停地折啊折啊，多少次那些锋利的纸，割伤了我的手！
    </p>
    <p>
      功夫不负有心人，我终于当上了中文学校的老师，和赵媛媛、李瑶等几个小同事共同教小孩子学折纸。每次看着那些好奇的孩子，就想把我知道的都教给他们，看着他们一天天进步，心里比吃了蜜都甜！从那时起，我真正爱上了中文学校。</p>
    <p>
      折纸不仅锻炼了自己的能力，也培养了责任心，自信心。感觉自己是个有用的人，被需要的人！我们参加了很多大型活动，展出自己的作品，还卖出去不少，乐趣无穷！</p>
    <p>…… ……</p>
    <p>
      太多的故事，太多的感谢，太多的回忆，再次感谢所有教过我的老师，一起学习过的同学，还有我教过的孩子，感谢你们让我成长，感谢您，长城中文学校，我的文化启蒙学校！
    </p>
    <p class="story-date">5/3/2015</p>
    <hr>

    <h3 class='story-title'>我们成功了</h3>
    <p class="story-author">黄真诚</p>
    <img src="assets/images/people/kevin-huang.jpg" class="story-author-image" />
    <p>…… ……</p>
    <p>
      玩扯铃很不同。表演时如果有失误，演出就会让观众很失望。而且跟你许多小时一起训练和表演的伙伴也失望。有一年春节表演我和两个朋友表演时我没有接住扯铃。我应该很容易接住，就在我手里拉的绳子面前。扯铃高声地掉到地下还开始滚下台。我也不好意思地去追扯铃。可是如果你成功了，观众和朋友都很兴奋。又一年我还是和那两个朋友在表演。我们练了好几个小时，觉得我们肯定可以做好。音乐开始了，一个朋友站在我对面，另一个站在我后面。我和朋友的表演最复杂，放在最后。过了几分钟，其他的表演者下台了。我们的时间终于来了。我看了一眼伙伴，点了一下头就跑上台。跟着音乐的节拍，我躺到地下像滑冰似的滑过去。当我身体停住时，我在台上的姿势就像电影坦泰尼克号电影中的<span
        class='latin'>Rose</span>躺在床上一样。看到我，观众笑了起来。突然，后面的伙伴从我躺着的身体跳过。同时，对方的朋友把扯铃扔到空中。扯铃在半空中时，跳过我的同伴一个平滑的动作把扯铃接住。那时，我们演出就成功了。演出结束时，三个好朋友拥抱在一起，都很高兴我们的努力和花的功夫没有浪费。
    </p>
    <p>…… ……</p>
    <p class="story-date">5/15/2017</p>
    <hr>
    <h3 class='story-title'>我和我的的园丁们</h3>
    <p class="story-author">刘亦楠</p>
    <img src="assets/images/people/clare-liu.png" class="story-author-image" />
    <p>…… ……</p>
    <p>
      在过去的几年，长城中文学校给我提供我很多做志愿者的机会。小学和中学的时候，我参加了跳舞和做主持人。舞台让人感觉非常耀眼，台下观众非常多。这个教会了我如何站在台上。后来，高中的时候，我开始喜欢上幕后工作。做管理工作培养了我的责任心。我也常常帮中文学校设计广告和编辑视频。做这些事情提高了我的个人能力和创造力。今年，我做了中文学校的儿童班的美术老师。学了怎么备课，怎么跟学生交流。所有这些机会都像阳光，肥料和水，帮助我变成一位有能力的人。
    </p>
    <p>
      我是一个小声说话并害羞的人。可是10年级的时候，不知何故，我鼓起勇气去参加学生会竞选。11年级，我当选了学生会副主席。今年，12年级，我担任了主席工作。9年级的时候，我根本不会梦想到这个。我不是一个善长交流的人，但我努力突破我个性的限制。除了参加以前的老人院表演，舞台表演和学校的聚会，我还尝试组织了很多新的活动。
    </p>
    <p>…… ……</p>
    <p class="story-date">4/18/2016</p>
    <hr>
    <h3 class='story-title'>好朋友</h3>
    <p class="story-author">王慧怡</p>
    <img src="assets/images/people/vikki-wong.jpg" class="story-author-image" />
    <p>…… ……</p>
    <p>有一天，我注意到一个同学，<span class='latin'>Michelle</span>,
      每次来上课都带着她的小提琴。我问了她：“你为什么会把乐器带到这里呢？”她告诉我她在长城中文学校的小提琴课帮忙教孩子。我也会拉小提琴，所以就去问了一下长城中文学校的小提琴老师，看她需不需要帮忙。这样，我就慢慢地开始进入到长城中文学校的社交圈。
    </p>
    <p>我发现我和<span class='latin'>Michelle</span>
      的性格很合得来。我还记得，我第一次剪短头发的时候，走进课堂的时候，立刻发现<span class='latin'>Michelle</span>跟我一样把头发剪得很短。我们两个笑了，而再也没有把头发留长。从那以后，<span
        class='latin'>Michelle</span>变成我的一个好朋友。我们在长城中文学校的两年对我来说是充满精彩的记忆。她去年毕业了，去<span
        class='latin'>Georgia</span>上大学。但是，我们还有联系。比如说，今年春假，我和她刚好一样时间去了波士顿。我是去看大学，她是去探她的姐姐。我们一发现，就立刻安排见面。虽然我们好久没见，我们还是聊的很好。
    </p>
    <p>…… ……</p>
    <p class="story-date">5/6/2019</p>
    <hr>
    <h3 class='story-title'>当老师</h3>
    <p class="story-author">毛小佛</p>
    <img src="assets/images/people/michelle-mao.jpg" class="story-author-image" />
    <p>…… ……</p>
    <p>
      现在，我变成了老师。差不多每个星期天，我提前一个小时到学校。我坐在餐厅里等着我的学生。从十年级开始，我辅导差不多五个学生。他们没有一个姥姥可以帮助他们，所以我来帮助他们。有些学生是中国人，有些是美国人，有些是中国人但是他们的父母是美国人。他们都需要帮助，特别是他们的发音。很多中国小孩从小听他们的父母说中国话，所以说话的时候发音像他们的父母。中文的发音很特别，所以外国人说中国话的时候，听上去有点奇怪。所以每个星期，我让我的学生听我说话。他们喜欢玩游戏还喜欢竞争。为了让他们去好好记单词，我想出各种各样的游戏让他们玩。
    </p>
    <p>
      他们最喜欢的游戏很简单。我把他们排成一队。每个学生拿一个字。有些时候是英文字，有些时候是中文字。拿到中文字的时候，他们要给我讲那个字的英文意思。英文字的时候，他们要给我讲中文的意思。回答对的时候，就可以向前一步。但是，有些时候他们知道一个字的拼音，不知道正确的发音。那时候我不会让他们往前走。应为他们想赢，他们会变得很不耐烦。我会跟他们讲正确的发音，他们会重复正确的发音至少五次。我也会记得那个他们有困难的那个字，等到下个星期我会再问他们怎么念那些字。
    </p>
    <p>…… ……</p>
    <p class="story-date">5/7/2018</p>