<div class="container">
	<header>
		<a href="index.html">
			<img src="assets/images/sites/site-logo.gif" class="image-header">
		</a>
		<p class="header-text">{{service.getCourse().description}}</p>
	</header>

	<nav>
		<!-- The course title -->
		<p class="sidebar-chinese-title">{{service.getCourse().title}}</p>

		<!-- The lesson title list of the course -->
		<ol #lessonList start='{{service.getStartFrom()}}'>
			<li *ngFor="let lesson of service.getCourseLessons();" [class.selected]="lesson == service.getLesson()"
				(click)="setLesson(lesson)">
				<span class="charpter-index">{{lesson.title}}</span>
			</li>
		</ol>

		<!-- The chapter list of the selected lesson -->
		<div class='chapter-list' *ngIf='service.isMultiChapters()'>
			<fieldset>
				<legend> Select Content </legend>
				<div *ngFor='let chapter of service.getLessonChapters()'>
					<input type='radio' name='lesson-chapter' [checked]='service.isSelectedChapter(chapter)'
						(click)='setChapter(chapter)' />{{chapter.label}}
				</div>
			</fieldset>
		</div>

		<!-- The audio player to play the selected clip -->
		<div *ngIf="service.hasAudioClip()">
			<audio #audioPlayer controls class='side-clip'>
				<source [src]="service.getAudioSource()" type="audio/mpeg" />
			</audio>
		</div>

		<!-- Message panel -->
		<p class='message'>{{service.getMessage()}}</p>

		<!-- The link to the courses page -->
		<p>
			<a [href]="getCoursesPageURL()">
				<img src="assets/images/sites/other-courses.gif" class='image-course'>
			</a>
		</p>
	</nav>

	<article>
		<div>
			<!-- The video player -->
			<div *ngIf="service.hasVideoClip()">
				<iframe [src]="service.getVideoSource()" width="400" height="230" class='video-clip'> </iframe>
			</div>

			<!-- Text panel -->
			<div [innerHTML]='service.getChapterText()'></div>
			<p class='next-text' *ngIf='service.isMultiText()' (click)='nextText()'>Next Text
			</p>
		</div>
	</article>
</div>