<div class="card mb-2">
	<div class="card-body link-text">
		<h3 class='link-title'>Learn Chinese Earn High School Credits</h3>
		<p>
			<span style='font-weight:bold; font-size:20px'>What </span> A student may obtain high school credit in World
			Language Independent Study for Douglas County School District.</p>
		<p>
			<span style='font-weight:bold; font-size:20px'>Who </span> The program is for high school students who
			enroll in Chinese classes in the Great Wall Chinese Academy.</p>
		<p>
			<span style='font-weight:bold; font-size:20px'>How it works </span></p>
		<ul>
			<li>Contact school counsellor from Great Wall Chinese Academy to obtain form & doc</li>
			<li>Contact your high school counselor to enroll in World Language Independent Study, noting the option of
				Chinese course and request the Registration and Course Verification form for Obtaining World Language
				Independent Study Credit. </li>
			<li>Complete the Registration and Course Verification Form for Obtaining World Language Independent Study
				Credit. Note: If prior approval is not obtained before the beginning of the course credit will not be
				given to the student.</li>
			<li>Contact the Chinese teacher at DCSD who will administer the proficiency assessment at the end of the
				course. A list of Chinese teachers in DCSD that can administer the assessment will be available through
				the individual high school counseling office. The DCSD Chinese teacher will give requirements to your
				student - check homework, class work, give tests, etc.</li>
			<li>Contact Great Wall Chinese Academy for high school 9-12 courses and enrollment information.</li>
			<li>The student enrolls in a GWCA Chinese class and study Chinese in GWCA</li>
			<li>The student keeps updates with the DCSD Chinese teacher.</li>
			<li>The DCSD Chinese teacher will pass or fail the Chinese class for the student.</li>
			<li>0.5 credit will be shown on the high school transcript if the student passes the class.</li>
		</ul>
		<nav class="nav justify-content-center">
			<a class="navbar-brand link" target='_blank'
				href="https://drive.google.com/file/d/1GM8Su_aEzvyArYpkV4rL04FDOjQQgFov/view?usp=sharing">Requirements</a>
			<a class="navbar-brand link" target='_blank'
				href="https://drive.google.com/file/d/11v4U0YdjrQ06bbiqyrAvY3vwPoATPluY/view?usp=sharing">Course
				Registration/Verification Form</a>
		</nav>
	</div>
</div>