<div class="card mb-2">
	<div class="card-body about-text">
		<p>Standards For Chinese Language Learning by <a href='http://www.classk12.org/' target='_blank'>CLASS</a></p>
		<p>AP Chinese by <a href='http://apcentral.collegeboard.com/apc/public/courses/teachers_corner/37221.html'
				target='_blank'>College Board</a></p>
		<p>SAT II Chinese with Listening by <a
				href='http://apcentral.collegeboard.com/apc/public/courses/teachers_corner/37221.html'
				target='_blank'>College Board</a></p>
		<p><a href='http://www.hsk.org.cn/english/Intro_summ.aspx' target='_blank'>Chinese Proficiency Test</a> by
			Beijing Language and Culture University</p>

		<h3 class='about-title'>Content and Skills 目标大纲</h3>
		<p class='about-subtitle'>Interpretative Mode 理解诠释</p>
		<p>
			Students interpret a broad range of written and oral texts. They develop reading proficiencies to identify
			and summarize main points and important details, and make appropriate inferences and predictions through
			exposure to highly contextualized written materials like advertisements, signs, and posters. They then
			progress through careful readings of more densely written texts excerpted or adapted from newspapers,
			magazine articles, contemporary literature, letters, and essays. Similarly, students develop their aural
			proficiencies through exposure to contextualized language excerpted or adapted from a wide variety of oral
			texts, ranging from the formal language heard in news broadcasts and announcements made in public places to
			colloquial language found in movies and television dramas.</p>
		<p class='about-subtitle'>Interpersonal Mode 语言沟通</p>
		<p>
			The interpersonal mode involves spontaneous two-way interaction, such as conversing face-to-face or
			exchanging written correspondence. Teachers conduct class primarily in Chinese to facilitate students’
			development of communicative strategies for initiating and sustaining conversation. Students are provided
			with significant opportunities to engage in class activities in which an active negotiation of meaning is
			required. Students also develop capacities to respond in culturally appropriate ways to questions on
			familiar topics, to understand conversations among native Chinese speakers, and to comprehend and compose
			e-mail or personal letters as part of back-and-forth communication with other Chinese speakers.</p>
		<p class='about-subtitle'>Presentational Mode 表达演示</p>
		<p>
			Students develop speaking proficiencies to be able to create a level-appropriate speech or report, produce a
			newscast or video, and narrate personal experiences and current events in a coherent fashion with
			comprehensible pronunciation and intonation. They also develop the ability to write and speak in a variety
			of settings, types of discourse, styles, and registers. Students express themselves in writing on topics
			they have researched. They use a variety of written discourse styles, including descriptive, narrative,
			expository, and persuasive. Employing the organization, vocabulary, and structures appropriate to the
			purpose of their writing, students make themselves understood to an audience of readers with whom they will
			not have the opportunity to exchange further information and ideas.</p>
		<p>Throughout their language production in the presentational and interpersonal modes, students increasingly
			employ linguistically accurate Chinese. They also continue to develop sociocultural and pragmatic
			competences, strengthening their abilities to communicate effectively and appropriately in a variety of
			social, cultural, or pragmatic contexts.</p>
		<h4 class='about-title'>Assessment评量标准</h4>
		<p>
			Throughout the AP Chinese course, <a href='http://en.wikipedia.org/wiki/Test_%28student_assessment%29'
				target='_blank'>assessments</a> are frequent, varied, and explicitly linked to the content and
			skills that comprise the learning goals of each unit of study. Teachers use the AP Chinese Language and
			Culture Exam as a model, assessing both cultural knowledge and language skills within the context of complex
			tasks. They identify formative and summative assessment tasks at the beginning of each unit of study,
			scaffolding the learning activities throughout the unit as a means of enabling students to achieve success
			on each successive assessment. Before they begin each assessment task, teachers share with their students
			the criteria against which students’ work will be judged, which generally takes the form of rubrics.</p>
		<p>In addition to the formative assessments completed within each unit of study, timed assessments typical of
			the AP Exam can be employed within each unit’s context as well. Sample reading assessments include timed
			reading tests with selected-response questions that assess students’ abilities to understand the main points
			of lengthy texts adapted from authentic sources.</p>
		<h4 class='about-subtitle'>Standards for Chinese Language Learning</h4>
		<h4 class='about-subtitle'>全美中小学中文教学目标与评量标准</h4>
		<p>From The Chinese Language Association of Secondary-Elementary Schools (CLASS) 全美中小学教师协会</p>
		<p>
			<span style='font-weight:bold'>Goal 1</span> Communication 语言交流
			Communicate in Chinese</p>
		<p>
			<span style='font-weight:bold'>Standard 1. 1</span> Interpersonal Communication语言沟通
			Students engage in conversations，provide and obtain information，express feelings and emotions，and exchange
			Opinions.
			学生以交谈方式，询问或提供讯息、交换意见、表达感情</p>
		<p>
			<span style='font-weight:bold'>Standard 1.2</span> Interpretive Communication理解诠释
			Students understand and interpret written （in characters and／or phonetic transcription）and Spoken language
			on a
			variety of topics. 学生明白和领会不同题材的书写（文字或拼音）与口语的表述</p>
		<p>
			<span style='font-weight:bold'>Standard 1.3</span> Presentational Communication表达演示
			Students present information，concepts，and ideas to an audience of listeners or readers on a variety of
			topics.
			学生能将不同主题的信息、想法及理念，充分表达给听众或读者</p>
		<p>
			<span style='font-weight:bold'>Goal 2 Cultures</span> 文化认知
			Gain Knowledge and Understanding of the cultures of the Chinese-Speaking World</p>
		<p>
			<span style='font-weight:bold'>Standard 2.1</span> Practices of Culture习俗了解
			Students demonstrate an understanding of social patterns and the practice of conventions，and interact
			appropriately in Chinese Culture Setting. 学生能表达对华人社会习俗的了解与认识，并且在环境中能应对得体.</p>
		<p>
			<span style='font-weight:bold'>Standard 2.2</span> Products of Culture文化传承
			Students demonstrate knowledge and understanding of significant of components of the Chinese culture，such as
			traditions，art，history，literature，music. 学生能表达对中国文化，诸如习俗、艺术、历史、文学、音乐等的知识和了解.</p>
		<p>
			<span style='font-weight:bold'>Goal 3</span> Connections 融会贯通
			Connect with Other Disciplines and Acquire Information</p>
		<p>
			<span style='font-weight:bold'>Standard 3.1</span> Making Connection触类旁通
			Students reinforce and further their knowledge of other disciplines thru the study of Chinese.
			由于学习中文，而加强或扩展其它学科的知识领域.</p>
		<p>
			<span style='font-weight:bold'>Standard 3.2</span> Acquiring New Information增广见闻
			Students acquire information and recognize the distinctive viewpoints that are only available through the
			Chinese language and culture. 学生能得到唯有学中文才能获得的特殊观点与体认.</p>
		<p>
			<span style='font-weight:bold'>Goal 4</span> Comparisons 多元比较
			Develop Insight into the Nature of Language and Culture</p>
		<p>
			<span style='font-weight:bold'>Standard 4.1</span> Language Comparisons语言对比
			Students demonstrate understanding of the nature of language through comparisons of the Chinese language and
			their own.
			学生比较中文与其母语，而促进对语言本质的了解</p>
		<p>
			<span style='font-weight:bold'>Standard 4.2</span> Culture Comparison文化对比
			Students demonstrate understanding of the concept of culture through comparisons of Chinese culture and
			their
			own.
			学生比较中国文化与其本国文化，而达成对文化本质的了解</p>
		<p>
			<span style='font-weight:bold'>Goal 5</span> Communities 社区实用
			Participate in Multilingual Communities at Home and Around the World</p>
		<p>
			<span style='font-weight:bold'>Standard 5.1</span> Language Beyond School学以致用
			Students use the Chinese language both within and beyond the school setting.
			学生可以在校内或校外运用中文</p>
		<p>
			<span style='font-weight:bold'>Standard 5.2</span> Life-1ong Learning学无止境
			Students show evidence of becoming life-long learners by using Chinese for personal enjoyment and
			enrichment.
			学生将中华语言文化溶入日常生活，充实生活增进乐趣.</p>
		<p style='text-align: right;'>
			From Wikipedia, the free encyclopedia</p>
		<p>
			Advanced Placement Chinese Language and Culture (commonly known as AP Chinese Language and Culture or AP
			Chinese) is a course offered by the College Board as a part of the Advanced Placement Program. Designed to
			be
			comparable to a fourth semester or equivalent college/university courses in Mandarin Chinese, these college
			courses deepen the students’ immersion into the language and culture of the Chinese-speaking world.
			Coursework
			within this course reflects the proficiencies exhibited throughout the Intermediate range as described in
			the
			American Council on the Teaching of Foreign Languages (ACTFL) Proficiency Guidelines.</p>
		<p>
			The AP course prepares students to demonstrate their level of Chinese proficiency across the three
			communicative
			modes (interpersonal, interpretive, and presentational) and the five goal areas (communication, cultures,
			connections, comparisons, and communities) as outlined in the Standards for Foreign Language Learning in the
			21st Century. Its aim is to provide students with ongoing and varied opportunities to further develop their
			proficiencies across the full range of language skills within a cultural frame of reference reflective of
			the
			richness of Chinese language and culture. Since the course interweaves language and culture learning, this
			exploration occurs mostly in Chinese.</p>
		<p>
			中文及中华文化AP，简称AP中文，AP中文课程是美国高中学生一门外语选修课程，课程设计为两年，通过考试的考生可以获得大学学分，或能选修中文高级课程，或两者兼得。换言之，通过AP考试，成绩合格者，进入大学后可从第五个学期的中文课选读。
			90%左右的美国, 加拿大大学, 以及20个左右其它国家的大学都承认它的学分. AP中文相当于美国大学四个学期 (约250小时) 第二外语的程度.内容包括:中文听、说、读、写及中国文化,语言：普通话 (国语).
			字体：简体、繁体并列. AP中文让学生了解中华文化，教学和考试重点是全方位地训练学生中文的听、说、读、写能力，懂得中华文化。听（Listening）
			25%，读（reading）25%，写（Writing）25%，说（Speaking） 25%. 考试时间大约3小时.</p>
		<p>
			Developing students’ awareness and appreciation of the elements of Chinese culture is a pervasive theme
			throughout the AP Chinese course. The course engages students in an exploration of both contemporary and
			historical Chinese culture. Students learn about various aspects of contemporary Chinese society, including
			geography and population, ethnic and regional diversity, travel and transportation, climate and weather,
			holidays and food, sports and games, and current affairs. They also explore the realm of Chinese societal
			relationships, examining how individuals interact with family members, elders, and peers, and integrate this
			knowledge into their interpersonal communications.</p>
		<p>
			The course helps students broaden their world view by comparing Chinese cultural products, practices, and
			perspectives with those of their own society. With this background, students can ideally move beyond a basic
			knowledge of the products and practices of Chinese culture to an understanding of how these products and
			practices reflect a Chinese way of viewing the world. Throughout the course, students hone their language
			skills
			across the three communicative modes: interpretive, interpersonal, and presentational. In so doing, they
			develop
			necessary knowledge of the Chinese language, including pronunciation, vocabulary, idiomatic expressions,
			grammatical structures, and written characters.</p>
		<p>
			SATII Chinese with Listening test – the test measures student’s ability to understand spoken (Mandarin) and
			written Chinese. The test contains 85 multiple-choice questions (a 20-minute listening section and a
			40-minute
			reading section). It is designed for high-school students that have learned Chinese for 2-4 years.
			Theoretically, it should be simple to those who have a Chinese background and are fluent in Chinese. SAT II
			中文是美国大学理事会(College Board)为美国高中生设立的全国性专科标准测试。考生的成绩是美国大学录取新生的重要依据。1994年起，大学理事会把中文正式列入其中，为学习中文的学生增加一项得分的科目。SAT
			II
			中文考试跟任何教材都没有直接的关系，考题以汉语拼音、简体字和注音符号、繁体字并列列出。考题的设计十分注重实际使用语言的能力，如各种表格、广告、信件、日记、便条、通知等。整个考试时间为一小时，包括听力、语法和阅读，时间分别为二十分钟，共85道题。中文在美国的教育体系中属于一种外语课程，试题的设计是以完全没有中文背景，只是在学校修过二至四年中文的的高中生为对象。因此，华裔高中生俱有获高分的优势。
		</p>
		<p>
			每年SAT II中文的正式考试日期为11月的第一星期六，通过网上报名非常方便，网址是：<a href='http://www.collegeboard.com'
				target='_blank'>http://www.collegeboard.com</a>.</p>
		<p>
			SAT II – <a href='http://www.collegeboard.com/student/testing/sat/about/SATII.html' target='_blank'>Subject
				Tests</a>, one-hour, mostly multiple-choice tests, measure how much students know about a
			particular academic subject and how well they can apply that knowledge. Most colleges require that student’
			take
			particular subject tests as approved by them; usually this includes the writing test and/or one of the math
			tests. Some schools however, do offer some choice in the matter, especially if they want students’ to take a
			total of three subject tests. Before students’ register for any test, it is recommended to check with the
			colleges in which they are interested to pursue education, to determine exactly which test(s) they require.
		</p>
	</div>
</div>