.landing {
    font-size: 14px;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}

.header-logo {
    width: 10%;
    float: left;
}

.header-nav {
    width: 90%;
    margin-left: 10%;
    float: left;
}

.menu-top {
    margin-top: -40px;
}

.menu-top-mobile {
    margin-top: -10px;
}

.logo-image {
    height: 120px;
    margin-top: 10px;
}

.logo-image-mobile {
    height: 90px;
    margin-top: 10px;
}

.card-title-latin {
    height: 24px;
    color: white;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-title-chinese {
    height: 24px;
    color: white;
    font-size: 16px;
    font-family: KaiTi;
}

.side-bar-latin {
    cursor: pointer;
    color: rgb(18, 157, 212);
    list-style-type: none;
    font-size: 16px;
    text-indent: -40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.side-bar-chinese {
    cursor: pointer;
    color: rgb(5, 104, 143);
    list-style-type: none;
    font-size: 16px;
    text-indent: -40px;
    font-family: SimSun;
}

.main-menu {
    cursor: pointer;
    color: rgb(5, 104, 143);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

.main-menu-mobile {
    cursor: pointer;
    color: rgb(5, 104, 143);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.link {
    cursor: pointer;
    color: rgb(5, 104, 143);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.chinese-link {
    cursor: pointer;
    color: rgb(5, 104, 143);
    font-family: SimSun;
    font-size: 16px;
}

.footer-link {
    cursor: pointer;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.footer-image {
    border-radius: 8px;
    height: 40px;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

/* li:hover {
    text-decoration: underline;
    color: blue;
} */

.latin {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.kaiti {
    font-family: KaiTi;
    font-size: 18px;
    text-indent: 36px;
}

.simsun {
    font-family: SimSun;
    font-size: 18px;
    text-indent: 36px;
}

/* header, body and footer, keep the footer always at the bottom of the page */
html, body {
    height: 100%;
}

#landing {
    min-height: 90%;
}

#main {
    overflow: auto;
    /* padding-bottom:150px; this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    clear: both;
    /* margin-top:20px;
    margin-top: -150px;
    height: 150px;
    padding-top:20px;
    */
}