<div id="landing" [className]="isMobile() ? 'container-fluid' : 'container clear-top'">
  <!-- The page header -->
  <div id='main'>
    <!-- the logo image -->
    <div [className]="isMobile() ? '' : 'header-logo'">
      <a href="#landing" [title]="buttonTitle.home">
        <img src="assets/images/site/logo-gwca.jpg" [className]="isMobile() ? 'logo-image-mobile' : 'logo-image'"
          (click)="setPageIndex('Home', '')"></a>
    </div>

    <!-- the navigation menu -->
    <div [className]="isMobile() ? '' : 'header-nav'">
      <nav [className]="isMobile() ? 'nav' : 'nav justify-content-center menu-top'">
        <a [className]="isMobile() ? 'nav-link main-menu-mobile' : 'nav-link main-menu'" [title]="buttonTitle.home"
          (click)="setPageIndex('Home', '')">Home</a>
        <a [className]="isMobile() ? 'nav-link main-menu-mobile' : 'nav-link main-menu'" [title]="buttonTitle.about"
          (click)="setPageIndex('AboutUs', 'about')">About</a>
        <a [className]="isMobile() ? 'nav-link main-menu-mobile' : 'nav-link main-menu'"
          [title]="buttonTitle.registration" (click)="setPageIndex('StudentApplication', 'registration')">Application</a>
        <a [className]="isMobile() ? 'nav-link main-menu-mobile' : 'nav-link main-menu'"
          [title]="buttonTitle.academics" (click)="setPageIndex('RoadMap', 'academics')">Academics</a>
        <a [className]="isMobile() ? 'nav-link main-menu-mobile' : 'nav-link main-menu'" [title]="buttonTitle.news"
          (click)="setPageIndex('BulletinBoard', '')">Announcements</a>
        <a [className]="isMobile() ? 'nav-link main-menu-mobile' : 'nav-link main-menu'" [title]="buttonTitle.resources"
          (click)="setPageIndex('CollegeCorner', 'links')">Resources</a>
          <a [className]="isMobile() ? 'nav-link main-menu-mobile' : 'nav-link main-menu'" [title]="buttonTitle.community"
          (click)="setPageIndex('FirstBank', 'partners')">Partners</a>
      </nav>
    </div>

    <!-- the Google Search element -->
    <!-- <div style='width:50%; float:right; margin-top:-90px'>
      <div class="gcse-search"></div>
    </div> -->
  </div>

  <!-- The page body -->
  <div>
    <app-home *ngIf="isHome()"></app-home>
    <app-bulletin *ngIf="isBulletin()"></app-bulletin>
    <app-content *ngIf="isContent()"></app-content>
  </div>
</div>

<!-- The page footer -->
<footer class="footer bg-dark p-3">
  <div class='row'>
    <div class='col-sm-6'>
      <nav class="nav justify-content-end">
        <a class="navbar-brand" href='#landing' (click)="setPageIndex('Home', '')" [title]="buttonTitle.home">
          <img class='footer-image' src="assets/images/site/logo-gwca.jpg">
        </a>
        <a class="navbar-brand" target='_blank' href="https://www.facebook.com/gwcachineseschool/">
          <img class='footer-image' src="assets/images/site/facebook.png" [title]="buttonTitle.facebook">
        </a>
        <a class="navbar-brand" target='_blank' href="http://twitter.com/chinese4denver">
          <img class='footer-image' src="assets/images/site/twitter.png" [title]="buttonTitle.twitter">
        </a>
        <a class="navbar-brand" target='_blank'
          href="https://www.youtube.com/channel/UCqNZ6uIYu6vvZexl5JUzJDw/featured">
          <img class='footer-image' src="assets/images/site/youtube.png" [title]="buttonTitle.youtube">
        </a>
        <a class="navbar-brand" [title]="buttonTitle.firstbank" href='#landing'
          (click)="setPageIndex('FirstBank', 'partners')">
          <img class='footer-image' src="assets/images/site/firstbank.png">
        </a>
        <a class="navbar-brand" [title]="buttonTitle.community" href='#landing'
          (click)="setPageIndex('Partners', 'partners')">
          <img class='footer-image' src="assets/images/site/community.png">
        </a>
      </nav>
    </div>
    <div class='col-sm-6 text-left' style='font-size:14px; color:white'>
      <span class="fa fa-phone-square">&nbsp;</span> (720)583-4922<br>
      <span class="fa fa-envelope-o">&nbsp;</span> info@greatwallchineseacademy.org<br>
      <span class="fa fa-envelope">&nbsp;</span> P.O. Box 631908, Highlands Ranch, CO
      80163<br>
      <span class="fa fa-map-marker">&nbsp;&nbsp;&nbsp;</span> 9375 Cresthill Lane, Highlands Ranch, CO 80130
    </div>
  </div>
</footer>