<div class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">College Planning</div> -->
  <div class="card-body link-text">
    <h3 class='link-title'>College Planning</h3>
    <nav class="nav flex-column">
      <a class="navbar-brand link" target='_blank' href="https://parents.collegeboard.org/planning-for-college">College
        Board - College Planning</a>
      <a class="navbar-brand link" target='_blank' href="https://www.finaid.org/calculators/">EFC Calculator</a>
      <a class="navbar-brand link" target='_blank' href="http://www.collegeinvest.org/">Colorado State</a>
      <a class="navbar-brand link" target='_blank'
        href="https://drive.google.com/file/d/1xnoGG9eoLdP4BXk5Q0jCV6GHeyqpAbWA/view?usp=sharing">Common
        Application Form</a>
      <a class="navbar-brand link" target='_blank'
        href="https://drive.google.com/file/d/1GDJ4PzIlFbWh0-XDy7hECMi5DIiwhlHH/view?usp=sharing">Junior
        Check List</a>
      <a class="navbar-brand link" target='_blank'
        href="https://drive.google.com/file/d/19Mh480x-sVVKj0wKOUqCaL7XMqhztlVa/view?usp=sharing">Senior
        Workbook</a>
      <a class="navbar-brand link" target='_blank' href="http://www.bestcolleges.com/">BestColleges.Com</a>
      <a class="navbar-brand link" target='_blank' href="http://www.collegeboard.com/?student">SAT - College Board</a>
      <a class="navbar-brand link" target='_blank' href="http://www.actstudent.org/">ACT Home Page</a>
      <a class="navbar-brand link" target='_blank' href="https://highered.colorado.gov/Academics/Admissions/">College
        Requirements Colorado</a>
    </nav>
  </div>
</div>
<div class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Parents Share Experiences</div> -->
  <div class="card-body link-text">
    <h3 class='link-title'>Parents Share Experiences</h3>
    <nav class="nav flex-column">
    <!-- 
      The PAGE_IDs can be found in the page-index.json file that is stored locallly and remotely in Drive.
      each PAGE_ID has a URL associated with and it is inserted to the <a> tag as 'href' attribute. This 
      action happens when this page gets loaded by the app.
    -->
    <a class="navbar-brand link" target='_blank' PAGE_ID="GuidelinesForApplyingToTopColleges">Guidelines
        for Applying to Top Colleges by Ming-Da Jiang</a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="UnderstandingAmericanCollege">Understanding
        American College by Ren Yi</a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="InterviewsOfHSGraduates">Interviews of
        HS Graduates by Ren Yi</a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="PrepareForCollegeFinance">Prepare
        for College Finance by Ren Yi</a>

      <!-- <a class="navbar-brand link" target='_blank'
        href="https://drive.google.com/file/d/1jWabsjFAgOqMQa36AtTDSI2qUoaxW4js/view?usp=sharing">Guidelines
        for Applying to Top Colleges by Ming-Da Jiang</a>
      <a class="navbar-brand link" target='_blank'
        href="https://drive.google.com/file/d/14NEyOSY7gBMlqh2nkrc2NUVPfBpw9k_j/view?usp=sharing">Understanding
        American College by Ren Yi</a>
      <a class="navbar-brand link" target='_blank'
        href="https://drive.google.com/file/d/1eHaAR2X355psd7DeFHLI9kzfrSPB3byE/view?usp=sharing">Interviews of
        HS Graduates by Ren Yi</a>
      <a class="navbar-brand link" target='_blank'
        href="https://drive.google.com/file/d/1pruwcxNQGxNpRFYQcEJ6kOPar_GWl594/view?usp=sharing">Prepare
        for College Finance by Ren Yi</a> -->
    </nav>
  </div>
</div>
<div class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Finance & Scholarships</div> -->
  <div class="card-body link-text">
    <h3 class='link-title'>Finance & Scholarships</h3>
    <nav class="nav flex-column">
      <a class="navbar-brand link" target='_blank' href="http://www.guaranteed-scholarships.com/">Guaranteed
        Scholarships</a>
      <a class="navbar-brand link" target='_blank'
        href="http://www.dfwinternational.org/resource_center/Guide_to_Scholarships_for_New_Americans_and_Minorities.pdf">Scholarships
        for New
        American and Minorities</a>
      <a class="navbar-brand link" target='_blank' href="http://www.dfwinternational.org/resource_center/">DFW
        International</a>
      <a class="navbar-brand link" target='_blank' href="http://oedb.org/minority-scholarship/">Scholarship
        for Minority Students</a>
      <a class="navbar-brand link" target='_blank'
        href="http://www.bestcolleges.com/financial-aid/minority-students/">Financial
        Aids for Minority Students</a>
      <a class="navbar-brand link" target='_blank' href="http://www.collegegrant.net/students-guide-to-college/">The
        College Grants</a>
      <a class="navbar-brand link" target='_blank' href="https://www.annuity.org/financial-literacy/students/">Students
        & Financial Literacy</a>
      <a class="navbar-brand link" target='_blank'
        href="https://edubirdie.com/blog/financial-aid-for-minorities">Financial Aid for
        Minorities</a>
    </nav>
  </div>
</div>