<div class="card mb-2">
  <div class="card-body link-text">
    <h3 class='link-title'>Private Tutor Referrals</h3>
    <p>

      Looking for qualified native mandarin Chinese teachers?
      Need a small group or individual learning environment?
      Send your request with the information including:
    </p>
    <ol>
      <li>
        brief description what your expectation is
      </li>
      <li>
        preferred days & time
      </li>
      <li>
        your home address
      </li>
      <li>
        contact phone and email
      </li>
    </ol>
    <p>
      Interested teachers will contact you</p>
    <p>
      Send to: info@greatwallchineseacademy.org
    </p>
  </div>
</div>