<!-- The homework manager -->
<div>

  <!-- The header with title, runtime information and assignments selection area -->
  <div class='row info-bgcolor'>

    <!-- the current homework information -->
    <div class='col-sm-5 text-left p-2'>
      <span class='work-title bold-title'>{{ service.getWorkTitle() }} </span>
    </div>

    <!-- the runtime information -->
    <div class='col-sm-3'>
      <span [ngClass]='{"page-info":true, "info-color": service.isRuntimeInfo(), "error-color": service.isRuntimeError()}'>
        {{ service.getInfoMessage() }}
      </span>
    </div>

    <!-- Other buttons -->
    <div class='col-sm-4 text-right p-2'>
      <div style='display:inline'>

        <!-- the classes selection -->
        <div *ngIf='service.isMultipleClasses()' style='display:inline; margin-right:2px;'>
          <button title='Select a class' class="btn btn-primary btn-tiny dropdown-toggle" id="selectClass" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Classes</button>
          <div class="dropdown-menu" aria-labelledby="selectClass">
            <button *ngFor="let clazz of getClasses()" class="dropdown-item" (click)='setClass(clazz)'>
              <span class='work-title'>{{clazz.className}}</span>
              <span *ngIf='isCurrentClass(clazz)'> *</span>
              <span class='assign-date'> ({{clazz.classYear}})</span>
            </button>
          </div>
        </div>

        <!-- the assignments selection -->
        <div style='display:inline; margin-right:2px;'>
          <button title='Select a homework' class="btn btn-primary btn-tiny dropdown-toggle" id="selectHomework"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assignments</button>
          <div class="dropdown-menu" aria-labelledby="selectHomework" id='homework'>
            <button *ngFor='let homework of service.getHomeworkList()' class="dropdown-item" (click)='service.setHomework(homework)'>
              <span class='work-title'>{{ homework.workTitle }} </span>
              <span class='assign-date'>{{ homework.workNumber }} </span>
            </button>
          </div>
        </div>

        <!-- reload the homework list for the teacher -->
        <button title='Reload the homework list' class="btn btn-primary btn-tiny" (click)="service.loadMemberHomeworkList()">Reload</button>
      </div>
    </div>
  </div>

  <!-- The work area -->
  <div class='row'>

    <!-- The navagition panel -->
    <div id='navagitor' class='col-sm-2' style='background-color:beige'>
      <p>&nbsp;</p>
      <ul>
        <li (click)="assign()">Assign Homework</li>
        <li (click)="unassign()">Unassign Homework</li>
        <li (click)="notify()">Notify Members</li>
        <hr style='margin-left:-40px'>
        <li (click)="preview()">Preview Homework</li>
        <li (click)="list()">List Members</li>
        <li (click)="report()">Create Report</li>
        <li (click)="grantPermission()">Grant Permission</li>
        <hr style='margin-left:-40px'>
        <li><a target='_blank' [href]='getRefreshDataURL()'>Refresh Data Cache</a></li>
        <li><a target='_blank' [href]='getRefreshBookURL()'>Refresh Book Cache</a></li>
        <li><a target='_blank' [href]='getRegistrationURL()'>Class Registration</a></li>
        <li><a target='_blank' [href]='getGmailURL()'>Google Mail</a></li>
        <li><a target='_blank' [href]='getDriveURL()'>Google Drive</a></li>
        <hr style='margin-left:-40px'>
      </ul>
    </div>

    <!-- The (un)assignment panel -->
    <div *ngIf='isAssign() || isUnassign()' class='col-sm-9'>
      <p class='panel-title'>{{ panelTitle }}</p>
      <div class='row'>
        <div class='col-sm-11'>
          <p class='ascii'>{{getAssigningMessage()}}</p>
          <p class='member-names'>{{getStudentList()}}</p>
        </div>
      </div>
      <div *ngIf="!service.isDataReady()" class='row'>
        <div class='col-sm-11'>
          <button *ngIf='isAssign()' #assignButton (click)="assignHomework()" class="btn btn-primary">Assign
            Homework
          </button>
          <button *ngIf='isUnassign()' #assignButton (click)="unassignHomework()" class="btn btn-primary">Unassign
            Homework
          </button>
        </div>
      </div>
      <div *ngIf="service.isDataReady()" class='row'>
        <div class='col-sm-12 ascii'>
          <table>
            <tbody>
              <tr class='report-header'>
                <td width='10px'></td>
                <th width='100px'>Action</th>
                <th width='100px'>Type</th>
                <th>Message</th>
              </tr>
              <tr *ngFor='let item of service.getManagerReport(); let idx = index' [ngClass]='{"info-bgcolor":isOdd(idx)}'>
                <td></td>
                <td>
                  <b *ngIf='isAssign()'>Assign</b>
                  <b *ngIf='isUnassign()'>Unassign</b>
                </td>
                <td>
                  <span *ngIf="item.info.isSevereError" style='color:brown'>{{item.info.severity}}</span>
                  <span *ngIf="!item.info.isSevereError">{{item.info.severity}}</span>
                </td>
                <td>{{item.info.description}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>
      </div>
    </div>

    <!-- The notification panel -->
    <div *ngIf='isNotify()' class='col-sm-10'>
      <p class='panel-title'>{{ panelTitle }}</p>
      <div *ngIf="!service.isDataReady()">
        <!-- edit the outgoing email bodies to notify the students -->
        <div class='row'>
          <div class='col-sm-11'>
            <p class='ascii'>The following students will be notified by an email for this assignment</p>
            <p class='member-names'>{{getStudentList()}}</p>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12 b10'>
            <input class="form-control" type='text' [(ngModel)]='studentSubject' />
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12 b10'>
            <quill-editor [style]="{height: '200px'}" [(ngModel)]="studentMailBody"></quill-editor>
          </div>
        </div>

        <!-- edit the outgoing email bodies to notify the admin members -->
        <div class='row'>
          <div class='col-sm-11'>
            <p class='ascii'><br>The following school admin members will be notified by an email for this
              assignment</p>
            <p class='member-names'>{{getAdminList()}}</p>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12 b10'>
            <input class="form-control" type='text' [(ngModel)]='adminSubject' />
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12 b10'>
            <quill-editor [style]="{height: '260px'}" [(ngModel)]="adminMailBody"></quill-editor>
          </div>
        </div>

        <!-- check if the email is copied to the parents and then send the mail -->
        <div class='row' style='margin-top: 10px; margin-bottom: 20px'>
          <div class='col-sm-11 text-right'>
            <input type="checkbox" [(ngModel)]="ccParent">
            <span> Copy to parent &nbsp; </span>
            <button #notifyButton title='Notify the class members about the assignment' (click)="notifyMembers()" class="btn btn-primary">Notify
              Members
            </button>
          </div>
        </div>
      </div>

      <!-- create the email sending status report -->
      <div *ngIf="service.isDataReady()" class='row'>
        <div class='col-sm-12 ascii'>
          <table>
            <tbody>
              <tr class='report-header'>
                <td width='10px'></td>
                <th width='100px'>Action</th>
                <th width='100px'>Type</th>
                <th>Message</th>
              </tr>
              <tr *ngFor='let item of service.getManagerReport(); let idx = index' [ngClass]='{"info-bgcolor":isOdd(idx)}'>
                <td></td>
                <td><b>Notification</b></td>
                <td>
                  <span *ngIf="item.info.isSevereError" style='color:brown'>{{item.info.severity}}</span>
                  <span *ngIf="!item.info.isSevereError">{{item.info.severity}}</span>
                </td>
                <td>{{item.info.description}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>
      </div>
    </div>

    <!-- The member list panel -->
    <div *ngIf='isList() && service.isDataReady()' class='col-sm-10'>
      <p class='panel-title'>{{ panelTitle }}</p>
      <table class='ascii'>
        <tbody>
          <tr class='report-header'>
            <td width='10px'></td>
            <th width='120px'>Member ID</th>
            <th width='200px'>Name</th>
            <th width='140px'>Role</th>
            <th>Email</th>
          </tr>
          <tr *ngFor='let item of service.getManagerReport(); let idx = index' [ngClass]='{"info-bgcolor":isOdd(idx)}'>
            <td></td>
            <td>{{item.memberId}}</td>
            <td>{{item.name}}</td>
            <td>{{item.role}}</td>
            <td>{{item.email}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>

    <!-- The grant permission panel -->
    <div *ngIf='isGrantPermission()' class='col-sm-10'>
      <p class='panel-title'>{{ panelTitle }}</p>
      <div class='info-bgcolor'>
        <p>Here is how to set permission to different roles of the class:</p>
        <ul>
          <li>a student will have an Editor permission to his/her homework folder;</li>
          <li>a teacher will have an Editor permission to all the students homework folders;</li>
          <li>a parent will have a Viewer permission to his/her child's homework folder;</li>
          <li>an admin will have a Viewer permission to all the students homework folders.</li>
        </ul>
      </div>

      <!-- select members to set a proper permission to -->
      <div>
        <div *ngFor='let member of sortMembers()' class="checkbox" style='margin-left:20px;'>
          <label><input type="checkbox" (name)="member.memberId" (change)='addMember(member)'> {{ member.firstName }}
            {{
            member.lastName}} ({{member.chineseName}}), {{member.email}} -- {{ member.role }}</label>
        </div>
        <div *ngIf="!service.isDataReady()">
          <button #permissionButton title='Set user permission' (click)="setUserPermission()" class="btn btn-primary">Set
            Permission
          </button>
        </div>
      </div>

      <!-- create the permission setting status report -->
      <div *ngIf="service.isDataReady()" class='row'>
        <div class='col-sm-12 ascii'>
          <table>
            <tbody>
              <tr class='report-header'>
                <td width='10px'></td>
                <th width='120px'>Action</th>
                <th width='100px'>Type</th>
                <th>Message</th>
              </tr>
              <tr *ngFor='let item of service.getManagerReport(); let idx = index' [ngClass]='{"info-bgcolor":isOdd(idx)}'>
                <td></td>
                <td><b>Set Permission</b></td>
                <td>
                  <span *ngIf="item.info.isSevereError" style='color:brown'>{{item.info.severity}}</span>
                  <span *ngIf="!item.info.isSevereError">{{item.info.severity}}</span>
                </td>
                <td>{{item.info.description}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>
      </div>
    </div>

    <!-- The report panel -->
    <div *ngIf='isReport() && service.isDataReady()' class='col-sm-10'>
      <p class='panel-title'>{{ panelTitle }}</p>
      <table class='ascii'>
        <tbody>
          <tr class='report-header'>
            <td width='10px'></td>
            <th width='200px'>Student Name</th>
            <th width='200px'>Work Title</th>
            <th width='100px'>Assigned</th>
            <th width='60px'>Grade</th>
            <th>Status</th>
          </tr>
          <tr *ngFor='let item of service.getManagerReport(); let idx = index' [ngClass]='{"info-bgcolor":isOdd(idx)}'>
            <td></td>
            <td>{{item.name}}</td>
            <td>{{item.title}}</td>
            <td>{{item.assignTime}}</td>
            <td align='center'>{{item.grade}}</td>
            <td><img [src]='service.getStatusIcon(item.status)' width='14px' /> {{item.status}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>

    <!-- The homework preview panel -->
    <div *ngIf='isPreview()' class='col-sm-10'>
      <p class='panel-title'>{{ panelTitle }}</p>
      <!-- The work items -->
      <div class='homework' *ngFor="let workitem of getWorkitems(); let idx = index; trackBy:trackByIndex;">
        <app-work-audio [(workitem)]="getWorkitems()[idx]"></app-work-audio>
        <app-work-image [(workitem)]="getWorkitems()[idx]"></app-work-image>
        <app-work-video [(workitem)]="getWorkitems()[idx]"></app-work-video>
        <app-work-write [(workitem)]="getWorkitems()[idx]"></app-work-write>
        <app-work-record [(workitem)]="getWorkitems()[idx]"></app-work-record>
        <app-work-simple [(workitem)]="getWorkitems()[idx]"></app-work-simple>
        <app-work-page-link [(workitem)]="getWorkitems()[idx]"></app-work-page-link>
        <app-work-true-false [(workitem)]="getWorkitems()[idx]"></app-work-true-false>
        <app-work-fill-blank [(workitem)]="getWorkitems()[idx]"></app-work-fill-blank>
        <app-work-multi-choice [(workitem)]="getWorkitems()[idx]"></app-work-multi-choice>
        <app-work-phrase-sentence [(workitem)]="getWorkitems()[idx]"></app-work-phrase-sentence>
        <app-work-answer-question [(workitem)]="getWorkitems()[idx]"></app-work-answer-question>
        <app-work-connect-sentence [(workitem)]="getWorkitems()[idx]"></app-work-connect-sentence>
      </div>
    </div>
  </div>
</div>