
#navagitor ul li {
    margin-left: -40px;
	padding-top: 4px;
	font-size: 13px;
    list-style-type: none;
	font-family: Georgia;
}

#navagitor ul li:hover {
	background-color: #ecf2f9;
}

div.manager {
    width: 100%;
    margin-top:10px;
	font-size: 14px;
	padding:10px;
	border:1px dotted darkgray;
}

.panel-title {
	margin-top: 10px;
	font-size: 18px;
    color: darkgreen;
	font-family: Georgia;
}

.member-names {
	font-size: 16px;
    color: blue;
	font-family: Georgia;
}

/* the styles of the data-table

div.table-top {
	margin-top:-10px;
}

:host /deep/ div.pagination-limit {
    visibility: hidden;
}

:host /deep/ div.pagination-box div.pagination-controllers div.pagination-pages div.pagination-page {
    visibility: hidden;
    float: left;
}

:host /deep/ div.data-table-header div.button-panel {
    visibility: hidden;
	float: right;
	font-size:0px;
}

:host /deep/ div.pagination-box div.pagination-range {
    float: left;
	font-size:12px;
	border:0px;
}

:host /deep/ div.pagination-box div.pagination-controllers {
	float: right;
	font-size:12px;
	border:0px;
}

:host /deep/ div.pagination-box button {
	margin-top:4px;
	font-size:14px;
	height:20px;
	padding-bottom: 16px;
	padding-top: 2px;
	color: darkblue;
	font-weight: bold;
}

:host /deep/ td {
	height: 24px;
	padding:2px;
}

:host /deep/ tr {
	font-size: 12px;
}

:host /deep/ th {
	padding-left:2px;
	padding-right:2px;
}
 */