/** styles of the breaking news */

.breaking-news {
    width: 80%;
    margin-left: 20%;
}

.breaking-news-mobile {
    width: 100%;
    margin-left: 10px;
}

.blink {
    animation: blinker 8s linear infinite;
    color: red;
    font-size: 16px;
    font-family: sans-serif;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/** styles of the slideshow */
.slideshow {
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}

.slideshow-mobile {
    margin-top: 20px;
    width: 100%;
}

.slideshow-image {
    width: 100%;
    text-align: center;
}

.slide-animate {
    animation: animatezoom 0.9s
}

@keyframes animatezoom {
    from {
        transform: scale(0.3)
    }
    to {
        transform: scale(1)
    }
}

/** styles of the card deck */
.card-attr {
    /* background-color: rgb(228, 224, 224); */
    border-radius: 20px;
    /* max-width: 15%;
    display:none; */
}

.card-label {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-index-img {
    border-radius: 10px;
    width: 100%;
}

.card-img {
    text-align: center;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    background-color: whitesmoke;
}

.slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider-mobile {
    width: 96%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-tiny {
    padding: 2px 4px;
    line-height: 1.3;
    font-family: Georgia;
    font-size: 10px;
    border-radius: 4px;
}