<!-- The breaking news -->
<div *ngIf='hasBreakingNews()' [className]="isMobile() ? 'breaking-news-mobile' : 'breaking-news'">
	<ul>
		<li class="blink" (click)='turnOffNews()' *ngFor='let news of getBreakingNews()'>
			{{ news.event }}
		</li>
	</ul>
</div>

<!-- The slideshow of the selected pictures. -->
<div [className]="isMobile() ? 'slideshow-mobile' : 'slideshow'">
	<div #slideShow (click)='deleteSlideTimer()'></div>
</div>

<!-- The image map for navigating to different categories -->
<div [className]="isMobile() ? 'slider-mobile' : 'slider'">
	<img #homeCards src='assets/images/site/cards.jpg' class='card-index-img' usemap="#cardsMap">

	<map name="cardsMap">
		<area shape="rect" [coords]="getCoords(1)" href="#landing" [title]="buttonTitle.cny" (click)="setPageIndex('ChineseNewYear', 'event')">
		<area shape="rect" [coords]="getCoords(2)" href="#landing" [title]="buttonTitle.dragonBoat" (click)="setPageIndex('DragonBoat', 'event')">
		<area shape="rect" [coords]="getCoords(3)" href="#landing" [title]="buttonTitle.studentWork" (click)="setPageIndex('Story', 'story')">
		<area shape="rect" [coords]="getCoords(4)" href="#landing" [title]="buttonTitle.clips" (click)="setPageIndex('SchoolVideo', 'clips')">
		<area shape="rect" [coords]="getCoords(5)" href="#landing" [title]="buttonTitle.yearbook" (click)="setPageIndex('Yearbooks', 'yearbooks')">
		<area shape="rect" [coords]="getCoords(6)" href="#landing" [title]="buttonTitle.gotTalent" (click)="setPageIndex('GotTalent', 'event')">
	</map>
</div>
