
.mobile-menu {
    overflow: hidden;
    position: fixed;
    z-index: 100;
    color: white;
    width: 40%;
}

.mobile-menu a {
    background-color:gray;
}

.mobile-link {
    cursor: pointer;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
}

/** The "about" specific styles */
.about-title {
    text-align:center;
    font-size:26px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:brown;
}

.about-headline {
    text-align:center; 
    font-size:20px; 
    color:darkgreen;
}

.about-subtitle {
    font-weight:bold;
    color:brown;
    font-size:18px;
}

.about-text {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
}

.about-kaiti {
    font-family:KaiTi;
    font-size:18px;
}

/** The "clips" specific styles */
.clips-frame {
    margin-top: 10px;
    margin:0 auto;
    width:500;
    height:280;
}

/** The "event" specific styles */
.event-title {
    text-align:center;
    color:brown;
    font-size:26px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.event-text {
    text-indent: 40px;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/** The "links" specific styles */
.link-title {
    text-align:left;
    color:brown;
    font-size:26px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.link-author {
    text-align:center;
    font-weight:bold;
    font-size:16px;
    font-family: SimSun;
}

.link-text {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
}

/** The "story" specific styles */
.story-title {
    text-align:center;
    color:brown;
    font-size:26px;
    font-family: SimSun;
}

.story-author {
    text-align:center;
    font-weight:bold;
    font-size:16px;
    font-family: SimSun;
}

.story-author-image {
    display:inline;
    margin:5px 10px;
    float: right;
    width: 140px;
}

.story-author-image-large {
    display:inline;
    margin:5px 10px;
    float: right;
    width: 240px;
}

.story-text {
    text-indent: 40px;
    font-size:20px;
    font-family:KaiTi;
}

.story-date {
    text-align:right;
    text-indent:32px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
}

.story-full-image {
    width: 100%;
}

/** The "yearbook" specific styles */
.book-title {
    text-align:center;
    color:brown;
    font-size:26px;
    font-family: SimSun;
    margin-top:20px;
}

.book-frame {
    margin-top: 10px;
    margin:0 auto;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


/** The "partners" specific styles */
.firstbank-staff {
    height:126px;
}

.firstbank-bgcolor {
    background-color:#10829c;
}

.firstbank-image {
    float:left;
    width:30%;
}

.firstbank-contact {
    color:white;
    font-size:12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.firstbank-slogan {
    float:left;
    width:40%;
    margin-top:60px;
    color:white;
    font-size:16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* The "got talent" specific styles */
.gt-title-bg {
    height:620px; 
    border-style: none;
    background-image: url(../../assets/images/got-talent/hero.jpg); 
    background-size:contain;
    background-repeat: no-repeat;
}

.gt-howto-bg {
    height: 380px;
    border-color: white;
	background-image: url(../../assets/images/got-talent/parallax.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}

.gt_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 300px;
	letter-spacing: 4px;
	font-style: normal;
	font-weight: 200;
}

.gt_light {
	font-weight: bold;
	color: #F97D10;
}

.gt_tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.gt_howto {
	color: #FFFFFF;
	text-align: center;
	margin-top: 20px;
	letter-spacing: 4px;
	font-style: normal;
	font-weight: 200;
}

.gt_rules {
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 4px;
    font-style: normal;
    font-size:20px;
}

/* text columns */
.gt_text_column {
	line-height: 25px;
	float: left;
	padding-left: 20px;
    padding-right: 20px;
    color: rgb(105, 105, 105);
}

.gt_card-img {
    text-align: center;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    background-color: whitesmoke;
}

.gt-result {
    font-family:SimSun;
    font-size:16px;
}

.gt-desc {
    font-family:SimSun;
    font-size:16px;
    text-indent:32px;
}

.gt-section {
    margin-top:20px;
    color:rgb(105, 105, 105);
    font-size:24px;
    font-family:KaiTi;
    font-weight:bold;
}

.gt-reward {
    margin-top:20px;
    color:brown;
    font-size:24px;
    font-family:KaiTi;
    font-weight:bold;
}

.gt-group {
    margin-top:20px;
    color:blue;
    font-size:18px;
    font-family:KaiTi;
    font-weight:bold;
}

.gt-judge {
    color:green;
    font-size:18px;
    font-family:KaiTi;
    font-weight:bold;
}

/** Mobile phone specific */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .gt-title-bg {
        height:240px; 
        border-style: none;
        background-image: url(../../assets/images/got-talent/hero.jpg); 
        background-size:contain;
        background-repeat: no-repeat;
    }
    
    .gt-howto-bg {
        height: 150px;
        border-color: white;
        background-image: url(../../assets/images/got-talent/parallax.jpg);
        background-size:contain;
        background-repeat: no-repeat;
    }
    
    .gt_header {
        color: #FFFFFF;
        text-align: center;
        margin-top: 100px;
        font-style: normal;
        font-size: 20px;
        font-weight: bold;
    }

    .gt_howto {
        color: #FFFFFF;
        text-align: center;
        margin-top: 10px;
        font-style: normal;
        font-size: 20px;
        font-weight: bold;
    }

    .gt_rules {
        color: #FFFFFF;
        text-align: center;
        letter-spacing: 4px;
        font-style: normal;
        font-size:16px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .gt-title-bg {
        height:460px; 
        border-style: none;
        background-image: url(../../assets/images/got-talent/hero.jpg); 
        background-size:contain;
        background-repeat: no-repeat;
    }
    
    .gt-howto-bg {
        height: 286px;
        border-color: white;
        background-image: url(../../assets/images/got-talent/parallax.jpg);
        background-size:contain;
        background-repeat: no-repeat;
    }
    
    .gt_header {
        color: #FFFFFF;
        text-align: center;
        margin-top: 220px;
        font-style: normal;
        font-size: 24px;
        font-weight: bold;
    }

    .gt_howto {
        color: #FFFFFF;
        text-align: center;
        margin-top: 20px;
        font-style: normal;
        font-size: 24px;
        font-weight: bold;
    }

    .gt_rules {
        color: #FFFFFF;
        text-align: center;
        letter-spacing: 4px;
        font-style: normal;
        font-size:16px;
    }
}

/* Portrait and Landscape */
/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
} */
