<div id="content" style="margin-top:20px">
	<div class='row'>
		<!-- The navigation panel (Side bar, PC only) -->
		<div *ngIf="!isMobile() && hasSideBar()" class='col-sm-2 bg-light'>
			<p></p>
			<nav class='nav flex-column'>
				<span *ngFor="let item of getPageIndices()">
					<a *ngIf='isOtherItem(item)' class="nav-link p-1" href="#landing"
						(click)="setPageIndex(item.pageId, item.folder)"><span class='link'>{{item.title}}</span></a>
					<a *ngIf='isHrefItem(item)' class="nav-link p-1" target='_blank' [href]="item.file"><span
							class='link'>{{item.title}}</span></a>
					<span *ngIf='isTitleItem(item)' class='latin'>{{item.title}}</span>
				</span>
			</nav>
		</div>

		<!-- The content panel -->
		<div [className]="isMobile() || !hasSideBar() ? 'col-sm-12' : 'col-sm-10'">
			<!-- the floating menu (hamburger menu) for the mobile devices only -->
			<div *ngIf="isMobile() && hasSideBar()" class='mobile-menu'>
				<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#navbarContent">
							<span class="fa fa-bars"></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbarContent">
						<ul class="nav navbar-nav">
							<li *ngFor="let item of getPageIndices()">
								<a data-toggle="collapse" data-target=".navbar-collapse" *ngIf='isOtherItem(item)'
									class="nav-link p-1" href="#landing"
									(click)="setPageIndex(item.pageId, item.folder)"><span
										class='mobile-link'>{{item.title}}</span></a>
								<a data-toggle="collapse" data-target=".navbar-collapse" *ngIf='isHrefItem(item)'
									class="nav-link p-1" target='_blank' (click)="openInNewTab(item.file)"><span
										class='mobile-link'>{{item.title}}</span></a>
								<span *ngIf='isTitleItem(item)' class='latin'>{{item.title}}</span>
							</li>
						</ul>
					</div>
				</nav>
			</div>

			<!-- show a regular HTML page -->
			<div *ngIf='isHtml() || isImage()' [innerHTML]='getContent()'>
			</div>

			<!-- embed a Google Drive file (sheet, doc, slide, form, youtube, etc.) -->
			<div *ngIf='isDrive() || isPDF()' class="card">
				<div class="card-body">
					<iframe width="100%" height='1200px' [src]="getSafeAddress()" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>

			<!-- show a PDF page
			pdf-viewer doesn't work for the secured remote pdf pages, such as https://...pdf
			<pdf-viewer *ngIf='isPDF()' [src]='getHrefAddress()' render-text="true" style="display: block;"></pdf-viewer> 
			-->

			<!-- embed doesn't work for the secured remote pdf pages either
			<div *ngIf='isHref()'>
				<embed width='100%' height='800px' [src]='getPdfAddress()' frameborder='0'>
			</div>
			-->
		</div>
	</div>

	<!-- A back to top button for the long pages -->
	<ngx-scrolltop [size]="40" backgroundColor="darkgrey" symbolColor="white" symbol="&#8896;" mode="classic"
		position="right" theme="pink">
	</ngx-scrolltop>
</div>