<!-- Workitem: ConnectSentence -->
<div *ngIf='isConnectSentence()' class="work-panel">
  <h3 class="title">
    <span>{{workitem.title}}</span>
  </h3>
  <div class='work-content'>
    <div class='row'>
      <div class='col-sm-5'>
        <ol>
          <li class='no-indent' *ngFor='let line of workitem.lines'>
            {{line.lead}}
          </li>
        </ol>
      </div>
      <div class='col-sm-6'>
        <ul>
          <li class='no-indent no-bullet' *ngFor='let line of workitem.lines'>
            {{line.tail}}
            <input *ngIf="isWork()" class='word' [(ngModel)]="line.answer" />
            <span *ngIf="isReview()" [ngClass]='{"highlighted":isAnswered(line.answer), "empty-answer":!isAnswered(line.answer)}'>{{getAnswer(line.answer)}}</span>
            <img *ngIf="isDone() " class='check-image' [src]='getCheckImage(line.checked)' />
            <img *ngIf="isTeacher() && isSubmitted()" class='check-image' [src]='getCheckImage(line.checked)' (click)='setAnswer(line)'
            />
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="isTeacher() ">
      <input *ngIf="isSubmitted() " class='sentence' placeholder="Teacher's remark" [(ngModel)]="workitem.remark " />
    </div>

    <!-- Teacher's remark -->
    <p *ngIf="isDone() && hasRemark(workitem)">
      <span class='remark-title '>教师评语：</span>
      <span class='teacher-remark'>{{workitem.remark}}</span>
    </p>
  </div>
</div>