<!-- Workitem: MultiChoice -->
<div *ngIf='isMultiChoice()' class="work-panel">
  <h3 class="title">{{workitem.title}}</h3>
  <div class='work-content'>

    <!-- Work in progress (for student) -->
    <ol *ngIf="isStudent()">
      <li class='no-indent' *ngFor='let statement of workitem.statements; let sIdx = index'>
        {{statement.question}}
        <img *ngIf="isDone()" class='check-image' [src]='getCheckImage(statement.checked)' />
        <ol class='with-space'>
          <li class='alpha' *ngFor="let choice of statement.choices; let cIdx = index">
            <input *ngIf="isWork()" class='choice' type="radio" name="mc-{{workitem.index}}-{{sIdx}}-{{cIdx}}" [(ngModel)]="statement.answer" value="{{choice}}" />
            <span [ngClass]='{"highlighted":statement.answer == choice}'>{{choice}}</span>
          </li>
        </ol>
        <p *ngIf="isDone() && hasRemark(statement)">
          <span class='remark-title'>教师评语：</span>
          <span class='teacher-remark'>{{statement.remark}}</span>
        </p>
      </li>
    </ol>

    <!-- Work has been submitted (for teacher) -->
    <ol *ngIf="isTeacher()">
      <li class='no-indent' *ngFor='let statement of workitem.statements'>
        {{statement.question}}
        <img class='check-image' [src]='getCheckImage(statement.checked)' (click)='setAnswer(statement)' />
        <ol class='with-space'>
          <li class='alpha' *ngFor="let choice of statement.choices; let cIdx = index">
            <span [ngClass]='{"highlighted":statement.answer == choice}'>{{choice}}</span>
          </li>
        </ol>
        <input *ngIf="isSubmitted()" class='sentence' placeholder="Teacher's remark" [(ngModel)]="statement.remark" />
        <p *ngIf="!isSubmitted() && hasRemark(statement)">
          <span class='remark-title'>教师评语：</span>
          <span class='teacher-remark'>{{statement.remark}}</span>
        </p>
      </li>
    </ol>
  </div>
</div>