<!-- Workitem: PageLink (provide a page link) -->
<div *ngIf='isPageLink()' class="work-panel">
  <h3 class="title">
    <span>{{workitem.title}}</span>
    <img *ngIf="isDone()" class='check-image' [src]='getCheckImage(workitem.checked)' />
    <img *ngIf="isTeacher() && isSubmitted()" class='check-image' [src]='getCheckImage(workitem.checked)'
      (click)='setAnswer(workitem)' />
  </h3>
  <div class='work-content'>
    <p *ngFor="let instruction of workitem.instructions" [innerHTML]='instruction'></p>

    <!-- Work in progress (for student) -->
    <div *ngIf="isStudent()">
      <div *ngIf="isWork()" class='row'>
        <div class='col-sm-11'>
          <label>URL：</label>
          <input class='sentence' type="text" [(ngModel)]="workitem.url" placeholder="网页链接地址" />
        </div>
      </div>
      <div class='row mt-3'>
        <div class='col-sm-10 instruction'>
          <textarea *ngIf="isWork()" class='answer' rows="4" placeholder='A description of the page.'
            [(ngModel)]="workitem.text"></textarea>
          <p *ngIf="isReview() && hasUrl(workitem)">
            <a [attr.href]="workitem.url" target="_blank">Page Link</a>
          </p>
          <p *ngIf="isReview()">
            <span
              [ngClass]='{"highlighted":isAnswered(workitem.text), "empty-answer":!isAnswered(workitem.text)}'>{{workitem.text}}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Work has been submitted (for teacher) -->
    <div *ngIf="isTeacher()">
      <div>
        <p *ngIf="hasUrl(workitem)">
          <a [attr.href]="workitem.url" target="_blank">Page Link</a>
        </p>
        <p>{{workitem.text}}</p>
      </div>
      <input *ngIf="isSubmitted()" class='sentence' placeholder="Teacher's remark" [(ngModel)]="workitem.remark" />
    </div>

    <!-- Teacher's remark -->
    <p *ngIf="isDone() && hasRemark(workitem)">
      <span class='remark-title'>教师评语：</span>
      <span class='teacher-remark'>{{workitem.remark}}</span>
    </p>
  </div>
</div>