<!-- Workitem: PhraseSentence -->
<div *ngIf='isPhraseSentence()' class="work-panel">
  <h3 class="title">{{workitem.title}}</h3>
  <div class='work-content'>

    <!-- Work in progress (for student) -->
    <ol *ngIf="isStudent()">
      <li class='no-indent' *ngFor='let token of workitem.words'>
        <p>
          {{token.word}} ：
          <input *ngIf="isWork()" class='sentence' [(ngModel)]="token.answer" type="text">
          <span *ngIf="isReview()" [ngClass]='{"highlighted":isAnswered(token.answer), "empty-answer":!isAnswered(token.answer)}'>{{getAnswer(token.answer)}}</span>
          <img *ngIf="isDone()" class='check-image' [src]='getCheckImage(token.checked)' />
        </p>
        <p *ngIf="isDone() && hasRemark(token)">
          <span class='remark-title'>教师评语：</span>
          <span class='teacher-remark'>{{token.remark}}</span>
        </p>
      </li>
    </ol>

    <!-- Work has been submitted (for teacher) -->
    <ol *ngIf="isTeacher()">
      <li class='no-indent' *ngFor='let token of workitem.words'>
        <p>
          {{token.word}} ：
          <span [ngClass]='{"highlighted":isAnswered(token.answer), "empty-answer":!isAnswered(token.answer)}'>{{getAnswer(token.answer)}}</span>
          <img class='check-image' [src]='getCheckImage(token.checked)' (click)='setAnswer(token)' />
        </p>
        <input *ngIf="isSubmitted()" class='sentence' placeholder="Teacher's remark" [(ngModel)]="token.remark" />
        <p *ngIf="!isSubmitted() && hasRemark(token)">
          <span class='remark-title'>教师评语：</span>
          <span class='teacher-remark'>{{token.remark}}</span>
        </p>
      </li>
    </ol>
  </div>
</div>