<!-- Workitem: Record (attach an audio clip to the page) -->
<div *ngIf='isRecord()' class="work-panel">
  <h3 class="title">
    <span>{{workitem.title}}</span>
    <img *ngIf="isDone()" class='check-image' [src]='getCheckImage(workitem.checked)' />
    <img *ngIf="isTeacher() && isSubmitted()" class='check-image' [src]='getCheckImage(workitem.checked)'
      (click)='setAnswer(workitem)' />
  </h3>
  <div class='work-content'>
    <p *ngFor="let instruction of workitem.instructions" [innerHTML]='instruction'></p>

    <!-- Work in progress (for student) -->
    <div *ngIf="isStudent()">
      <div *ngIf='hasLink(workitem)' class='row'>
        <div class='col-sm-12'>
          <audio controls>
            <source [src]="getSafeUrl(workitem.url)" type="audio/mpeg" />
          </audio>
        </div>
      </div>
      <div *ngIf="isWork()" class='row'>
        <div class='col-sm-3'>
          <label *ngIf='!hasLink(workitem)' class="btn btn-primary btn-tiny">
            Attach Audio Clip
            <input type="file" (change)="uploadDriveFile($event, workitem)" style="display: none;">
          </label>
          <label *ngIf='hasLink(workitem)' class="btn btn-warning btn-tiny" (click)="deleteDriveFile(workitem)">Delete
            Audio Clip</label>
        </div>
      </div>
      <div class='row mt-3'>
        <div class='col-sm-10 instruction'>
          <textarea *ngIf="isWork()" class='answer' rows="4" placeholder='A description of the clip.'
            [(ngModel)]="workitem.text"></textarea>
          <p *ngIf="isReview()">
            <span
              [ngClass]='{"highlighted":isAnswered(workitem.text), "empty-answer":!isAnswered(workitem.text)}'>{{workitem.text}}</span>
          </p>
        </div>
      </div>
      <!-- A in-page recorder for the student to record an audio clip -->
      <div class='mt-3' *ngIf="isWork()">
        <div class='row'>
          <div *ngIf="hasMic()" class='col-sm-8 ascii-bold'>
            <p>You may use this in-page recorder to record your voice, save the recording to a
              disk file and then attach it (this recorder works best on Chrome).</p>
          </div>
          <div *ngIf="!hasMic()" class='col-sm-8 ascii-warning'>Your machine doesn't
            have a microphone or it is not enabled. Click <a target='_blank'
              href='https://www.windowscentral.com/how-manage-microphone-settings-windows-10'>here</a> to find out how
            to enable the microphone. Enable it to use an in-page recorder here. ({{getRecordingInfo()}})
          </div>
        </div>
        <div class='row ml-0'>
          <div *ngIf="isOpeningMic()" class='col-sm-5 rounded-lg recorder-bkcolor border border-dark ascii-warning'>
            {{getRecordingInfo()}}
          </div>
          <div *ngIf="isShowRecorder()" class='col-sm-5 rounded-lg recorder-bkcolor border border-dark'>
            <button class="btn btn-primary-outline" title='Start recording' (click)="startRecording()"><span
                class="fa fa-microphone fa-lg recorder-color"></span></button>
            <button class="btn btn-primary-outline" title='Pause recording' (click)="pauseRecording()"><span
                class="fa fa-pause-circle fa-lg recorder-color"></span></button>
            <button class="btn btn-primary-outline" title='Stop recording' (click)="stopRecording()"><span
                class="fa fa-microphone-slash fa-lg recorder-color"></span></button>
            <button class="btn btn-primary-outline" title='Save the recorded voice to a disk file'
              (click)="saveRecording()"><span class="fa fa-floppy-o fa-lg recorder-color"></span></button>
            <button class="btn btn-primary-outline" title='Start over' (click)="cleanRecording()"><span
                class="fa fa-repeat fa-lg recorder-color"></span></button>
            <span style='margin-left:10px; color:darkgray'>
              {{getRecordedTime()}}</span>
          </div>
        </div>
        <div class='row mt-2 ml-0' *ngIf="toPlay()">
          <div class='col-sm-5'>
            <audio controls>
              <source [src]="getRecordURL()" type="audio/webm" />
            </audio>
          </div>
          <!-- <div class='col-sm-5 rounded-lg player-bkcolor border border-primary'>
            <audio id='voice-player'>
              <source [src]="getRecordURL()" type="audio/webm">
            </audio>
            <button class="btn btn-primary-outline" (click)="play()"><span
                class="fa fa-play fa-lg player-color"></span></button>
            <button class="btn btn-primary-outline" (click)="pause()"><span
                class="fa fa-pause-circle fa-lg player-color"></span></button>
            <button class="btn btn-primary-outline" (click)="stop()"><span
                class="fa fa-stop-circle fa-lg player-color"></span></button>
            <button class="btn btn-primary-outline" (click)="volumeUp()"><span
                class="fa fa-volume-up fa-lg player-color"></span></button>
            <button class="btn btn-primary-outline" (click)="volumeDown()"><span
                class="fa fa-volume-down fa-lg player-color"></span></button>
            <span style='margin-left:10px; color:darkgray'>
              {{getPlayingTime()}}</span>
          </div> -->
        </div>
      </div>
    </div>

    <!-- Work has been submitted (for teacher) -->
    <div *ngIf="isTeacher()">
      <audio *ngIf='hasLink(workitem)' controls>
        <source [src]="getSafeUrl(workitem.url)" type="audio/mpeg" />
      </audio>
      <p>{{workitem.text}}</p>
      <input *ngIf="isSubmitted()" class='sentence' placeholder="Teacher's remark" [(ngModel)]="workitem.remark" />
    </div>

    <!-- Teacher's remark -->
    <p *ngIf="isDone() && hasRemark(workitem)">
      <span class='remark-title'>教师评语：</span>
      <span class='teacher-remark'>{{workitem.remark}}</span>
    </p>
  </div>
</div>