<!-- Workitem: SimpleItem (note, read, write) -->
<div *ngIf='isSimpleItem()' class="work-panel">
  <h3 class="title">{{workitem.title}}</h3>
  <div class='work-content'>
    <p *ngFor="let instruction of workitem.instructions" [innerHTML]='instruction'></p>
    <p *ngIf="hasUrl(workitem)">
      <a [attr.href]="workitem.url" target="_blank">{{workitem.text == null ? workitem.title : workitem.text}}</a>
    </p>
    <div *ngIf="isTeacher()">
      <input *ngIf="isSubmitted()" class='sentence' placeholder="Teacher's remark" [(ngModel)]="workitem.remark" />
    </div>

    <!-- Teacher's remark -->
    <p *ngIf="isDone() && hasRemark(workitem)">
      <span class='remark-title'>教师评语：</span>
      <span class='teacher-remark'>{{workitem.remark}}</span>
    </p>
  </div>
</div>