<!-- Workitem: TrueFalse -->
<div *ngIf='isTrueFalse()' class="work-panel">
  <h3 class="title">{{workitem.title}}</h3>
  <div class='work-content'>

    <!-- Work in progress (for student) -->
    <ol *ngIf="isStudent()">
      <li class='no-indent' *ngFor='let statement of workitem.statements; let idx = index; trackBy:trackByIndex;'>
        {{statement.question}}
        <img *ngIf="isDone()" class='check-image' [src]='getCheckImage(statement.checked)' />
        <p>
          <input *ngIf="isWork()" class='choice' type="radio" name="tf-{{workitem.index}}-{{idx}}" [(ngModel)]="statement.answer"
            [checked]='isTrue(statement.answer)' value='true' />
          <span [ngClass]='{"highlighted":isTrue(statement.answer)}'>True </span>
          <input *ngIf="isWork()" class='choice' type="radio" name='tf-{{workitem.index}}-{{idx}}' [(ngModel)]="statement.answer"
            [checked]='isFalse(statement.answer)' value='false' />
          <span [ngClass]='{"highlighted":isFalse(statement.answer)}'> False</span>
        </p>
        <p *ngIf="isDone() && hasRemark(statement)">
          <span class='remark-title'>教师评语：</span>
          <span class='teacher-remark'>{{statement.remark}}</span>
        </p>
      </li>
    </ol>

    <!-- Work has been submitted (for teacher) -->
    <ol *ngIf="isTeacher()">
      <li class='no-indent' *ngFor='let statement of workitem.statements'>
        {{statement.question}}
        <img class='check-image' [src]='getCheckImage(statement.checked)' (click)='setAnswer(statement)' />
        <p>
          <span [ngClass]='{"highlighted":isTrue(statement.answer)}'>True </span>
          <span [ngClass]='{"highlighted":isFalse(statement.answer)}'> False</span>
        </p>
        <input *ngIf="isSubmitted()" class='sentence' placeholder="Teacher's remark" [(ngModel)]="statement.remark" />
        <p *ngIf="!isSubmitted() && hasRemark(statement)">
          <span class='remark-title'>教师评语：</span>
          <span class='teacher-remark'>{{statement.remark}}</span>
        </p>
      </li>
    </ol>
  </div>
</div>