
/** styles of the homework editor pages */
div.editor {
	font-family: SimSun;
	font-size: 14px;
	padding:10px;
	border:0px;
}

textarea.answer {
    width: 100%;
    height: 80px;
    padding: 6px 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

input.word {
	height:24px;
	width: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

input.phrase {
	height:24px;
	width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

input.sentence {
	height:24px;
	width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

label.work-label {
    padding-right: 6px;
}

.workitem-name {
	text-align: Left;
    font-weight: bold;
    font-family: Georgia;
    color: brown;
}

.no-border {
	border:0px white;
}

.preview-bgcolor {
    background-color: rgb(232, 236, 236);
}

.error-color {
	font-size: 12px;
	color: brown;
}
