<div class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">新春佳节</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>Chinese New Year</h3>
    <p>
      Great Wall Chinese Academy celebrates Chinese New Year with local communities. It is an event designed to
      celebrate the diversities of our communities and provide local school children the opportunity to explore the
      Chinese cultures and heritage. The event is a collaboration of Great Wall Chinese Academy, Highlands Ranch
      Cultural Affairs Association and Highlands Ranch Community Association. It showcases on-stage performance and
      culture fair with Taste of China.
    </p>
    <p>
      <img src='assets/images/cny/cny-title.jpg' width='100%'>
    </p>
  </div>
  <nav class="nav" style='margin-top:-30px'>
    <a class="nav-link link" href="#2007_2010">2007 - 10</a>
    <a class="nav-link link" href="#2011">2011</a>
    <a class="nav-link link" href="#2012">2012</a>
    <a class="nav-link link" href="#2013">2013</a>
    <a class="nav-link link" href="#2014">2014</a>
    <a class="nav-link link" href="#2015">2015</a>
    <a class="nav-link link" href="#2016">2016</a>
    <a class="nav-link link" href="#2017">2017</a>
    <a class="nav-link link" href="#2018">2018</a>
    <a class="nav-link link" href="#2019">2019</a>
    <a class="nav-link link" href="#2020">2020</a>
  </nav>
</div>

<div id='2020' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2020</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2020 Chinese New Year Celebration</h3>
    <div style='margin-top:20px;' class='row'>
      <div class='col-sm-4'>
        <p align='center'>
          <img src='assets/images/cny/cny-2020-2.png' width='90%'>
        </p>
        <p class='latin'>Community Partners and Vendors</p>
        <div style='margin-left:20px'>
          <nav class='nav flex-column link'>
            <a class="nav-link p-0" target='_blank' href='http://hrcaonline.org/'>HRCA</a>
            <a class="nav-link p-0" target='_blank' href='assets/images/partners/Card-FirstBank-2.png'>First Bank</a>
            <a class="nav-link p-0" target='_blank' href='https://www.burnhaminjurylaw.com/'>Burnham Injury Law</a>
            <a class="nav-link p-0" target='_blank' href='http://www.chineseamericanpost.com/'>Chinese Post</a>
            <a class="nav-link p-0" target='_blank' href='http://www.caarm.org/'>Chinese Assoication</a>
            <a class="nav-link p-0" target='_blank'
              href='http://greatwallchineseacademy.org/images/Card-DannyEyes.JPG'>MIC Eyewear</a>
            <a class="nav-link p-0" target='_blank' href='https://www.gvaschools.org/'>GVA Schools</a>
            <a class="nav-link p-0" target='_blank' href='https://www.facebook.com/OCACO'>OCACO</a>
            <a class="nav-link p-0" target='_blank'
              href='https://www.facebook.com/jasmineflowerchinesedanceacademy'>Jasmine Dance</a>
            <a class="nav-link p-0" target='_blank' href='http://usashaolinkungfu.com/'>USA Shaolin KungFu</a>
            <a class="nav-link p-0" target='_blank' href='https://www.volcanoasiancuisine.com/'>Volcano Cuisine</a>
          </nav>
        </div>
      </div>
      <div class='col-sm-8'>
        <p><img src='assets/images/cny/cny-2020-poster1.jpg' width='95%'></p>

        <dl style='margin-top:20px; text-indent:5%; font-weight:normal; font-size:14px;'>
          <dt>Saturday, January 25, 2020</dt>
          <dt>Cultural Fair: 12:00 - 4:00 p.m. Free Admission</dt>
          <dt>On-Stage Showcase: 2:00 p.m. $8 in advance, $11 at the door</dt>
          <dt>Southridge Recreation Center at Highlands Ranch</dt>
          <dt>4800 McArthur Ranch Rd. Highlands Ranch, CO 80126</dt>
        </dl>
      </div>
    </div>
    <nav class="nav justify-content-center">
      <a class="nav-link" target='_blank' href="assets/images/cny/cny-2020-poster3.jpg">Poster1</a>
      <a class="nav-link" target='_blank' href="assets/images/cny/cny-2020-poster4.jpg">Poster2</a>
      <a class="nav-link" target='_blank' href="https://photos.app.goo.gl/xfejgD1JKsv9SJ7D7">Hongyi Li</a>
      <a class="nav-link" target='_blank' href="https://photos.app.goo.gl/TGMmVJfYNq6k37Mf7">Jimmy Chen</a>
    </nav>
    <nav class="nav justify-content-center">
      <a class="nav-link" target='_blank' href="https://photos.app.goo.gl/Rp5zquqkCNxsgbMG6">Charles Wang</a>
      <a class="nav-link" target='_blank' href="https://photos.app.goo.gl/nFgWcHuTXdT7G5P78">Performers</a>
      <a class="nav-link" target='_blank' href="https://photos.app.goo.gl/ZqxRm1Lxw1PpNBu16">Culture Fair</a>
      <a class="nav-link" disabled target='_blank'
        href='https://www.youtube.com/watch?v=_pXx2y-Vofk&list=PLx4Z7f7WR7E7u_roaaWl5A_UwQAEB7QaY'>Video Clips</a>
    </nav>
    <div class="card-body bg-light latin">
      <p>I am writing to thank you for bringing your beautiful Great Wall Chinese Academy for an ongoing performance
        during the Chinese New Year! The quality of your performance was top notch! All of your hours of hard work and
        preparation really showed. We sincerely appreciate your enthusiasm, organization, attention to details,
        professionalism and overall exceptional efforts!</p>
      <p>- Mimi Epling</p>
      <p>
        Event Manager, Highlands Ranch Community Association</p>
    </div>
  </div>
</div>

<div id='2019' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2019</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2019 Chinese New Year Celebration</h3>
    <div style='margin-top:20px;' class='row'>
      <div class='col-sm-4'>
        <p align='center'>
          <img src='assets/images/cny/cny-2019-2.png' width='90%'>
        </p>
      </div>
      <div class='col-sm-8'>
        <p><img src='assets/images/cny/cny-2019.jpg' width='95%'></p>
      </div>
    </div>
    <p align='center'>February 2, 2019 at Highlands Ranch</p>
    <nav class="nav justify-content-center">
      <a class="nav-link p-1" target='_blank' href="assets/images/cny/cny-2019-poster.png">Poster</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipNG8IsQdH3cwtgxu6iQISrfoVQacmsUsvG6iiu0Bff-1T3Zz0Fxd89DPmn7F-wdoA?key=cktiS0IzbVFPWGFhQmtsX1hadXBKSmVaSG1MZnFn">Chen,
        Zhimin</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipOU2bANR9G9lxXRKxILC7wC99pcwiYpGWemeoGw7-3r0nqu2GcM0lra6NiBW6ChLQ?key=eXdGRDE2cHNMTFFVajNkbVRZd0pQOUJ6VUpocmFR">Li,
        Hongyi</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipNvvhSjQp4yJfBYK4R-q0SowNLrWkaBjAWOUs8MuOSNtE6Azsi-P_b8waMYfsvo0A?key=Q2hYVXJpZEc5RlRMWlBHZzZVek94N1FpWUNSMGdn">Wang,
        XueZhong</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipN130BdU3s5iqcGhphqZoA2aTBbSJEi9y6wuZJOG3GG7DE5UgxWIrXoj_NVmvH-KA?key=Tmpkd2ExVU9fR2pPVXRJZFU5REZLSHJTbFVGMkdn">Zeng,
        Suzy</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipOj8QsheH3YfW0Bl0BVpl7eD8EpSghEICkDW8GFc3Cp_etG3RegQ3l0uV-X0Yg7TQ?key=bmdzR09CaWhnLXVaWFhFSXJoeEIzTWZhSG1UOF9B">Mixed</a>
      <a class="nav-link p-1" target='_blank'
        href="https://www.youtube.com/playlist?list=PLx4Z7f7WR7E43Gsiu8oZdSi6dnSoJc-u9">Video Clips</a>
      <a class="nav-link p-1" target='_blank' href="https://mp.weixin.qq.com/s/CnSe00eIEhKffyLQwlTHcQ">Report</a>
    </nav>
  </div>
</div>

<div id='2018' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2018</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2018 Chinese New Year Celebration</h3>
    <div style='margin-top:20px;' class='row'>
      <div class='col-sm-4'>
        <p align='center'>
          <img src='assets/images/cny/cny-2018-2.jpg' width='70%'>
        </p>
        <p align='center'>Feb 17 at Highlands Ranch</p>
        <p align='center'>Feb 24 at Downtown Denver Paramount Theater</p>
      </div>
      <div class='col-sm-8'>
        <p><img src='assets/images/cny/cny-2018.jpg' width='95%'></p>
      </div>
    </div>
    <nav class="nav justify-content-center">
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipPd7WqDaOI98n2pgLXcVSivXbf37mbEivXap8i-aatncjzmcrcJ2AkA9HZW5VpV2w?key=VHRXWGxlWDloQ0pyV2w0Smw2OFhZTm5zaTVrZjlR">Hongyi
        Li</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipOqJtntqVN11fyCW-JvoFALv90Q_n3GN_CK7z2PnWHXIzBYe77U3byI6BXk0Z54iw?key=Z2YtRk5oXzhqME0wcTJJcHpLZWdlcW1Jb09tVGRR">Xuechen
        Liu</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipPrb-PYH4s-bUgwDNEPcpQGskaRrw_2Wzd6Pq_gWdBPuuHGXphKrBJA_pN1QAiz7w?key=cGN6cGVFWmY1bkcxZmdEUUpiX3ZDblJ2MWZCSkZR">Volunteers</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipNalbYVIi9xeHeR7DexosFtG5CR4zNyda_nG58pYs9VsAi8jz8O4wK85VSMbgCGSQ?key=OEhNMWs0Zk1BWGlHa295TW5BY3NSVGN1QTd1LXV3">Choir</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipPaYeWpBsPbpPS18IaVJxVx1GJ-CysQH6VX0QWI4ZX5fNHootua9grkTLJxvRr5ug?key=V1QySmpUdkd3aXcyc1J0amF2emZMM0pQWnlCOWJ3">Students</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipO2o7nqTwMIDM4y1CY3bBx504Fk0djWziAEoAV0PJkz0i-OgODHonHWGYiflGfCPQ?key=UHcyRVkxZzB6TkhlNG5zOTlIUUl0eVl1OXFzUThn">Mom
        Dance</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipNQWl2WrESkI2uTaPdpGexqxMX4UfwRXxaGROrpuK7mNk-P7549sJzFjk_Q-H2BjA?key=c2s3VU5QMXI3NlVkeUlFQy0za2tPRmxMX1JSTGln">Culture
        Fair</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipN5MSSTmTMmktys5mvFA34u_oAitJMf2HcUJWnBtJSZT2hmNtZ3Q_RuAmO0IpcLeA?key=UlhycVNyYm5RM2NDMFVDSVJlcU9oVDc1T0dOUDNR">Calligraphy</a>
    </nav>
    <nav class="nav justify-content-center">
      <a class="nav-link p-1" target='_blank'
        href="https://www.youtube.com/playlist?list=PLx4Z7f7WR7E58FwwdEJZPTPfAfOTh6j_G">Video Clips</a>
      <a class="nav-link p-1" target='_blank'
        href="https://www.youtube.com/watch?v=Guby0D_0g94&feature=youtu.be">Paramount Video</a>
      <a class="nav-link p-1" target='_blank' href="https://www.youtube.com/watch?v=cmz4sjtH00M&feature=youtu.be">NBA
        Video</a>
      <a class="nav-link p-1" target='_blank'
        href="https://www.meipian.cn/13vnle8w?user_id=4954678&uuid=98eb95fbe98a40c196009c10735d80ce&idfa=0A44BA9E-C6FC-4D39-B965-08EEFECC9C2E&utm_medium=meipian_ios&utm_source=singlemessage&v=4.3.1&from=groupmessage&isappinstalled=0">Report</a>
    </nav>
  </div>
</div>

<div id='2017' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2017</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2017 Chinese New Year Celebration</h3>
    <div style='margin-top:20px;' class='row'>
      <div class='col-sm-4'>
        <p style='margin-top:20px; text-align:center'>
          <img src='assets/images/cny/cny-2017-2.jpg' width='70%'>
        </p>
        <p style='color:red; text-align:center'>Year of the Rooster</p>
        <p align='center'>Saturday, January 28, 2017 at Highlands Ranch</p>
      </div>
      <div class='col-sm-8'>
        <p><img src='assets/images/cny/cny-2017.jpg' width='95%'></p>
      </div>
    </div>
    <nav class="nav justify-content-center">
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipN7z-inwZbV5u_UyloFVJirp-5wvJxJ2931H2jl3t2UC0icDmsh-wmorCqRzMKiEQ?key=NkFnLWJsVVVQUWdoYjJMX2ZscnpQc0tvNHFQbzBR">Showtime</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipMXLUxsTTLBwqs6oVxf4FE7zj2st-oLlfJXtR-Rts9WWUsp0wBUC1wjmnI8iz_4Rg?key=ZFY5ekZuekFWcXpBTmRRS1dLSlN5NHhGeU5CSmxn">Culture
        Fair</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipOLiTXZLM02LNMJAlsZDb2GdRRi5a_bRuoJH_EbM0ZZtrcZem_ccLQ2OOpkiCBtqw?key=QlUwb1ZQVXpqcTRHOF9PdTd6UjRNVXNKMExEQ3pR">Volunteers</a>
      <a class="nav-link p-1" target='_blank'
        href="https://www.youtube.com/playlist?list=PLx4Z7f7WR7E7I-GWhippXfekNkFZz1SbZ">Video Clips</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipP1qwGpQv8x-5aUdDlKuD0or6n2_694PkDekBskGqOJ2hL1OoTGOuoA_bEQWHYlSw?key=dnU3MkNHbko5VEg1cFRIQVlSckRSQmRiMl9aeEl3">Performers</a>
      <a class="nav-link p-1" target='_blank'
        href="https://photos.google.com/share/AF1QipNEbONs1oSaSSeOMUOOeOaH9tfFCOYGdk5E5Ac-2AudS8eyxyD3vIKY62hbzbrQ7Q?key=ZGo5WUE5elBSZThrRjl3VF9yMjVmV1Z5dGR2NWZR">Paramount
        Video</a>
      <a class="nav-link p-1" target='_blank'
        href="https://www.meipian.cn/cm1agvg?from=groupmessage&isappinstalled=1">Report</a>
    </nav>
  </div>
</div>

<div id='2016' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2016</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2016 Chinese New Year Celebration</h3>
    <div style='margin-top:20px;' class='row'>
      <div class='col-sm-4'>
        <p style='margin-top:20px; text-align:center'>
          <img src='assets/images/cny/cny-2016-2.jpg' width='70%'>
        </p>
        <p style='color:red; text-align:center'>Year of the Monkey</p>
      </div>
      <div class='col-sm-8'>
        <p><img src='assets/images/cny/cny-2016.jpg' width='95%'></p>
      </div>
    </div>
    <p align='center'>Saturday, February 6, 2016 at Highlands Ranch</p>
    <nav class="nav justify-content-center">
      <a class="nav-link p-2" target='_blank'
        href="https://photos.google.com/u/0/share/AF1QipNFXLrvW5XSNX_3m1aq5_i01T21arA6FtyqeLkx2uJeXSvy0CkRnfu06PAGq1LXiQ?key=TGphaDFpOXM5aEFQa25PVzRJSnNqM1JQSkl0bUpn">Showtime</a>
      <a class="nav-link p-2" target='_blank'
        href="https://photos.google.com/share/AF1QipPyvpCEdiD0mnnRNWKzvSNUTwmatjOVeCxB6JKBwhdF2QacChO4N85IoQ8xp2XMeQ?key=Y2RfS1FWUFVaNXBuWjNPQ2JtVWpCb05nbG1sX1pn">Culture
        Fair</a>
      <a class="nav-link p-2" target='_blank'
        href="https://photos.google.com/share/AF1QipMa9hpYaJkv3BRVubDrg81HMdM5EQK6H9NQl4G6BLJaLyCAg8U9nD2_sfAtgIqYUQ?key=SEpvcWVDbXRzWGs0U3kyTEVYQnpKUVlnTEtnTmJn">People</a>
      <a class="nav-link p-2" target='_blank'
        href="https://www.youtube.com/playlist?list=PLx4Z7f7WR7E7XL1cmjM8QHQ0yiv-n7GAp">Video Clip</a>
      <a class="nav-link p-2" target='_blank' href="assets/images/cny/cny-2016-poster.jpg">Poster</a>
    </nav>
  </div>
</div>

<div id='2015' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2015</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2015 Chinese New Year Celebration</h3>
    <div style='margin-top:20px;' class='row'>
      <div class='col-sm-4'>
        <p style='margin-top:20px; text-align:center'>
          <img src='assets/images/cny/cny-2015-2.png' width='70%'>
        </p>
        <p style='color:red; text-align:center'>Year of the Sheep</p>
        <p align='center'>Saturday, Febuary 21, 2015 at Highlands Ranch</p>
        <nav class="nav justify-content-center">
          <a class="nav-link p-1" target='_blank'
            href="https://www.facebook.com/media/set/?set=a.871329589589899.1073741829.137244992998366&type=3">Album</a>
          <a class="nav-link p-1" target='_blank'
            href="https://www.youtube.com/watch?v=OTQwVf9giZU&list=PLx4Z7f7WR7E6UkbAGH3u3G_-YYG_bre7Y">Video Clip</a>
          <a class="nav-link p-1" target='_blank' href="assets/images/cny/cny-2015-poster.jpg">Poster</a>
        </nav>
      </div>
      <div class='col-sm-8'>
        <p><img src='assets/images/cny/cny-2015.jpg' width='95%'></p>
      </div>
    </div>
  </div>
</div>

<div id='2014' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2014</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2014 Chinese New Year Celebration</h3>
    <div style='margin-top:20px;' class='row'>
      <div class='col-sm-4'>
        <p style='margin-top:20px; text-align:center'>
          <img src='assets/images/cny/cny-2014-2.png' width='70%'>
        </p>
        <p style='color:red; text-align:center'>Year of the Horse</p>
        <p align='center'>Saturday, Febuary 8, 2014 at Highlands Ranch</p>
        <nav class="nav justify-content-center">
          <a class="nav-link p-1" target='_blank'
            href="https://get.google.com/albumarchive/108149806091123821950/album/AF1QipPr8hELj6QOcn5GB3GjjT9ZQtBaFiMOaGzU10i2">Album</a>
          <a class="nav-link p-1" target='_blank' href="https://www.youtube.com/channel/UCTQ0qtdR2E9VOt6X3SZq9iw">Video
            Clip</a>
          <a class="nav-link p-1" target='_blank' href="assets/images/cny/cny-2014-poster.jpg">Poster</a>
        </nav>
      </div>
      <div class='col-sm-8'>
        <p><img src='assets/images/cny/cny-2014.jpg' width='95%'></p>
      </div>
    </div>
  </div>
</div>

<div id='2013' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2013</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2013 Chinese New Year Celebration</h3>
    <div style='margin-top:20px;' class='row'>
      <div class='col-sm-4'>
        <p style='margin-top:20px; text-align:center'>
          <img src='assets/images/cny/cny-2013-2.jpg' width='70%'>
        </p>
        <p style='color:red; text-align:center'>Year of the Snake</p>
      </div>
      <div class='col-sm-8'>
        <p><img src='assets/images/cny/cny-2013.jpg' width='95%'></p>
        <p align='center'>Saturday, Febuary 9, 2013 at Highlands Ranch</p>
      </div>
    </div>
    <nav class="nav justify-content-center">
      <a class="nav-link p-2" target='_blank' href="assets/images/cny/cny-2013-poster.jpg">Poster</a>
      <a class="nav-link p-2" target='_blank'
        href="https://issuu.com/coloradocommunitymedia/docs/ccmhrh_021413">Highlands Ranch Herald</a>
      <a class="nav-link p-2" target='_blank'
        href="https://www.youtube.com/watch?v=sIXAczB6D-M&list=PLwvT3zVfY4kH3d51jv65dKSHh5xR8kJkg">Video Clip</a>
    </nav>
  </div>
</div>

<div id='2012' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2012</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2012 Chinese New Year Celebration</h3>
    <div style='margin-top:20px;' class='row'>
      <div class='col-sm-4'>
        <p style='margin-top:20px; text-align:center'>
          <img src='assets/images/cny/cny-2012-2.gif' width='70%'>
        </p>
        <p style='color:red; text-align:center'>Year of the Dragon</p>
      </div>
      <div class='col-sm-8'>
        <p><img src='assets/images/cny/cny-2012.jpg' width='95%'></p>
        <p align='center'>Saturday, January 21st, 20112 at Highlands Ranch</p>
      </div>
    </div>
    <nav class="nav justify-content-center">
      <a class="nav-link p-2" target='_blank' href="assets/images/cny/cny-2012-poster.jpg">Poster</a>
      <a class="nav-link p-2" target='_blank'
        href="https://www.youtube.com/watch?v=nxZoCarmH74&list=PLC2F227D984985218">Video Clip</a>
    </nav>
  </div>
</div>

<div id='2011' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2011</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2011 Chinese New Year Celebration</h3>
    <div style='margin-top:20px;' class='row'>
      <div class='col-sm-4'>
        <p style='margin-top:20px; text-align:center'>
          <img src='assets/images/cny/cny-2011-2.gif' width='70%'>
        </p>
        <p style='color:red; text-align:center'>Year of the Rabbit</p>
      </div>
      <div class='col-sm-8'>
        <p><img src='assets/images/cny/cny-2011.jpg' width='95%'></p>
        <p align='center'>Sat & Sun, January 29 & 30, 2011 at Highlands Ranch</p>
        <nav class="nav justify-content-center">
          <a class="nav-link p-2" target='_blank' href="assets/images/cny/cny-2011-poster.jpg">Poster</a>
          <a class="nav-link p-2" target='_blank'
            href="http://fotoqu.com/img_index.php?uid=1&ilv=f__Sessions/2011/004">Album</a>
          <a class="nav-link p-2" target='_blank' href="https://www.youtube.com/playlist?list=PLEFD88BC64B78A46D">Video
            Clip</a>
        </nav>
      </div>
    </div>
  </div>
</div>


<div id='2007_2010' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2007 - 2010</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2007 - 2010 Chinese New Year Celebrations</h3>
    <div style='margin-top:20px;' class='row'>
      <div class='col-sm-3'>
        <p style='margin-top:20px; text-align:center'>
          <img src='assets/images/cny/cny-2010-2.png' width='40%'>
        </p>
        <p style='color:red; text-align:center'>Year of the Tigger</p>
        <p style='margin-top:20px; text-align:center'>
          <img src='assets/images/cny/cny-2009-2.png' width='40%'>
        </p>
        <p style='color:red; text-align:center'>Year of the Ox</p>
        <p style='margin-top:20px; text-align:center'>
          <img src='assets/images/cny/cny-2008-2.png' width='40%'>
        </p>
        <p style='color:red; text-align:center'>Year of the Rat</p>
        <p style='margin-top:20px; text-align:center'>
          <img src='assets/images/cny/cny-2007-2.png' width='40%'>
        </p>
        <p style='color:red; text-align:center'>Year of the Pig</p>
        <nav class="nav justify-content-center">
          <a class="nav-link p-2" target='_blank'
            href="https://get.google.com/albumarchive/108149806091123821950">Album</a>
          <a class="nav-link p-2" target='_blank'
            href="https://www.youtube.com/playlist?list=PLx4Z7f7WR7E6Yw81MPa9-yO_P67UY4a9c">Video
            Clip</a>
        </nav>
      </div>
      <div class='col-sm-9'>
        <p><img src='assets/images/cny/cny-2007-10.jpg' width='95%'></p>
      </div>
    </div>
  </div>
</div>