<div class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">赛龙舟</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>Colorado Dragon Boat Festival</h3>
    <p>
      Great Wall Chinese Academy is a non-profit PK-12 Chinese language school.
      We teach Chinese language and culture to students of all ages from all culture backgrounds.
      We have youth race team and young stars performing team at dragon boat festival every year.
      The festival provides a great opportunity for our students to learn the dragon boating tradition,
      as well share Chinese cultures with local communities; students and families have shown their team
      spirit, and built wonderful friendship and lifetime memories from Colorado dragon boat festivals.
    </p>
    <p>
      <nav class="nav">
        <a class="nav-link link" target='_blank' href="http://www.cdbf.org/">Colorado Dragon Boat Festival Official Page
        </a>
        <a class="nav-link link" target='_blank' href="http://www.cdbf.org/race-portal.html">Colorado Race Portal Page
        </a>
        <a class="nav-link link" target='_blank' href="http://www.cdbf.org/performer-portal.html">Colorado Performer
          Protal Page
        </a>
      </nav>
    </p>
    <p>
      <img src='assets/images/dragon-boat/dragon-boat-title.jpg' width='100%'>
    </p>
  </div>
  <nav class="nav justify-content-center" style='margin-top:-30px'>
    <a class="nav-link p-2 link" href="#2005">2005</a>
    <a class="nav-link p-2 link" href="#2006">2006</a>
    <a class="nav-link p-2 link" href="#2007">2007</a>
    <a class="nav-link p-2 link" href="#2008">2008</a>
    <a class="nav-link p-2 link" href="#2009">2009</a>
    <a class="nav-link p-2 link" href="#2010">2010</a>
    <a class="nav-link p-2 link" href="#2011">2011</a>
    <a class="nav-link p-2 link" href="#2012">2012</a>
    <a class="nav-link p-2 link" href="#2014">2014</a>
    <a class="nav-link p-2 link" href="#2016">2016</a>
    <a class="nav-link p-2 link" href="#2017">2017</a>
    <a class="nav-link p-2 link" href="#2018">2018</a>
    <a class="nav-link p-2 link" href="#2019">2019</a>
  </nav>
</div>

<div id='2019' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2019</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2019 Dragon Boat Festival</h3>
    <p align='center'>July 27-28 at Denver Sloan's Lake. First place in Division B (certificate)</p>
    <p align='center'>
      <img src='assets/images/dragon-boat/dragon-boat-2019.jpg' width='95%'>
    </p>
    <p>
      <nav class="nav justify-content-center">
        <a class="nav-link chinese-link" target='_blank' href="https://photos.app.goo.gl/v6Z7Uqooh8T7u1oT7">王学众影集</a>
        <a class="nav-link chinese-link" target='_blank' href="https://photos.app.goo.gl/stYP5t5so6u58XyP6">陈志敏影集</a>
        <a class="nav-link chinese-link" target='_blank' href="https://photos.app.goo.gl/cCz5zu6xiU51zdx37">妈妈影集</a>
        <a class="nav-link link" target='_blank' href="https://www.youtube.com/watch?v=wML0jpvQzzk">Video Clip</a>
      </nav>
    </p>
  </div>
</div>

<div id='2018' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2018</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2018 Dragon Boat Festival</h3>
    <p align='center'>2nd place in Division A (silver trophy and medals)</p>
    <p align='center'>
      <img src='assets/images/dragon-boat/dragon-boat-2018.jpg' width='95%'>
    </p>
    <p>
      <nav class="nav justify-content-center">
        <a class="nav-link chinese-link" target='_blank'
          href="http://mp.weixin.qq.com/s?__biz=MzU0MjE3MzI0NQ==&mid=2247484419&idx=1&sn=4f8b4586e24cc433f13588ce234bad7b&chksm=fb1ff551cc687c47ba80428c8e98ad05fb07bf4e23409c6203214651f555711b335848e58491&scene=21#wechat_redirect">龙舟精神</a>
        <a class="nav-link chinese-link" target='_blank'
          href="https://photos.google.com/share/AF1QipNXUGAVwfoE8v6kRbD1-vC6dmZlLpxal-I1xL9_FtR0LWkTnfbMUQ8U7habkTzBEQ?key=VXpQVkJNUDNfQ2dJb20wWXVFeHRsbER6RUYzOEVB">学众集</a>
        <a class="nav-link chinese-link" target='_blank'
          href="https://photos.google.com/share/AF1QipO3IubM8J8oycm7h3iZS-3ACJx5vOYqytDstyZMo95mSe8ZWouJjko6wki7yXNNJQ?key=NDc5ZnpNU1RJMkt2SWoxWG5yMG54ZlUzS2hmWFNB">亦楠集</a>
        <a class="nav-link chinese-link" target='_blank'
          href="https://photos.google.com/share/AF1QipNptc_1A6ROxB9aGVgg5JmmWSxB4Lq92dOnSw8rtlDnVmo7i6yTX4kND6jO8KyjqA?key=ZkpZN0FNUWZPalhWYkJvM0FVbDMwTzc5a0swRl93">红祎集</a>
        <a class="nav-link link" target='_blank' href="https://youtu.be/NqA9yKeySAw">Video 1</a>
        <a class="nav-link link" target='_blank' href="https://youtu.be/AM6NWR531Po">Video 2</a>
        <a class="nav-link link" target='_blank' href="https://youtu.be/RFVT6vxmqZg">Video 3</a>
        <a class="nav-link link" target='_blank' href="https://youtu.be/CLwccMt53U4">Video 4</a>
      </nav>
    </p>
  </div>
</div>

<div id='2017' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2017</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2017 Dragon Boat Festival</h3>
    <p class='kaiti'>长城中文学校每年都积极参与这项体育竞技和文化活动。今年也不例外。长城龙舟队和表演队都取得了可喜可贺的成绩。长城龙舟队的队员们顶风冒雨抗酷暑，在有勇有谋的孔教练带领下，周周刻苦训练。最终拿到了拔旗A
      组第三名的铜牌和奖杯。
    </p>
    <p class='kaiti'>长城龙舟队是今年唯一一支参赛的青少年队。能拿到这样好的成绩，不是偶然的。正是所谓的天时，地利，人合。</p class='kaiti'>
    <p align='center'>
      <img src='assets/images/dragon-boat/dragon-boat-2017.jpg' width='95%'>
    </p>
    <p>
      <nav class="nav justify-content-center">
        <a class="nav-link chinese-link" target='_blank'
          href="https://www.meipian.cn/pc1j3ly?from=singlemessage&isappinstalled=1&v=4.1.0">龙舟赛纪实</a>
        <a class="nav-link chinese-link" target='_blank' href="https://goo.gl/photos/fWtFgeBsQYviv1FE6">一坚摄影</a>
        <a class="nav-link chinese-link" target='_blank'
          href="https://photos.google.com/share/AF1QipN7GTc8KmSiOgOZPyzLA7HLFKFboB6oJJC-Zz9QpBC28cMK-RY87n8Ddpx_A5VuUw?key=RVZQR1FSdTMtZEhNTEdfS3ZndV9iUTl4N0k3d0VB">志忠摄影</a>
        <a class="nav-link chinese-link" target='_blank'
          href="https://photos.google.com/share/AF1QipP3wTLZLY5TJTinUuRfCy1NHApSpemgDOwswzVfzSOJxEH4IdJHUng_Ntkd8RnDZA?key=S09MV2k5NkNNR1hxQWtxbG9BNklGMVRFOURJOWhR">亦楠摄影</a>
        <a class="nav-link link" target='_blank'
          href="https://www.facebook.com/gwcachineseschool/videos/1548174135238771/">Video Clip</a>
      </nav>
    </p>
  </div>
</div>

<div id='2016' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2016</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2016 Dragon Boat Festival</h3>
    <p>Great Wall Chinese Academy students joined 2016 Colorado Dragon Boat Festival, competed in
      flag-catching boat races and performed on culture stages.</p>
    <p align='center'>
      <img src='assets/images/dragon-boat/dragon-boat-2016.jpg' width='95%'>
    </p>
    <p>
      <nav class="nav justify-content-center">
        <a class="nav-link link" target='_blank' href="https://goo.gl/photos/33EFeUrtxYczw9H38">Album 1</a>
        <a class="nav-link link" target='_blank' href="https://goo.gl/photos/LsoytH8Brb9kNdYU6">Album 2</a>
        <a class="nav-link link" target='_blank'
          href="https://www.facebook.com/gwcachineseschool/videos/1162272150495640/">Video 1</a>
        <a class="nav-link link" target='_blank'
          href="https://www.facebook.com/gwcachineseschool/videos/1162264387163083/">Video 2</a>
      </nav>
    </p>
  </div>
</div>

<div id='2014' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2014</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2014 Dragon Boat Festival</h3>
    <p align='center'>
      <a class="nav-link link" target='_blank'
        href="https://get.google.com/albumarchive/108149806091123821950/album/AF1QipOpoKLErY-6E8lCcchYG5X1wbyzBVjs2-YOgw3T">
        <img src='assets/images/dragon-boat/dragon-boat-2014.jpg' width='95%'>
      </a>
    </p>
    <p align='center'>Click on the picture to see more about this year's Dragon Boat Festival.</p>
  </div>
</div>

<div id='2012' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2012</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2012 Dragon Boat Festival</h3>
    <p align='center'>
      <a class="nav-link link" target='_blank'
        href="https://get.google.com/albumarchive/108149806091123821950/album/AF1QipNHwtzN5H5TcugDP1kd9NJzprE5em9U5pL6JE2U">
        <img src='assets/images/dragon-boat/dragon-boat-2012.jpg' width='95%'>
      </a>
    </p>
    <p align='center'>Click on the picture to see more about this year's Dragon Boat Festival.</p>
  </div>
</div>

<div id='2011' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2011</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2011 Dragon Boat Festival</h3>
    <p align='center'>
      <a class="nav-link link" target='_blank'
        href="https://get.google.com/albumarchive/108149806091123821950/album/AF1QipOQWJUzxNbhLSadzlFSwZwar8ab3DE9uLArcplN">
        <img src='assets/images/dragon-boat/dragon-boat-2011.jpg' width='95%'>
      </a>
    </p>
    <p align='center'>Click on the picture to see more about this year's Dragon Boat Festival.</p>
  </div>
</div>


<div id='2010' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2010</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2010 Dragon Boat Festival</h3>
    <p align='center'>
      <a class="nav-link link" target='_blank'
        href="https://drive.google.com/file/d/1-tvxabOWT-msF6uY9U5fE4hFpIblDxjA/view?usp=sharing">
        <img src='assets/images/dragon-boat/dragon-boat-2010.jpg' width='95%'>
      </a>
    </p>
    <p align='center'>Click on the picture to see more about this year's Dragon Boat Festival.</p>
  </div>
</div>

<div id='2009' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2009</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2009 Dragon Boat Festival</h3>
    <p align='center'>
      <a class="nav-link link" target='_blank'
        href="https://get.google.com/albumarchive/108149806091123821950/album/AF1QipN7SSS2iTDaHO5U_Ti7nwdVYRgy1SBm61ELa_un">
        <img src='assets/images/dragon-boat/dragon-boat-2009.jpg' width='95%'>
      </a>
    </p>
    <p align='center'>Click on the picture to see more about this year's Dragon Boat Festival.</p>
  </div>
</div>

<div id='2008' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2008</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2008 Dragon Boat Festival</h3>
    <p align='center'>Youth Silver Medal</p>
    <p align='center'>
      <a class="nav-link link" target='_blank'
        href="https://get.google.com/albumarchive/108149806091123821950/album/AF1QipPiu2UhyVk9dv4AwPThJTahQDhCS8npcoUJ2tmN">
        <img src='assets/images/dragon-boat/dragon-boat-2008.jpg' width='95%'>
      </a>
    </p>
    <p align='center'>Click on the picture to see more about this year's Dragon Boat Festival.
      <nav class="nav justify-content-center">
        <a class="nav-link link" target='_blank'
          href="https://www.youtube.com/watch?time_continue=2&v=FddhmSLE4cQ&feature=emb_title"> Video 1</a>
        <a class='nav-link link' target='_blank'
          href='https://www.youtube.com/watch?v=yhTjgdHh18E&feature=emb_title'>Video 2</a>
      </nav>
    </p>
  </div>
</div>

<div id='2007' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2007</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2007 Dragon Boat Festival</h3>
    <p>Placed at the 4th in overall race. Rowed to the team best time ever 72.16sec. Raced to the 4th round with 11 girl
      paddlers and 7 boy paddlers.</p>
    <p align='center'>
      <a class="nav-link link" target='_blank'
        href="https://drive.google.com/file/d/1GLB8YrxQB5r-ZTBFpnUiq-J_6SohqPgm/view?usp=sharing">
        <img src='assets/images/dragon-boat/dragon-boat-2007.jpg' width='95%'>
      </a>
    </p>
    <p align='center'>Click on the picture to see more about this year's Dragon Boat Festival. </p>
  </div>
</div>

<div id='2006' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2006</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2006 Dragon Boat Festival</h3>
    <p align='center'>Youth/B Gold Medal</p>
    <p align='center'>
      <a class="nav-link link" target='_blank'
        href="https://drive.google.com/file/d/10GHC5UAl5YDBX8blnzKJKeZ8PZBDbhEW/view?usp=sharing">
        <img src='assets/images/dragon-boat/dragon-boat-2006.jpg' width='95%'>
      </a>
    </p>
    <p align='center'>Click on the picture to see more about this year's Dragon Boat Festival. </p>
  </div>
</div>

<div id='2005' class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-chinese">2005</div> -->
  <div class="card-body latin">
    <h3 class='event-title'>2005 Dragon Boat Festival</h3>
    <p align='center'>Youth/B Bronze Medal</p>
    <p align='center'>
      <a class="nav-link link" target='_blank'
        href="https://drive.google.com/file/d/1ieCPaefoFYzgX7bOUv0t3jq_jesSfW1n/view?usp=sharing">
        <img src='assets/images/dragon-boat/dragon-boat-2005.jpg' width='95%'>
      </a>
    </p>
    <p align='center'>Click on the picture to see more about this year's Dragon Boat Festival. </p>
  </div>
</div>