<!-- Main gt_cotainer -->
<div class="card card-image gt-title-bg">
  <div class="card-body">
    <h2 class="gt_header">GWCA's Got Talent <span class="gt_light">2020</span></h2>
    <p class="gt_tagline">The first annual talent video contest</p>
  </div>
</div>

<!-- About Section -->
<div class='row mt-4 gt_text_column'>
  <div class='col-sm'>
    <p>Welcome to Great Wall Chinese Academy's first annual GWCA's Got Talent video contest! We're
      excited to see and showcase all of the talents that the students at our school have to offer. This will be a
      contest with lots of prizes for every age range. To submit your video you can upload it to any social media
      platform using the hashtag #GWCAsGotTalent or email it to Admin@GreatWallChineseAcademy.com. We will be showcasing
      videos on the school's YouTube channel. Each like will equate to one vote so make sure to support your favorites!
      Get your family and friends to participate and support GWCA! </p>
  </div>
  <div class='col-sm'>
    <p>Submissions will be accepted until December 1, 2020. The video will need to be limited to 1-3
      minutes. Voting will then end on December 15, 2020. The winners will be announced at the beginning of January.
      Winners will be selected via popularity (public voting) and through expert judges selections. Awards will be
      granted within specific age ranges: elementary, middle-high School, and adult. Prizes will be as follows for each
      age range: 1st place winners will receive a $30 Amazon Gift Card, 2nd place winners will receive a $20 Amazon Gift
      Card, 3rd place winners will recieve a $10 Amazon Gift Card and all contestants will earn encouragement awards.
    </p>
  </div>
</div>

<!-- Parallax Section -->
<div class="card card-image gt-howto-bg">
  <div class="card-body">
    <h2 class="gt_howto">HOW TO PARTICIPATE</h2>
    <p class="gt_rules">What are the rules and how do I submit my talent video?</p>
  </div>
</div>

<!-- More Info Section -->
<div class='row mt-4 gt_text_column'>
  <div class='col-sm'>
    <h6>SUBMIT YOUR VIDEO & WIN PRIZES</h4>
      <img src="assets/images/got-talent/submit.jpg" class='gt_card-img'>
      <p>To submit your video you can upload it to any of your social media accounts, Facebook, Instagram, Twitter,
        YouTube or TikTok and use the hashtag #GWCAsGotTalent and tag @GWCAChineseSchool. You can also submit your
        video
        by emailing it to mei@greatwallchineseacademy.org. We will post it to our school's YouTube channel where
        anyone
        can view it and like it to cast their vote. The winners will be chosen by how many votes each has. Have your
        followers, friends and family members vote on your video. The videos with the most likes will be chosen for
        our
        grand prizes!</p>
  </div>
  <div class='col-sm'>
    <h6>RULES TO WIN</h4>
      <img src="assets/images/got-talent/rulestowin.jpg" class='gt_card-img'>
      <p>Who can join? The videos must include the participant, their name and what their talent is. This must be said
        or written in Chinese to be accepted. After you introduce the video, show us your talent! It can be singing,
        drawing, yo-yo, dancing, playing an instrument, reading a short story, how to videos on how to make anything.
        Be
        creative! The submission deadline is December 1, 2020.</p>
  </div>
</div>

<!-- The results -->
<div class='gt-result'>
  <h2 class='gt-section'><span style='font-family:Georgia'>GWCA's Got Talent 2000 Result</span> 达人秀 比赛结果</h2>
  <div class="card border-0">
    <div class="card-body">
      <p class='gt-desc'>
        长城中文学校感谢每一位参加2020达人秀的学生，老师，班级，和家庭。我们收集了41个视频，每个视频都告诉了我们一个温馨的小故事。
        中文学校聘请了五位在不同城市不同州从事不同领域工作的大师评委，根据评选标准，对每个视频进行认真打分。中文学校还增加了获奖名额，每一个视频都将收获一份奖励。
      <p>

      <p class='gt-reward'>一等奖 <span style='font-family:Georgia'>First Place</span></p>
      <p class='gt-group'>少儿组 <span style='font-family:Georgia'>Elementary School</span></p>

      <div class='row'>
        <div class='col-sm-1'>#10</div>
        <div class='col-sm-4'>刻舟求剑</div>
        <div class='col-sm-7'>安宝容/安宝宽</div>
      </div>

      <p class='gt-group'>中学组 <span style='font-family:Georgia'>Middle/High School</span></p>
      <div class='row'>
        <div class='col-sm-1'>#37</div>
        <div class='col-sm-4'>贪玩的小不点</div>
        <div class='col-sm-7'>伍宇铮</div>
      </div>

      <p class='gt-group'>成人组 <span style='font-family:Georgia'>Adults</span></p>
      <div class='row'>
        <div class='col-sm-1'>#21</div>
        <div class='col-sm-4'>甜品</div>
        <div class='col-sm-7'>丁莹</div>
      </div>

      <p class='gt-group'>班级/家庭 <span style='font-family:Georgia'>Class/Family</span></p>
      <div class='row'>
        <div class='col-sm-1'>#34</div>
        <div class='col-sm-4'>双语10班 合唱 “铃儿响叮当”</div>
        <div class='col-sm-7'>Clarissa Helman, Laurel Doub, Dane Carlin, Mark Stephens, Rachel Samson, Charlene Yee,
          Ying
          Ding
        </div>
      </div>

      <p class='gt-reward'>二等奖 <span style='font-family:Georgia'>Second Place</span></p>

      <p class='gt-group'>少儿组 <span style='font-family:Georgia'>Elementary School</span></p>
      <div class='row'>
        <div class='col-sm-1'>#7</div>
        <div class='col-sm-4'>伶俐诗词朗诵</div>
        <div class='col-sm-7'>伶俐 Sandra Figaro</div>
      </div>

      <div class='row'>
        <div class='col-sm-1'>#31</div>
        <div class='col-sm-4'>听我说谢谢你</div>
        <div class='col-sm-7'>张家瑞</div>
      </div>

      <p class='gt-group'>中学组 <span style='font-family:Georgia'>Middle/High School</span></p>
      <div class='row'>
        <div class='col-sm-1'>#14</div>
        <div class='col-sm-4'>手工折纸小白兔</div>
        <div class='col-sm-7'>杜俞萱</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#30</div>
        <div class='col-sm-4'>Happy Chinese Yoyo</div>
        <div class='col-sm-7'>孔祥坤</div>
      </div>
      <p class='gt-group'>成人组 <span style='font-family:Georgia'>Adults</span></p>
      <div class='row'>
        <div class='col-sm-1'>#9</div>
        <div class='col-sm-4'>水果拼盘</div>
        <div class='col-sm-7'>邓蔚</div>
      </div>

      <div class='row'>
        <div class='col-sm-1'>#40</div>
        <div class='col-sm-4'>妈妈的味道</div>
        <div class='col-sm-7'>刘杏婵</div>
      </div>

      <p class='gt-group'>班级/家庭 <span style='font-family:Georgia'>Class/Family</span></p>
      <div class='row'>
        <div class='col-sm-1'>#11</div>
        <div class='col-sm-4'>你笑起来真好看</div>
        <div class='col-sm-7'>安宝容/安宝宽/爸妈</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#25</div>
        <div class='col-sm-4'>广场舞/我的九寨</div>
        <div class='col-sm-7'>长城广场舞队</div>
      </div>

      <p class='gt-reward'>三等奖 <span style='font-family:Georgia'>Third Place</span></p>

      <p class='gt-group'>少儿组 <span style='font-family:Georgia'>Elementary School</span></p>
      <div class='row'>
        <div class='col-sm-1'>#20</div>
        <div class='col-sm-4'>葫芦丝 月光下的凤尾竹</div>
        <div class='col-sm-7'>陈若然</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#23</div>
        <div class='col-sm-4'>Rainbow</div>
        <div class='col-sm-7'>宁文俊</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#24</div>
        <div class='col-sm-4'>New World</div>
        <div class='col-sm-7'>宁钰淇</div>
      </div>

      <div class='row'>
        <div class='col-sm-1'>#29</div>
        <div class='col-sm-4'>Turkish March (Piano Sonata)</div>
        <div class='col-sm-7'>庄捷登</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#35</div>
        <div class='col-sm-4'>葫芦丝独奏《望春风》</div>
        <div class='col-sm-7'>王思齐</div>
      </div>

      <p class='gt-group'>中学组 <span style='font-family:Georgia'>Middle/High School</span></p>
      <div class='row'>
        <div class='col-sm-1'>#15</div>
        <div class='col-sm-4'>钢琴四手联奏</div>
        <div class='col-sm-7'>宋立丹/罗方晴</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#17</div>
        <div class='col-sm-4'>钢琴独奏-彩云追月</div>
        <div class='col-sm-7'>宋怡霖</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#22</div>
        <div class='col-sm-4'>千与千寻</div>
        <div class='col-sm-7'>Lily 张文丽</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#26</div>
        <div class='col-sm-4'>彩绘的女士</div>
        <div class='col-sm-7'>朱柄泉</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#33</div>
        <div class='col-sm-4'>中国舞：青花瓷</div>
        <div class='col-sm-7'>黄蕊思</div>
      </div>

      <p class='gt-group'>成人组 <span style='font-family:Georgia'>Adults</span></p>

      <div class='row'>
        <div class='col-sm-1'>#3</div>
        <div class='col-sm-4'>古筝《茉莉芬芳》选段</div>
        <div class='col-sm-7'>Aria Lu 吕瑶</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#5</div>
        <div class='col-sm-4'>沧海一声笑【古琴简版】</div>
        <div class='col-sm-7'>Yuki Leach 李玉奇</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#16</div>
        <div class='col-sm-4'>FoodAfit 健身教程</div>
        <div class='col-sm-7'>Suzy Zeng</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#27</div>
        <div class='col-sm-4'>弹唱野百合也有春天</div>
        <div class='col-sm-7'>曲冠宇</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#36</div>
        <div class='col-sm-4'>学唱“康美之恋”</div>
        <div class='col-sm-7'>康京</div>
      </div>

      <p class='gt-group'>班级/家庭 <span style='font-family:Georgia'>Class/Family</span></p>

      <div class='row'>
        <div class='col-sm-1'>#13</div>
        <div class='col-sm-4'>双语 奇异恩典</div>
        <div class='col-sm-7'>伶俐/玲琇/冠宇</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#28</div>
        <div class='col-sm-4'>自彈自唱 當你老了</div>
        <div class='col-sm-7'>李奕樂/爸妈</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#32</div>
        <div class='col-sm-4'>《贝加尔湖畔》连唱</div>
        <div class='col-sm-7'>长城合唱班</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#41</div>
        <div class='col-sm-4'>长笛独奏 野蜂飞舞</div>
        <div class='col-sm-7'>宋怡霖和妈妈</div>
      </div>

      <p class='gt-reward'>荣誉奖 <span style='font-family:Georgia'>Honorable Award</span></p>
      <div class='row'>
        <div class='col-sm-1'>#2</div>
        <div class='col-sm-4'>Brendon Wang Talent Show</div>
        <div class='col-sm-7'>王紫恒</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#4</div>
        <div class='col-sm-4'>Figure Skating</div>
        <div class='col-sm-7'>杨怡文 Bita Parizi-Newman</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#6</div>
        <div class='col-sm-4'>Cerena 小提琴独奏绣金匾</div>
        <div class='col-sm-7'>邓凯悦</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#8</div>
        <div class='col-sm-4'>玲琇诗歌朗诵</div>
        <div class='col-sm-7'>玲琇</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#12</div>
        <div class='col-sm-4'>当西红柿遇到鸡蛋</div>
        <div class='col-sm-7'>安宝容</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#18</div>
        <div class='col-sm-4'>Yoyo</div>
        <div class='col-sm-7'>Alex Tang 陈贞豪</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#19</div>
        <div class='col-sm-4'>Violin</div>
        <div class='col-sm-7'>Alyssa Tang 陈贞怡</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#38</div>
        <div class='col-sm-4'>我是阳光开朗的女孩</div>
        <div class='col-sm-7'>Nina 伍倚彤</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#39</div>
        <div class='col-sm-4'>Rust</div>
        <div class='col-sm-7'>余晟</div>
      </div>
      <div class='row'>
        <div class='col-sm-1'>#42</div>
        <div class='col-sm-4'>Ancient Chinese Village</div>
        <div class='col-sm-7'>Aadithya Senthilkumar</div>
      </div>
    </div>
  </div>

  <h2 class='gt-section'>评选标准 <span style='font-family:Georgia'>Judging Criteria</span></h2>
  <div class="card border-0">
    <div class="card-body">

      <div class='row'>
        <div class='col-sm-1'>1</div>
        <div class='col-sm-4'>Content Quality 表演内容</div>
        <div class='col-sm-2'>20%</div>
      </div>

      <div class='row'>
        <div class='col-sm-1'>2</div>
        <div class='col-sm-4'>Presentation 表演表现</div>
        <div class='col-sm-2'>20%</div>
      </div>

      <div class='row'>
        <div class='col-sm-1'>3</div>
        <div class='col-sm-4'>Creativity/Originality 具创意</div>
        <div class='col-sm-2'>25%</div>
      </div>

      <div class='row'>
        <div class='col-sm-1'>4</div>
        <div class='col-sm-4'>Entertainment 娱乐程度</div>
        <div class='col-sm-2'>20%</div>
      </div>

      <div class='row'>
        <div class='col-sm-1'>5</div>
        <div class='col-sm-4'>Time Limit 时限</div>
        <div class='col-sm-2'>10%</div>
      </div>

      <div class='row'>
        <div class='col-sm-1'>6</div>
        <div class='col-sm-6'>语言</div>
        <div class='col-sm-2'>5%</div>
      </div>
    </div>
  </div>

  <h2 class='gt-section'>评委介绍 <span style='font-family:Georgia'>Judges</span></h2>
  <div class="card border-0">
    <div class="card-body">
      <h3 class='gt-judge'><span style='font-family:Georgia'>Ling McLoughlin</span> 遇菱</h3>

      <p class='latin'>
        Ling McLouglin is an accomplished musician who holds a master degree in piano performance. She has studied and
        performed in the Central Conservatory of Music in Beijing, Royal College of Music Sweden, the Australian
        National University and master class of the Juilliard School of Music. Ling and her brother Dr.Yang Yu won the
        two piano division in Graves Piano Competition. She has been teaching piano for more than two decades and has
        cultivated many young talents who have won international and domestic piano competitions. She also loves music
        composition and her works can be found in the Library of Congress. She has judged piano competition locally and
        internationally.</p>
      <p class='gt-desc'>出生音乐世家，成长在舞台和摄像机前。从中央音乐学院到澳大利亚国立大学音乐学院，她获得钢琴演奏硕士，从瑞典皇家音乐学院到茱莉亚音乐学院大师班，她学习和演奏遍迹四大洲。Ling从事钢琴教
        学20多年，曾任教澳大利亚国立大学音乐学院，培养了大批从州内到国际少 年钢琴比赛(例如<span class='latin'>Schmitt Music, Steinway，American Protege
          International Piano
          Competitions</span>等)的获奖者，并多次推出多位学生在卡 內基音乐厅崭露头角。Ling与哥哥Dr.遇阳的双钢琴曾在美国<span class='latin'>Graves Piano
          Competition</span>夺冠并与北京中唱CRC录制和发行唱片。她也爱好音乐创作， 有钢琴作品收藏于美国国会图书馆。从一名钢琴参赛者到老师，评委，美国
        音乐公开赛(中国分赛区)评委会主席，多年居住科罗拉多州的她时常参与
        主持不同国度的音乐比赛活动。
      </p>
    </div>
  </div>

  <div class="card border-0">
    <div class="card-body">
      <h3 class='gt-judge'><span style='font-family:Georgia'>Yuying Shu</span> 舒玉瑛</h3>
      <p class='latin'>
        Yuying Shu is a top-notch principal Scientist at a well known speciality chemical company and a very active
        volunteer member in her local Chinese society. She is a soprano singer in Howard County Choir group and the
        runner-up of the 2020 Karaoke competition in “Good Voice of Howard County” Chinese Culture center in Maryland.
        She also loves ballet and traditional Chinese dancing, and has been performing on stage for Chinese New Year
        celebrations in the past few years.</p>
      <p class='gt-desc'>知名化学公司首席科学家。热爱公益活动。是马里兰州哈维郡合唱团女高音，哈维好声音卡拉OK大奖赛第二名。也热爱芭蕾和中国古典舞。哈维郡春节联欢晚会上的表演嘉宾。
      </p>
    </div>
  </div>

  <div class="card border-0">
    <div class="card-body">
      <h3 class='gt-judge'><span style='font-family:Georgia'>Qunying Zheng</span> 郑群英</h3>
      <p class='latin'>
        Qunying Zheng is a full-time IT specialist who is passionate about her local Chinese community. She volunteers
        at the local Bohua Chinese school in Boulder where she is a school council member. In addition to overseeing the
        daily operation of Bohua Chinese School, she helps organize the Bohua Chinese School Spring Festival carnivals
        and the end of school year performance. She loves hiking, dancing and playing poker in her spare time.</p>
      <p class='gt-desc'>全职IT大咖。2016年以来一直担任博华中文学校的校委会成员，负责学校日常运作和组织家长活动，帮助中文学校组织春节游园会和期末汇报演出。平时喜欢爬山，跳舞，打牌。
      </p>
    </div>
  </div>

  <div class="card border-0">
    <div class="card-body">
      <h3 class='gt-judge'><span style='font-family:Georgia'>Zhen Zhang</span> 张甄</h3>
      <p class='latin'>
        With a strong law background, Zhen Zhang has devoted herself to Bohua Chinese school society for more than a
        decade. She teaches both Chinese and Dance classes at Bohua Chinese school.</p>
      <p class='gt-desc'>
        中国法学专业硕士，在中国电信从事法务。来美国后,与博华的孩子们、家长们相伴十年共同成长的珍贵经历。少年时的艺校经历，与文艺结缘。相信热爱可抵岁月漫长。真诚地希望可以帮助孩子们找到真正热爱之事。
      </p>
    </div>
  </div>

  <div class="card border-0">
    <div class="card-body">
      <h3 class='gt-judge'><span style='font-family:Georgia'>Vivian Tang</span> 唐璐怡</h3>
      <p class='latin'>
        Vivian Tang is a current junior at Stanford University. She is the principal harpist of the Stanford Symphony
        Orchestra and the 2019 prize winner of the Carol and Peter Polk Best Undergraduate Instrumentalist award. She
        has been figure skating competitively for over ten years, is a United States Figure Skating Association double
        gold medalist and a medalist at the sectionalist . Vivian is an avid musician with accolades on the national and
        international level playing both the harp and piano.</p>
      <p class='gt-desc'>斯坦福大学本科三年级学生。斯坦福大学交响乐团首席竖琴师。有超过十年经验和竞争力的花样滑冰选手。曾荣获全美花样滑冰双料金牌。在竖琴和钢琴方面也有很大的造诣, 获国内国际奖无数。
      </p>
    </div>
  </div>

  <h2 class='gt-section'>视频列表 <span style='font-family:Georgia'>Videos Listing</span></h2>
  <div class="card border-0">
    <div class="card-body">
      <p>
        在油管（YouTube.com）搜索 tag "GWCAsGotTalent" 或者点击作品的标题在油管（YouTube.com）中观看。
      </p>

      <div>
        <a target='_blank' href='https://youtu.be/wbsowA-WDq0'>#2 Brendon Wang Talent Show</a><br>
        <a target='_blank' href='https://www.youtube.com/watch?v=yR9BOATpzCw'>#3 古筝《茉莉芬芳》选段 </a><br>
        <a target='_blank' href='https://youtu.be/YMyxXFtfCVg'>#4 Figure Skating</a><br>
        <a target='_blank' href='https://www.youtube.com/watch?v=5mUbyKClT7E'>#5 沧海一声笑【古琴简版】</a><br>
        <a target='_blank' href='https://youtu.be/4gXDRZL3kow'>#6 Cerena 小提琴独奏绣金匾</a><br>
        <a target='_blank' href='https://youtu.be/NZxGkD1WXV0'>#7 伶俐诗词朗诵</a><br>
        <a target='_blank' href='https://youtu.be/IlrLpXgBL5w'>#8 玲琇诗歌朗诵</a><br>
        <a target='_blank' href='https://youtu.be/wRyIRTpwFqc'>#9 水果拼盘</a><br>
        <a target='_blank' href='https://youtu.be/VwHRze9wMxQ'>#10 刻舟求剑</a><br>
        <a target='_blank' href='https://youtu.be/-LqiujcDCYM'>#11 你笑起来真好看</a><br>
        <a target='_blank' href='https://youtu.be/7wPvUTGuzis'>#12 当西红柿遇到鸡蛋</a><br>
        <a target='_blank' href='https://youtu.be/wFTIHUpjAd8'>#13 双语 奇异恩典</a><br>
        <a target='_blank' href='https://youtu.be/5YrezXdL6Ec'>#14 手工折纸小白兔</a><br>
        <a target='_blank' href='https://youtu.be/_PIVvgoUNQk'>#15 钢琴双手联奏</a><br>
        <a target='_blank' href='https://youtu.be/SrEdb1Y4NP0'>#16 FoodAfit 健身教程</a><br>
        <a target='_blank' href='https://youtu.be/8Gk6DPl3tek'>#17 钢琴独奏-彩云追月</a><br>
        <a target='_blank' href='https://youtu.be/dU2lbaRIUWo'>#18 Yoyo by Alex Tang</a><br>
        <a target='_blank' href='https://youtu.be/WpjxeJSNlxc'>#19 Violin by Alyssa Tang</a><br>
        <a target='_blank' href='https://youtu.be/7yQkJZIh8do'>#20 葫芦丝 月光下的凤尾竹</a><br>
        <a target='_blank' href='https://youtube.com/watch?v=K1qdFM4SN5g'>#21 Sweets (甜品）</a><br>
        <a target='_blank' href='https://www.youtube.com/watch?v=Kn--GXxjhcA'>#22 千与千寻 by Lily</a><br>
        <a target='_blank' href='https://www.youtube.com/watch?v=1Yi1uhWNF-c'>#23 Elizabeth Ning - Rainbow</a><br>
        <a target='_blank' href='https://www.youtube.com/watch?v=n4l4w5TpKn0'>#24 Katherine Ning-New World</a><br>
        <a target='_blank' href='https://youtu.be/F0w0pK31Cww'>#25 广场舞（我的九寨）</a><br>
        <a target='_blank' href='https://www.instagram.com/tv/CIMZMMwnpcu/?utm_source=ig_web_copy_link'>#26
          彩绘的女士</a><br>
        <a target='_blank' href='https://youtu.be/6xVdaq6iN7U'>#27 弹唱野百合也有春天</a><br>
        <a target='_blank' href='https://youtu.be/xVUOLHYZEvA'>#28 自彈自唱 當你老了</a><br>
        <a target='_blank' href='https://youtu.be/Q2sbzFaGa5Q'>#29 Turkish March piano</a><br>
        <a target='_blank' href='https://www.youtube.com/watch?v=U0NjavXWEZw'>#30 Happy Chinese Yoyo</a><br>
        <a target='_blank' href='https://youtu.be/S15JcUvfh88'>#31《听我说谢谢你》</a><br>
        <a target='_blank' href='https://youtu.be/nf3JMmQMWr4'>#32《贝加尔湖畔》连唱</a><br>
        <a target='_blank' href='https://youtu.be/HGk4KjFyUIQ'>#33 中国舞：青花瓷</a><br>
        <a target='_blank' href='https://youtu.be/tXmAg6aS_qY'>#34 GWCA B-10 合唱 “铃儿响叮当”</a><br>
        <a target='_blank' href='https://youtu.be/FH3hjBRUBnc'>#35 葫芦丝独奏 《望春风》Spring Breeze</a><br>
        <a target='_blank' href='https://youtu.be/eEhP1-PdtSE'>#36 学唱“康美之恋”</a><br>
        <a target='_blank' href='https://www.youtube.com/watch?v=0LbeRFoJrnI'>#37 贪玩的小不点</a><br>
        <a target='_blank' href='https://www.youtube.com/watch?v=Bp4bpfptsqQ'>#38 我是阳光开朗的女孩 Nina</a><br>
        <a target='_blank' href='https://youtu.be/Zv-MZeKMLAI'>#39 Rust</a><br>
        <a target='_blank' href='https://youtu.be/a2Ytl2jlYkk'>#40 妈妈的味道</a><br>
        <a target='_blank' href='https://youtu.be/8WyZP4GMpcI'>#41 长笛独奏-野蜂飞舞</a><br>
        <a target='_blank' href='https://drive.google.com/file/d/1mOSr7XsThxAGtN6XozWXMb_yT6FdWN0M/view?usp=sharing'>#42
          Ancient Chinese Village</a><br>
      </div>
    </div>
  </div>
</div>