<!-- The dynamically loaded bulletin board conent (from Drive or local file) -->
<div *ngIf='!isBulletinReady()' class='pt-5 h3' style='color:darkgrey'>
	Loading the page ...
</div>
<div [innerHTML]='getBulletinBoard()'></div>
