<!-- The homework editor -->
<div *ngIf='isDataReady()'>

  <!-- The header with title, runtime information and assignments selection area -->
  <div class='row bg-light'>

    <!-- The current homework information -->
    <div class='col-sm-5 text-left p-2'>
      <span class='work-title bold-title'>{{ getWorkTitle() }} </span>

      <!-- The homework editing buttons -->
      <div class="dropdown" style='display:inline'>
        <button title='Add a new work item to this homework' class="btn btn-primary btn-tiny dropdown-toggle"
          id="addWorkitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-plus"></span>
        </button>&nbsp;
        <div class="dropdown-menu" aria-labelledby="addWorkitem">
          <button *ngFor="let name of getWorkitemNames()" class="dropdown-item"
            (click)='addWorkitem(name)'>{{name}}</button>
        </div>
      </div>
      <button title='Save this homework' (click)="saveHomework()" class="btn btn-primary btn-tiny">
        <span class="fa fa-floppy-o"></span>
      </button>&nbsp;
      <button title='Copy this to create a new homework' (click)="copyHomework()" class="btn btn-primary btn-tiny">
        <span class="fa fa-files-o"></span>
      </button>&nbsp;
      <button title='Create a new blank homework' (click)="createHomework()" class="btn btn-primary btn-tiny">
        <span class="fa fa-plus"></span>
      </button>&nbsp;
      <button title='Delete current homework' (click)="deleteHomework()" class="btn btn-warning btn-tiny">
        <span class="fa fa-times" style="color: red;"></span>
      </button>
    </div>

    <!-- The runtime information -->
    <div class='col-sm-5 ascii'>
      <span
        [ngClass]='{"page-info":true, "info-color": isRuntimeInfo(), "error-color": isRuntimeError()}'>
        {{ getInfoMessage() }}
      </span>
    </div>

    <!-- Some other buttons -->
    <div class='col-sm-2 text-right p-2'>
      <div style='display:inline'>

        <!-- The assignment selection -->
        <div style='display:inline; margin-right:2px;'>
          <button title='Select a homework' class="btn btn-primary btn-tiny dropdown-toggle" id="selectHomework"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assignments</button>
          <div class="dropdown-menu" aria-labelledby="selectHomework" id='homework'>
            <button *ngFor='let homework of getHomeworkList()' class="dropdown-item"
              (click)='setHomework(homework)'>
              <span class='work-title'>{{ homework.workTitle }} </span>
              <span class='assign-date'>{{ homework.workNumber }} </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The work area -->
  <div class='row'>
    <div class='col-sm-12 editor'>
      <div *ngFor="let workitem of getWorkitems(); let idx=index; trackBy:trackByIndex;">
        <div *ngIf="!isRemoved(workitem)" class='mb-3'>
          <div class='row form-group'>
            <div class='col-sm-6 workitem-name'>{{workitem.name}}&nbsp;&nbsp;
              <button (click)="setDisplay(workitem)" class="btn btn-primary btn-tiny">show/hide</button>&nbsp;
              <button (click)="addWorkitem(workitem.name)" class="btn btn-primary btn-tiny">add new</button>
            </div>
          </div>
          <!-- One of the following workitem types will be met -->
          <app-editor-note [(workitem)]="getWorkitems()[idx]"></app-editor-note>
          <app-editor-read [(workitem)]="getWorkitems()[idx]"></app-editor-read>
          <app-editor-audio [(workitem)]="getWorkitems()[idx]"></app-editor-audio>
          <app-editor-image [(workitem)]="getWorkitems()[idx]"></app-editor-image>
          <app-editor-video [(workitem)]="getWorkitems()[idx]"></app-editor-video>
          <app-editor-write [(workitem)]="getWorkitems()[idx]"></app-editor-write>
          <app-editor-record [(workitem)]="getWorkitems()[idx]"></app-editor-record>
          <app-editor-true-false [(workitem)]="getWorkitems()[idx]"></app-editor-true-false>
          <app-editor-fill-blank [(workitem)]="getWorkitems()[idx]"></app-editor-fill-blank>
          <app-editor-multi-choice [(workitem)]="getWorkitems()[idx]"></app-editor-multi-choice>
          <app-editor-page-link [(workitem)]="getWorkitems()[idx]"></app-editor-page-link>
          <app-editor-answer-question [(workitem)]="getWorkitems()[idx]"></app-editor-answer-question>
          <app-editor-phrase-sentence [(workitem)]="getWorkitems()[idx]"></app-editor-phrase-sentence>
          <app-editor-connect-sentence [(workitem)]="getWorkitems()[idx]"></app-editor-connect-sentence>
        </div>
      </div>
    </div>
  </div>

  <!-- The modal (pop-up) for creating or copying a homework -->
  <ng-template #newHomworkModal let-createHomework="close" let-cancelCreation="dismiss">
    <div class="modal-header">
      <h5 class="modal-title">Create/Copy a Homework</h5>
    </div>

    <div>
      <form novalidate [formGroup]="newHomeworkForm">
        <div class="row">
          <div class='col-sm-4 text-right'>Course ID:</div>
          <div class='col-sm-4 m-0 pl-0'>
            <p>{{ getWorkCourseId() }}</p>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-4 text-right'>Member ID:</div>
          <div class='col-sm-4 m-0 pl-0'>
            <p>{{ getWorkMemberId() }}</p>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-4 text-right'>Work Number:</div>
          <div class='col-sm-4 m-0 pl-0'>
            <input formControlName="workNumber" class="form-control input-sm" type="text"
              [value]="getWorkNumber()" />
          </div>
          <div class='col-sm-4 m-0 pl-0'>&nbsp;
            <span class="error error-color"
              *ngIf="newHomeworkForm.get('workNumber').hasError('required') && newHomeworkForm.get('workNumber').touched">
              work number is required
            </span>
            <span class="error error-color"
              *ngIf="newHomeworkForm.get('workNumber').hasError('pattern') && newHomeworkForm.get('workNumber').touched">
              0-9, A-z and _ only
            </span>
            <span class="error error-color"
              *ngIf="newHomeworkForm.get('workNumber').hasError('numberTaken') && newHomeworkForm.get('workNumber').touched">
              work number exists
            </span>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-4 text-right'>Work Title:</div>
          <div class='col-sm-4 m-0 pl-0'>
            <input formControlName="workTitle" class="form-control input-sm" type="text"
              [value]="getWorkTitle()" />
          </div>
          <div class='col-sm-4 m-0 pl-0'>&nbsp;
            <span class="error error-color"
              *ngIf="newHomeworkForm.get('workTitle').hasError('required') && newHomeworkForm.get('workTitle').touched">
              work title is required
            </span>
            <span class="error error-color"
              *ngIf="newHomeworkForm.get('workTitle').hasError('titleTaken') && newHomeworkForm.get('workTitle').touched">
              work title exists
            </span>
          </div>
        </div>
        <div class="row">&nbsp;</div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-sm" (click)="createHomework()"
        [disabled]="newHomeworkForm.invalid">Create</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="cancelCreation()">Cancel</button>
    </div>
  </ng-template>
</div>