<!-- The home page of the application -->
<div class='content'>
  <div class='container'>

    <!-- The page header -->
    <div [className]="isLoggedIn() ? 'row pt-2 bg-light' : 'row header-row-nobg'">
      <!-- The school logo -->
      <div class='col-sm-1 text-center'>
        <img src="assets/images/GWCALogo.gif" style='margin-top:4px; height:40px'>
      </div>

      <!-- The greeting text -->
      <div class='col-sm-4'>
        <p class='greeting'>
          <span>{{ getGreetingText() }}</span>
          <span class='class-info'>{{ getClassText() }}</span>
        </p>
      </div>

      <!-- The menu bar for the teacher if logged in or the message text if not logged in -->
      <div class='col-sm-5'>
        <ul *ngIf='isTeacher()' class="nav nav-tabs" id="appTabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="do-homework-tab" data-toggle="tab" href="#doHomework" role="tab"
              aria-controls="doHomework" aria-expanded="true"
              (click)="loadSubmittedHomeworkList()">Check/Browse</a>
          </li>
          <li *ngIf='!isAdmin()' class="nav-item">
            <a class="nav-link" id="edit-homework-tab" data-toggle="tab" href="#editHomework" role="tab"
              aria-controls="editHomework" (click)="loadMemberHomeworkList()">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="manage-homework-tab" data-toggle="tab" href="#manageHomework" role="tab"
              aria-controls="manageHomework" (click)="loadMemberHomeworkList()">Manage</a>
          </li>
        </ul>
        <p *ngIf='!isLoggedIn()' class='login-info'>{{getInfoMessage()}}</p>
      </div>

      <!-- The login or logout button -->
      <div class='col-sm-2 text-right'>
        <!-- login -->
        <input *ngIf='!isLoggedIn()' (click)="signInWithGoogle()" type="image" alt="Login"
          src="assets/images/signin-google.png" style='height:28px; margin-top:12px;'>

        <!-- logout -->
        <button *ngIf='isLoggedIn()' (click)="signOut()" class="btn btn-sm btn-warning sign-button">Sign Out</button>

        <!-- The role selection if the logged in member has multiple roles -->
        <div *ngIf='isMultipRoleMember()' style='margin-top:14px'>
          <fieldset>
            <legend>Login as:</legend>
            <div class='ascii-small' *ngFor="let role of getRoles()">
              <input class='choice' type="radio" name="{{role}}" value="{{role}}"
                (change)="assignMemberRole($event.target.value)" />
              <span>{{role}}</span>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <!-- The landing page message and image -->
    <div *ngIf='!isDataReady() && !isLoggedIn()' class='mt-5' style='width:100%'>
      <p>Loading the class data ...</p>
    </div>

    <div *ngIf='isDataReady() && !isLoggedIn()' class='mt-5' style='width:100%'>
      <img src="assets/images/classroom.jpg" width='100%'>
    </div>

    <!-- The work panel for the teacher to check, edit or manage homework -->
    <div *ngIf='isTeacher()'>
      <div class="tab-content" id="appTabContent">
        <div class="tab-pane fade show active" id="doHomework" role="tabpanel" aria-labelledby="do-homework-tab">
          <app-homework></app-homework>
        </div>
        <div class="tab-pane fade" id="editHomework" role="tabpanel" aria-labelledby="edit-homework-tab">
          <app-editor></app-editor>
        </div>
        <div class="tab-pane fade" id="manageHomework" role="tabpanel" aria-labelledby="manage-homework-tab">
          <app-manager></app-manager>
        </div>
      </div>
    </div>

    <!-- The work panel for the students to do the homework assigned -->
    <div *ngIf='isStudent() || isParent()'>
      <app-homework></app-homework>
    </div>
  </div>
</div>

<!-- Footer -->
<footer *ngIf='isLoggedIn()' class='footer bg-dark'> {{footerText}} </footer>

<!-- A back to top button for the long pages -->
<ngx-scrolltop [size]="40" backgroundColor="darkgrey" symbolColor="white" symbol="&#8896;" mode="classic"
  position="right" theme="pink">
</ngx-scrolltop>