<div class="container">
	<header>
		<a href="index.html">
			<img src="assets/images/sites/site-logo.gif" class="image-header">
		</a>
		<p class="logo-text">Build up your vocabulary.</p>
	</header>
	<nav>
		<div class='title-list'>
			<!-- The title image -->
			<img src="assets/images/sites/vocabulary.jpg" height="120px">

			<!-- Textbook selection -->
			<p style="color: green">Select Textbook</p>
			<ol>
				<li *ngFor="let course of courses" (click)="setCourse(course)">
					<span class="charpter-index" [ngStyle]="{backgroundColor: course.bgColor}">{{course.title}}</span>
				</li>
			</ol>

			<!-- Character set selection -->
			<p style="color: green">Select Character Set</p>
			<p style='text-indent:30px;'>
				<select class='latin' [(ngModel)]="groupId" (change)="setGroup()">
					<option *ngFor="let gid of course.groups" [value]="gid">{{gid}}</option>
				</select> &nbsp;&nbsp;
				<input id="quizlet" style='vertical-align: middle' type="image" height="20px" src="assets/images/sites/quizlet.jpg"
				 alt="Quizlet" (click)="doQuizlet()">
			</p>
			<p class="message">{{message}}</p>

			<!-- The link to the courses page -->
			<p style='margin-top:80px'>
				<a [href]="getCoursesPageURL()">
					<img src="assets/images/sites/other-courses.gif" class='image-course'>
				</a>
			</p>
		</div>
	</nav>

	<article *ngIf='isGroupReady' class="char-view">
		<h1 class="panel-title">
			{{charGroup.title}}
			<span class="entry-list">
				{{getGroupCharacterList()}}</span>
		</h1>
		<div class="strokes">
			<div #flashPlayer></div>
			<p class="hide-stroke" (click)="setStrokeShow(false)">Close</p>
		</div>
		<div id="character-panel">
			<fieldset *ngFor="let charEntry of charGroup.entries">
				<div class="entry-id" (click)="showStrokes(charEntry.image);">
					{{charEntry.entry.value}}</div>
				<a class="dictionary-link" target="_blank" href="{{dictUrl + charEntry.entry.value}}">
					<span class="entry">{{charEntry.entry.value}}</span>
				</a>&nbsp;&nbsp;
				<span class="pinyin">{{charEntry.pinyin}}</span>&nbsp;&nbsp;
				<span class="translation">({{charEntry.entry.translation}}) </span>
				<p>
					<span *ngFor="let word of charEntry.words">
						<span class="words">{{word.value}}</span>
						<span class="latin">({{word.translation}})</span>
					</span>&nbsp;&nbsp;
				</p>
				<p *ngIf='hasUsage(charEntry)' class="usage">
					<span class="words">{{charEntry.usage.value}}</span>
					<span class="latin">({{charEntry.usage.translation}})</span>
				</p>
			</fieldset>
		</div>
	</article>
</div>