<div class="card">
  <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Work in Progress</div>
  <div class="card-body latin">
    <p>
      This page is under construction.
    </p>
    <p><img width = '80%' src='assets/images/site/work-in-progress.jpg'></p>
  </div>
</div>