<div class="card mb-2">
  <h3 class='book-title'>长城中文学校年刊</h3>
  <p class="story-author">校长 程少梅</p>
  <div class="card-body kaiti">
    <p>
      每个星期天家长们辛辛苦苦送孩子到中文学校来，两个小时学习中文，有的学习文化课还要加到四个小时，一家人一起牺牲掉周末大半天的时间，加上平时我们的孩子做中文作业的时间，我们不禁会问 “中文学校给我们带来了什么?”。
    </p>
    <p>
      长城中文学校走过了十几个春秋，每年都有一些高中毕业生。他们从小学到高中，十几年来坚持每个周末到中文学校学习。他们从躲在大孩子们后面害羞的小朋友，成长为今天学生会的主席，中文荣誉协会的会长，舞蹈班的助教，画画班、，手工班的老师；他们为学校制作广告和录像，活跃在春节活动的前台后台，一年四季访问许多的老人中心，参加科州各个社区传播中国文化的演出和活动。他们不仅在中文学校的课堂上学习中文，而且从小参加各类文化班，跟着文化班参加各种社会活动。这些学生在中文学校找到了自我，建立了自信，在长城中文学校为他们搭建的大舞台上磨练才能，施展才华。一位毕业生在他的毕业作文里写到：是长城中文学校激励了他，让他像小鸟一样飞出关闭的笼子，插上翅膀飞翔。孩子们在长城中文学校成长为充满活力，爱心积极，品学兼优，全面发展的学生。
    </p>
    <p><img class="story-author-image" src='assets/images/site/yearbook.jpg'></p>
    <p>
      在我们每年的学校年刊里，不但记录了同学们丰富多彩的学校生活，老师和所有教职员工的辛勤劳动和付出，同时也记录了家长们和社区所有关心学校的朋友们的热心帮助和支持。在这里我们向他们表示衷心的感谢！
    </p>
  </div>
</div>