
.book-icon {
	height: 25px;
	width: 25px;
	vertical-align: middle;
	margin-bottom: 6px;
}

.book-title {
	font-size: 24px;
	font-family: KaiTi;
}

.book-title:hover {
	background-color: yellow;
}

.landing-image {
	display: block;
	margin: 40px auto 280px auto;
	height: 100%;
}
