<div>
	<img src="assets/images/sites/classroom.jpg" width='100%'>
	<div style='width: 80%; margin:0 auto; margin-bottom: 20px;'>
		<div class='row mt-4'>
			<div class='col' *ngFor="let material of getBookTOC() | slice : 0:3">
				<a href="#" class='book-title' (click)="setMaterial(material)"><small>{{material.title}}</small></a>
			</div>
		</div>
		<div class='row'>
			<div class='col' *ngFor="let material of getBookTOC() | slice : 3:6">
				<a href="#" class='book-title' (click)="setMaterial(material)"><small>{{material.title}}</small></a>
			</div>
		</div>
		<div class='row'>
			<div class='col' *ngFor="let material of getBookTOC() | slice : 6:9">
				<a href="#" class='book-title' (click)="setMaterial(material)"><small>{{material.title}}</small></a>
			</div>
		</div>
	</div>
</div>
