/** styles of the header items */
.header-row {
	padding: 4px;
	background-color: #ecf2f9;
}

.greeting {
	margin-top:10px;
	font-family: Georgia;
	font-size: 18px;
	color: DarkGreen;
}

.class-info {
	font-family: Georgia;
	font-size: 16px;
	color: DarkGray;
}

.login-info {
	margin-top:10px;
	font-family: Georgia;
	font-size: 18px;
	color: DarkGreen;
	width:260px;
	text-align: justify;
}

.sign-button {
	margin-top:10px;
}

/** styles of the header elements */

.info-color {
	color: green;
}

.error-color {
	color: brown;
}

.work-title {
	font-family: KaiTi, Georgia;
	font-size: 14px;
	color: Brown;
}

.assign-date {
	font-family: Georgia;
	font-size: 12px;
	color:rgb(80, 79, 79);
}

.bold-title {
	font-weight: bold;
	font-size: 16px;
}

.page-info {
	font-family: Georgia;
	font-size: 14px;
}

/** styles of the do and edit homework pages */
div.homework {
	font-family: SimSun;
	font-size: 16px;
	padding:10px;
	border:1px dotted darkgray;
}

div.summary {
	border: 0;
	float: right;
	width: 25%;
	padding: 6px;
	z-index: 100;
	font-family: SimSun;
	font-size: 14px;
	color: Brown;
	background-color: LightYellow;
}

div.work-panel {
	border: 0;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 16px;
}

div.work-content {
	border: 0;
	margin-left: 20px;
	margin-top: 10px;
}

div.remark-form {
	margin-top:20px;
	padding: 6px;
}

div.all-buttons {
	width: 100%;
	height: 30px;
	float: Left;
	padding: 3px;
	text-align: Right;
	font-family: Georgia;
}

textarea.answer {
    width: 80%;
    height: 80px;
    padding: 6px 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

input.word {
	height:20px;
	width: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
	background-color: #f8f8f8;
	margin-right: 4px;
	margin-left: 4px;
}

input.choice {
	margin-right: 4px;
	margin-left: 4px;
	margin-top:4px;
}

input.sentence {
	height:24px;
	width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
	background-color: #f8f8f8;
	margin-bottom:4px;
}

.info-bgcolor {
	background-color: #ecf2f9;
}

.work-bgcolor {
	background-color: white;	
}

.review-bgcolor {
	background-color: rgb(243, 243, 243);	
}

.submit-bgcolor {
	background-color: white;	
}

.highlighted {
	background-color: yellow;
}

.empty-answer {
	background-color: pink;
}

.check-image {
	height:20px;
}

.teacher-remark {
	color: Brown;
	font-family: SimSun, Georgia;
	font-size: 16px;
	font-weight: Bold;
}

.prompt {
    color: Green;
    font-size: 16px;
    font-family: SimSun;
    font-weight: Bold;
}

.video-player {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-indent: 12px;
}

.remark-title {
	font-size: 12px;
	font-weight: bold;
	color: darkgray;
}

/** others */
.classroom-title {
	font-size: 28px;
	font-family: kaiTi;
	color: DarkGreen;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px
}

div.info-panel {
	height: 40px;
	border-width: 0px;
	color: darkgreen;
	text-indent: 0px;
	font-family: KaiTi;
	font-size: 14px;
	font-weight: bold;
	padding: 3px;
}

h3.title {
	display: table;
	font-family: KaiTi;
	font-size: 20px;
	text-align: Left;
	background-color: rgb(244, 245, 243);
}

.btn-tiny {
	padding:2px 4px;
	line-height:1.3;
    font-family: Georgia;
	font-size:10px;
	border-radius:4px;
}

.horizontal-select-sm {
	max-height: 30px;
	line-height:30px;
	font-size: 14px;
	margin-bottom: 2px;
	padding: 1px;
	padding-left: 0px;
}

.video-player {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-indent: 12px;
}

/* styles for the lists ol, li, etc. */
.no-indent {
	text-indent: 0px;
}

.no-bullet {
	list-style-type: none;
}

.with-space {
	margin-top:8px; 
	margin-bottom:8px;
}

.alpha {
	list-style-type: lower-alpha;
}

.page-error {
	font-size: 14px;
	font-family: Georgia;
	color: brown;
}

ol {
    margin-left: -18px;
}

/*
 * Some style classes for the homework editor. They can be used
 * by the teachers to add style to the homework they are creating
 */
 .ascii {
	font-size: 14px;
	font-family: Georgia;
}

.ascii-small {
	font-size: 10px;
	font-family: Georgia;
}

.ascii-bold {
	font-family: Georgia;
	text-decoration: bold;
	font-size: 14px;
 }

 .ascii-warning {
	font-family: Georgia;
	text-decoration: bold;
	font-size: 14px;
	color: brown;
 }

 .underline {
	text-decoration: underline;
	text-decoration-color: darkgray;
}

 .chinese-simsun {
	font-size: 16px;
	font-family: SimSun;
 }

.chinese-kaiti {
	font-size: 16px;
	font-family: KaiTi;
}
