<!-- The home page of the application -->
<div class='container'>

  <!-- The page header -->
  <div class='row info-bgcolor'>
    <div class='col-sm-1 text-center'>
      <img src="assets/images/GWCALogo.gif" style='margin-top:4px; height:40px'>
    </div>
    <div class='col-sm-4'>
      <p class='greeting'>
        <span>{{ getGreetingText() }}</span>
        <span class='class-info'>{{ getClassText() }}</span>
      </p>
    </div>
    <div class='col-sm-5'>
      <ul *ngIf='isTeacher()' class="nav nav-tabs" id="appTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="do-homework-tab" data-toggle="tab" href="#doHomework" role="tab"
            aria-controls="doHomework" aria-expanded="true"
            (click)="service.loadSubmittedHomeworkList()">Check/Browse</a>
        </li>
        <li *ngIf='!isAdmin()' class="nav-item">
          <a class="nav-link" id="edit-homework-tab" data-toggle="tab" href="#editHomework" role="tab"
            aria-controls="editHomework" (click)="service.loadMemberHomeworkList()">Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="manage-homework-tab" data-toggle="tab" href="#manageHomework" role="tab"
            aria-controls="manageHomework" (click)="service.loadMemberHomeworkList()">Manage</a>
        </li>
      </ul>
    </div>
    <div class='col-sm-2 text-right'>
      <button *ngIf='isLoggedIn()' (click)="signOut()" class="btn btn-sm btn-warning sign-button">Sign Out</button>
    </div>
  </div>

  <!-- The login panel -->
  <div *ngIf='isDataReady() && !isLoggedIn()' style='margin-top:160px'>
    <div class='row'>
      <div class='col-sm-1'></div>
      <div class='col-sm-4 text-right'>
        <img src="assets/images/classroom.png" height="200px">
      </div>
      <div class='col-sm-1'></div>
      <div class='col-sm-5'>
        <p class='login-info'>
          To do your homework online, please login through Google. If you have multiple Google
          accounts, make sure you login to your Google account that you used to register for this class.
        </p>
        <p>
          <input *ngIf='!isLoggedIn()' (click)="signInWithGoogle()" type="image" alt="Login"
            src="assets/images/signin-google.png" height="40">
          <!-- <input *ngIf='!isLoggedIn()' (click)="signInWithFB()" type="image" height="30" alt="Login"
            src="assets/images/signin-facebook.png"> -->
        </p>
        <p>{{getInfoMessage()}}</p>
      </div>
    </div>
  </div>

  <!-- The role selection panel if the logged in member has multiple roles -->
  <div *ngIf='isMultipRoleMember()' style='margin-top:40px'>
    <fieldset>
      <legend>Login as:</legend>
      <div class='ascii-small' *ngFor="let role of getRoles()">
        <input class='choice' type="radio" name="{{role}}" value="{{role}}"
          (change)="assignMemberRole($event.target.value)" />
        <span>{{role}}</span>
      </div>
    </fieldset>
  </div>

  <!-- The work panel for the teacher to check, edit or manage homework -->
  <div *ngIf='isTeacher()'>
    <div class="tab-content" id="appTabContent">
      <div class="tab-pane fade show active" id="doHomework" role="tabpanel" aria-labelledby="do-homework-tab">
        <app-homework></app-homework>
      </div>
      <div class="tab-pane fade" id="editHomework" role="tabpanel" aria-labelledby="edit-homework-tab">
        <app-editor></app-editor>
      </div>
      <div class="tab-pane fade" id="manageHomework" role="tabpanel" aria-labelledby="manage-homework-tab">
        <app-manager></app-manager>
      </div>
    </div>
  </div>

  <!-- The work panel for the students to do the homework assigned -->
  <div *ngIf='isStudent() || isParent()'>
    <app-homework></app-homework>
  </div>
</div>