<div class='row pt-5'>
  <div class="col-sm-6">
    <iframe src="https://www.youtube.com/embed/risGd9-eClU" width="400" height="224" frameborder="0"
      allow="accelerometer; autoplay" allowfullscreen></iframe>
  </div>
  <div class="col-sm-6">
    <iframe src="https://www.youtube.com/embed/NqA9yKeySAw" width="400" height="224" frameborder="0"
      allow="accelerometer; autoplay" allowfullscreen></iframe>
  </div>
</div>

<div class='row pt-5'>
  <div class='col-sm-2'></div>
  <div class='col-sm-4' style='font-size:20px;'>
    Check out our social network channals to see more video clips of the school.
  </div>
  <div class='col-sm-6'>
    <nav class="nav justify-content-left">
      <a class="navbar-brand" target='_blank'
        href="https://www.facebook.com/pg/gwcachineseschool/videos/?ref=page_internal">
        <img class='footer-image' src="assets/images/site/facebook.png">
      </a>
      <a class="navbar-brand" target='_blank' href="https://twitter.com/chinese4denver/media">
        <img class='footer-image' src="assets/images/site/twitter.png">
      </a>
      <a class="navbar-brand" target='_blank' href="https://www.youtube.com/channel/UCqNZ6uIYu6vvZexl5JUzJDw/videos">
        <img class='footer-image' src="assets/images/site/youtube.png">
      </a>
    </nav>
  </div>
</div>
