<div class="card mb-2">
	<div class="card-body about-text">
		<h3 class='about-title'>Great Wall Chinese Academy (GWCA)</h3>
		<p>
			GWCA is founded in 2004, a 501(C)3 non-profit educational organization registered in Colorado. We
			provide Mandarin Chinese language and cultural education to both Chinese and non-Chinese heritage students
			from preschool through high schoolers and adults with all cultural backgrounds. We offer a comprehensive
			curriculum including all levels of Chinese Language and culture classes with well-trained and experienced
			teachers. We are highly focused on academics, student-oriented, and college preparation.</p>
		<p>
			GWCA prepares its students to take AP Chinese exam. We organize students to take Chinese Proficiency tests
			HSK (level 1- 6) and YCT test (level 1-3).</p>
		<p>
			GWCA is a chapter of the National Chinese Honor Society (NCHS) of CLASS.</p>
		<p>
			GWCA is a school of Google for Education.</p>
		<p>
			GWCA is a Certifying origination of President’s Volunteer Service Award.</p>
		<p>
			GWCA is a TOP 5 foreign language school of Colorado Parents Magazine 2017.</p>

		<h4 class='about-subtitle'>Our Mission</h4>
		<p>
			Our mission is to prepare our students to better face tomorrow’s challenges by teaching students Chinese
			language, culture, and life-long soft skills, all in an environment that promotes positivity, encouragement,
			and a sense of community.</p>
		<h4 class='about-subtitle'>Programs for students</h4>
		<ul>
			<li>Chinese languages classes for preschool, K-12, college and adult students</li>
			<li>Cultural and enrichment classes including traditional Chinese dance, martial arts (e.g. Kungfu),
				instruments, origami, calligraphy, violin, and more</li>
			<li>Learn Chinese and earn High School Credits</li>
			<li>National Chinese Honor Society</li>
			<li>GWCA Student Council</li>
			<li>Youth community service program</li>
			<li>Prep courses for AP/SAT II Chinese</li>
			<li>Prep courses for SAT by Princeton Review</li>
			<li>YCT/HSK Chinese Proficiency Tests</li>
			<li>Homework Club</li>
			<li>Private Tutors network</li>
			<li>Student leadership training programs (e.g., Shape your future, Debate, Communication skills, etc.)</li>
		</ul>
		<h4 class='about-subtitle'>Programs for parents</h4>
		<ul>
			<li>Sports (Ping Pong, Badminton, Basketball)</li>
			<li>Yoga Class</li>
			<li>Chinese Folk Dance</li>
			<li>Chinese Square Dance</li>
			<li>Chinese Choir</li>
		</ul>
		<h4 class='about-subtitle'>Programs for teachers</h4>
		<ul>
			<li>Teacher Training Programs with the Colorado Chinese Language Teachers Consortium (CCLTC)</li>
			<li>Teacher Training Programs in China</li>
			<li>Professional Chinese Teacher Career Opportunities</li>
			<li>Apply to be a teacher: email your resume to info@greatwallchineseacademy.org</li>
		</ul>
		<h4 class='about-subtitle'>Perspective Students</h4>
		<ul>
			<li>Fill out the family form online</li>
			<li>Visit the school and try-out for free</li>
			<li>Register for courses at the school front-desk</li>
		</ul>
	</div>
</div>