<div>
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Contact Info</div> -->
		<div class="card-body about-text">
			<div class='row'>
				<div class='col-sm-7'>
					<p>
						<span class="fa fa-phone text-primary">&nbsp;&nbsp;</span> (720)583-4922</p>
					<p>
						<span class="fa fa-envelope-o text-primary">&nbsp;</span> info@greatwallchineseacademy.org</p>
					<p>
						<span class="fa fa-envelope text-primary">&nbsp;</span> P.O. Box 631908, Highlands Ranch, CO
						80163</p>
					<p>
						<span class="fa fa-map-marker text-primary">&nbsp;&nbsp;&nbsp;</span> 9375 Cresthill Lane,
						Highlands
						Ranch, CO 80130</p>
					<p style='color:darkgray'>
						The school is located in Highlands Ranch High School (use the south
						entrance to enter the building)
					</p>
				</div>
				<div class='col-sm-5'>
					<embed
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.664479789496!2d-104.93509534873476!3d39.544622379375255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c847c94e9fac3%3A0x93320cbdf67327bc!2sHighlands%20Ranch%20High%20School!5e0!3m2!1sen!2sus!4v1575063874012!5m2!1sen!2sus"
						width="100%" height="240px" frameborder="0" style="border:0;" allowfullscreen="">
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">QR Codes</div> -->
		<div class="card-body about-text">
			<div class='row'>
				<div class='col-sm-5'>
					<p>Great Wall Chinese Academy</p>
					<img src='assets/images/site/QRCode-1.jpg' height='160'>
				</div>
				<div class='col-sm-6'>
					<p>Follow Wechat <span class='about-kaiti'>长城中文学校 微信公众号</span></p>
					<img src='assets/images/site/QRCode-2.jpg' height='160'>
				</div>
			</div>
		</div>
	</div>
</div>