<div class="card mb-2">
	<div class="card-body about-text">
		<h3 class='about-title'>Letter to Prospective Student</h3>
		<p>
			Dear Student,
		</p>
		<p>
			It is very impressive that you are looking into learning Chinese at Great Wall Chinese Academy (GWCA) on top
			of your regular school and extracurricular commitments. Given your interests and desires for achievement, we
			believe GWCA could be the perfect fit for you. Here are just a few reasons why:</p>
		<ul>
			<li>
				Great Wall Chinese Academy is an outstanding Chinese language school that is focused on academics,
				student-orientated, and prioritizes college preparation. We offer Chinese language and culture classes
				to all levels (preschool, K-12 , college, and adult), including native and non-native speakers. We
				provide an AP Chinese class with an award-winning teacher who has helped our students earn perfect AP
				Chinese exam scores. We provide international YCT/HSK Chinese proficiency tests. Students from Douglas
				County Schools District and other districts can earn high school credits through GWCA’s Chinese
				programs.
			</li>
			<li>
				You will be part of a collaborative, friendly, and engaging environment. Our leadership program and
				engagement opportunities give students a chance to start and continue their leadership journey at the
				Chinese school. We are the only Chinese school in Colorado that organizes a National Chinese Honor
				Society chapter. We are more than a Chinese school that teaches language. Students have opportunities
				year-around to participate in community volunteer service activities. We are preparing our students to
				meet the challenges that face our world as of today and in the future.
			</li>
			<li>
				Our affordable tuition combines multiple discount programs (little more than $250 for returning student
				tuition, 5% sibling discounts, and $50 referral fee for families) to make Great Wall Chinese Academy one
				of the best educational programs among Colorado Chinese schools.
			</li>
		</ul>
		<p>
			We believe you could make the most of the programs that we provide, and we are eager to get to know you
			better. You can kick things off by going to www.greatwallchineseacademy.org to look at our programs online
			or by speaking with our staff on Sunday afternoons at Highlands Ranch High School.
		</p>
		<p>
			Sincerely,
		</p>
		<p>
			Great Wall Chinese Academy
		</p>
		<p>
			Email: info@greatwallchineseacademy.org Phone: (720)-583-492
		</p>
		<hr>
		<div class='about-kaiti'>
			<p>
				亲爱的同学：
			</p>
			<p>
				您如果正在寻找在全日制学校之外学习中文的机会，我相信长城中文学校可能是您的最佳选择。这里有几个原因:
			</p>
			<ul>
				<li>
					长城中文学校是一所以学业为中心，以学生为中心, 专注预备高考的优秀中文学校。
					我们提供全方位的中文及文化课程（学前至高中及大学生和成人），包括讲中文和不讲中文的家庭。我们开设AP中文课，我们的AP中文老师曾获得AP中文教案美国赛区二等奖，她帮助许多学生取得AP中文考试好成绩。我们学校还提供YCT和HSK
					国际汉语水平考试。 学生在长城中文学校学习中文，通过考试和评估可以获得高中学分。
				</li>
				<li>
					长城中文学校为学生提供全面发展的大环境。学校为培养学生的领导和活动能力，提供培训讲座和各项活动实际参与机会，学生在长城中文学校有机会开启并继续成长为优秀领导之旅。长城中文学校是科罗拉多州唯一的周末中文学校成为“全美中文荣誉协会”会员学校。学生有机会参与课堂教学，组织公益活动，参加志愿服务，或选择为你的精彩贡献获得报酬。
				</li>
				<li>
					长城中文学校提供低廉的学费与多项优惠（250美元的早鸟学费，5％的兄弟姊妹优惠，以及家庭推荐-双家庭各得50美元的推荐费）相结合，使长城中文学校成为科罗拉多州最具教育与费用高效价值的中文学校。
				</li>
			</ul>
			<p>
				我们相信您可以充分利用长城中文学校有效的中文教育资源，中文学校欢迎您。我们期望更好地了解您。欢迎访问<span
					class='about-text'>www.greatwallchineseacademy.org</span> 网站，或在周日下午在 <span
					class='about-text'>Highlands
					Ranch High School</span> 与我们的工作人员交谈，来更好地了解长城中文学校。
			</p>
			<p>
				此致 长城中文学校
			</p>
			<p>
				电子信箱: <span class='about-text'>info@greatwallchineseacademy.org</span> 电话: (720)-583-4922
			</p>
		</div>
	</div>
</div>