<div>
	<!-- 2018-2019 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2018-2019</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2018-2020</h3>
			<!-- Admin -->
			<div class='row p-1' style='background-color:wheat;'>
				<div class='col-sm-12'>
					School Admin Team
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					校长 Principal
				</div>
				<div class='col-sm-6'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					管理副校长 Assistant Principal/School Operation
				</div>
				<div class='col-sm-6'>
					Jade Liu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					教学副校长 Assistant Principal/Academic Affair
				</div>
				<div class='col-sm-6'>
					Karen Qi
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					财务主管 Treasurer
				</div>
				<div class='col-sm-6'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					前台主管 Front-desk Operation
				</div>
				<div class='col-sm-6'>
					Wen Chen, Yiting Zhang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					注册主管 Registration
				</div>
				<div class='col-sm-6'>
					Lu He
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					教科书-图书馆主管 Textbook & Library
				</div>
				<div class='col-sm-6'>
					Weimin Huang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					学生辅导员 Students Counsellor
				</div>
				<div class='col-sm-6'>
					Mei Cheng, Karen Qi
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					家长活动主管 Parents Activities
				</div>
				<div class='col-sm-6'>
					Yi Ren, Jing Kang, Guoping Li
				</div>
			</div>
			<!-- Teacher -->
			<div class='row p-1' style='background-color:wheat;'>
				<div class='col-sm-12'>
					Teachers
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					学前组 Preschool
				</div>
				<div class='col-sm-6'>
					Lu He, Jing Kang, Wei Deng, Fu Shuping, Jing Chen
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					小学组 Elementary
				</div>
				<div class='col-sm-6'>
					Wenjuang Tan, Zhiyu Gong, Fang Zhao, Jue Liu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					双语组 Bilingual
				</div>
				<div class='col-sm-6'>
					Lizhi Gao, Yuan Zhou, Hongyi Li, Hui Geng, Jubie Ahn
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					中学组 Middle/High School
				</div>
				<div class='col-sm-6'>
					Manli Shen, Wu Wen, Xin Wang, Yi Ren, Yunfei Ye, Youping Hu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					成人组 Adult Learning
				</div>
				<div class='col-sm-6'>
					Abbi Kaplan, Yaxin Yu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					文化组 Culture & Enrichment
				</div>
				<div class='col-sm-6'>
					Mimi Feng, Lily Han, Gary Choi, Manli Shen, Sanbao Ding, Jack Liu, Brian Ma, Matt Chen, Karen Qi
				</div>
			</div>

			<!-- School Board -->
			<div class='row p-1' style='background-color:wheat;'>
				<div class='col-sm-12'>
					School Board
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					President
				</div>
				<div class='col-sm-6'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Vice President
				</div>
				<div class='col-sm-6'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Board Directors
				</div>
				<div class='col-sm-6'>
					Karen Qi 2018, Jade Liu 2018, Shaina Yan 2012, Sharon Xiong 2008, Houmao Liu 2006
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Advisory Board Directors
				</div>
				<div class='col-sm-6'>
					Weizhi Chen 2018, Youyin Bai 2018, Mimi Feng 2018, Jessica Gu 2018, Xinshi Tu 2018, Suzy Zeng 2018
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Past Honorary Directors
				</div>
				<div class='col-sm-6'>
					Jeniffer Tan 2010 - 2018, Weiyan Xia 2016-2017, Yaping Zhu 2010-2012, Carol Wolf 2008-2012, Xinshi
					Tu 2004-2008, Jian Wang 2005-2006, Fanghong Wang 2004-2005
				</div>
			</div>
		</div>
	</div>

	<!-- 2017 - 2018 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2017 - 2018</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2017 - 2018</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					校长 Principal
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					副校长 Assistant Principals
				</div>
				<div class='col-sm-5'>
					Jennifer Tan, Jade Li
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					财务主管 Treasurer
				</div>
				<div class='col-sm-5'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					注册主管 Registration
				</div>
				<div class='col-sm-5'>
					Lu He, Weimin Huang, Ying Ding, Wen Wu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					教学主管 Academic Affair
				</div>
				<div class='col-sm-5'>
					Karen Qi
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					学生辅导员 Students Counselor
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					家长活动主管 Parents Activities
				</div>
				<div class='col-sm-5'>
					Yihong Zang, Lishi Chu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					长城歌舞团 Great Wall Ensemble
				</div>
				<div class='col-sm-5'>
					Yi Ren, Jing Kang, Yiting Zhang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					学前部 Preschool
				</div>
				<div class='col-sm-5'>
					Lu He, Jing Kang, Ming Ge, Fu Shuping
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					小学部 Elementary
				</div>
				<div class='col-sm-6'>
					Shao-Hua Chen, Alice Wong, Jue Liu, Manli Shen, Lizhi Gao, Yuang Zhou, Hongyi Li, Jubie Ahn
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					中学部 Middle/High School
				</div>
				<div class='col-sm-6'>
					Jun Yu, Hui Geng, Wu Wen, Angel Lyon, Yi Ren, Yunfei Ye, Youping Hu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					成人部 Adult Learning
				</div>
				<div class='col-sm-6'>
					Abbi Kaplan, Yaxin Yu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					文化部 Culture & Enrichment
				</div>
				<div class='col-sm-6'>
					Mimi Feng, Ban Yin, Gary Choi, Manli Shen, Lily Han, Heidi Liu, Kevin Fang, Nathan Zhao
				</div>
			</div>
		</div>
	</div>

	<!-- 2016 - 2017 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2016 - 2017</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2016 - 2017</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					校长 Principal
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					副校长 Assistant Principals
				</div>
				<div class='col-sm-5'>
					Jennifer Tan
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					财务主管 Treasurer
				</div>
				<div class='col-sm-5'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					学生辅导员 Students Counselor
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					家长活动主管 Parents Activities
				</div>
				<div class='col-sm-5'>
					Qi Guoi, Yihong Zang, Lishi Chu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					注册主管 Registration
				</div>
				<div class='col-sm-5'>
					Lu He
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					教科书图书主管 Books/Library
				</div>
				<div class='col-sm-5'>
					Weimin Huang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					学前部 Preschool
				</div>
				<div class='col-sm-5'>
					Lu He, Jing Kang, Ming Ge, Fu Shuping
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					小学部 Elementary
				</div>
				<div class='col-sm-6'>
					Chen Shao-Hua, Wu Wen, Zhao Fang, Shen Manli, Li Hongyi, Lizhi Gao, Jubie Ahn, Zhiyu Gong, Xu Qing,
					Zhenyu Chen
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					中学部 Middle/High School
				</div>
				<div class='col-sm-6'>
					Jun Yu,, Angel Lyon, Yunfei Ye, Youping Hu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					成人部 Adult Learning
				</div>
				<div class='col-sm-6'>
					Huaixi Pei, Jing Hu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					文化部 Culture & Enrichment
				</div>
				<div class='col-sm-6'>
					Mimi Feng, Ban Yin, Gary Choi, Manli Shen, Angel Lyon, Kevin Fang, William Kong
				</div>
			</div>
		</div>
	</div>

	<!-- 2015 - 2016 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2015 - 2016</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2015 - 2016</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					校长 Principal
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					副校长 Assistant Principals
				</div>
				<div class='col-sm-5'>
					Jennifer Tan
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					财务主管 Treasurer
				</div>
				<div class='col-sm-5'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					校务主管 Operation
				</div>
				<div class='col-sm-5'>
					Weiyan Xia
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					教学主管 Academic Affair
				</div>
				<div class='col-sm-5'>
					Karen Qi
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					学生辅导员 Students Counselor
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					家长活动主管 Parents Activities
				</div>
				<div class='col-sm-5'>
					Qi Guo
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					注册主管 Registration
				</div>
				<div class='col-sm-5'>
					Lu He
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					教科书图书主管 Books/Library
				</div>
				<div class='col-sm-5'>
					Weimin Huang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					学前部 Preschool
				</div>
				<div class='col-sm-5'>
					Lu He, Jing Kang, Ming Ge
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					小学部 Elementary
				</div>
				<div class='col-sm-6'>
					Shao-Hua Chen, Wen Wu, Jing Hu, Jun Yu, Angel Lyon, Lizhi Gao, Jubie Ahn, Zhiyu Gong, Chen Wang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					中学部 Middle/High School
				</div>
				<div class='col-sm-6'>
					Zaorong Xian, Jing Yue, Qi Zaocong, Yunfei Ye, Youping Hu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					成人部 Adult Learning
				</div>
				<div class='col-sm-6'>
					Huaixi Pei, Zuoqun Wang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					助课 Assistant Teacher
				</div>
				<div class='col-sm-6'>
					Fu Shuping, Wang Yuanlong, Zhenyu Chen, Meng Fang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					文化部 Culture & Enrichment
				</div>
				<div class='col-sm-6'>
					Mimi Feng, Ying Kong, Gary Choi, Manli Shen, Dazhong Wang, Clare Liu, Rachel Zhao, William Kong
				</div>
			</div>
		</div>
	</div>

	<!-- 2014 - 2015 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2014 - 2015</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2014 - 2015</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					校长 Principal
				</div>
				<div class='col-sm-5'>
					Yaling Shi
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					副校长 Assistant Principals
				</div>
				<div class='col-sm-5'>
					Jennifer Tan
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					财务主管 Treasurer
				</div>
				<div class='col-sm-5'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					教学主管 Academic Affair
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					校务主管 Operation
				</div>
				<div class='col-sm-5'>
					Shaina Yan
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					注册主管 Registration
				</div>
				<div class='col-sm-5'>
					Lu He
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					教科书图书主管 Books/Library
				</div>
				<div class='col-sm-5'>
					Weimin Huang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					学生辅导员 Students Counselor
				</div>
				<div class='col-sm-5'>
					Yongxia Kuang, Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					家长活动主管 Parents Activities
				</div>
				<div class='col-sm-5'>
					Weiyan Xia
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					家长值日 Parents On-Duty
				</div>
				<div class='col-sm-5'>
					Richard Allman
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					学前部 Preschool
				</div>
				<div class='col-sm-5'>
					Lu He, Jing Kang, Ming Ge, Lizhi Gao
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					小学部 Elementary
				</div>
				<div class='col-sm-6'>
					Shao-Hua Chen, Wen Wu, Jun Yu, Jing Hu, Chen Wang, Jubie Ahn, Zhiyu Gong, Shuo Chen
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					中学部 Middle/High School
				</div>
				<div class='col-sm-6'>
					Zaorong Xian, Guichun Zhang, Qi Zaocong, Yunfei Ye, Youping Hu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					成人部 Adult Learning
				</div>
				<div class='col-sm-6'>
					Huaixi Pei, Zuoqun Wang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					助课 Assistant Teacher
				</div>
				<div class='col-sm-6'>
					Fu Shuping, Wang Yuanlong, Zhenyu Chen, Meng Fang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					文化部 Culture & Enrichment
				</div>
				<div class='col-sm-6'>
					Mimi Feng, Ying Kong, Gary Choi, Manli Shen, Dazhong Wang, Eric Zhao, Tracy Kong
				</div>
			</div>
		</div>
	</div>

	<!-- 2012 - 2014 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2012 - 2014</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2012 - 2014</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Principal
				</div>
				<div class='col-sm-5'>
					Shaina Yan
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Assistant Principals
				</div>
				<div class='col-sm-5'>
					Jennifer Tan
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Treasurer
				</div>
				<div class='col-sm-5'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Academic Affair/ Students Counselor
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Registration & Bookkeeping
				</div>
				<div class='col-sm-5'>
					Lu He, Weimin Huang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Parents Activities
				</div>
				<div class='col-sm-5'>
					Shenxue Zhou, (2012-2013) Estelle Hoehl
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Parents On-Duty
				</div>
				<div class='col-sm-5'>
					Robert Fenstermacher, Richard Allman
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Preschool Faculty
				</div>
				<div class='col-sm-5'>
					Lu He, Jing Kang, Ming Ge, Lizhi Gao
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Immersion Faculty
				</div>
				<div class='col-sm-5'>
					Shao-Hua Chen, Wen Wu, Jun Yu, Zaorong Xian, Qi Zaocong, Guichun Zhang, Ruihong Wu, Yunfei Ye,
					Youping Hu, (2012-2013) Liang Wang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Bilingual Faculty
				</div>
				<div class='col-sm-5'>
					Chen Wang, Ziyin Liu, Jubie Ahn, Annie Nygen, Huaixi Pei, Yu Yaxin, Sihai Jiang, (2012-2013) Weiyu
					Foster, Zuoqun Wang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Culture & Enrichment
				</div>
				<div class='col-sm-5'>
					Mimi Feng, Ying Kong, Gary Choi, Alan Kong, Tracy Kong, Vicky Chang, Manli Shern, (2012-2013),
					Chingmei Kuo, Elizabeth Bonasera
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Assistant Faculty
				</div>
				<div class='col-sm-6'>
					Fu Shuping, Wang Yuanlong, Zhenyu Chen, Meng Fang, Wen Dandan
				</div>
			</div>
		</div>
	</div>

	<!-- 2011 - 2012 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2011 - 2012</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2011 - 2012</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Principal
				</div>
				<div class='col-sm-5'>
					Yanping Zhu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Academic Affair
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Treasurer
				</div>
				<div class='col-sm-5'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Registration & Bookkeeping
				</div>
				<div class='col-sm-5'>
					Lu He, Shenxue Zhou
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					School Operation
				</div>
				<div class='col-sm-5'>
					Hui Yan
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Parents Council
				</div>
				<div class='col-sm-5'>
					Dong-li Tan, Qin Zhou
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Students Counselor
				</div>
				<div class='col-sm-5'>
					Xiaoling Su
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Preschool Faculty
				</div>
				<div class='col-sm-5'>
					Lu He, Jing Kang, Ming Ge, Yanjuan Zhu, Suping Fu, Dandan Wen, Qing Xia, Zaocong Qi
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Elementary Immersion Faculty
				</div>
				<div class='col-sm-5'>
					Chen Shao-Hua, Wu wen, Jun Yu, Guichun Zhang, Shen Wang, Qian Jiang/Liang Wang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Elementary Bilingual Faculty
				</div>
				<div class='col-sm-5'>
					Chunyan Wang, Xiaoyan Gong, Jubie Ahn, Sihai Jiang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Mid-High School/Aduts Faculty
				</div>
				<div class='col-sm-5'>
					Ruihong Wu, Ping Lu, Yun Wang, Yunfei Ye, Huaxi Pei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Culture & Enrichment
				</div>
				<div class='col-sm-6'>
					Mimi Feng, Geng Mo, Gary Choi, Ling Yang, Chingmei Walker
				</div>
			</div>
		</div>
	</div>

	<!-- 2010 - 2011 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2010 - 2011</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2010 - 2011</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Principal
				</div>
				<div class='col-sm-5'>
					Yanping Zhu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Academic Affair
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Treasurer
				</div>
				<div class='col-sm-5'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Registration & Bookkeeping
				</div>
				<div class='col-sm-5'>
					Lu He, Shenxue Zhou
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					School Operation
				</div>
				<div class='col-sm-5'>
					Hui Yan
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Parents Council
				</div>
				<div class='col-sm-5'>
					Dong-li Tan, Qin Zhou
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Students Counselor
				</div>
				<div class='col-sm-5'>
					Xiaoling Su
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Preschool Faculty
				</div>
				<div class='col-sm-5'>
					Lu He, Jing Kang, Ming Ge, Yanjuan Zhu, Suping Fu, Dandan Wen, Zaocong Qi
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Elementary Immersion Faculty
				</div>
				<div class='col-sm-5'>
					Chen Shao-Hua, Wu wen, Huang Yu, Yang Yu-Hua, Yang-Wei Luo, Olivia Yu, Bi Cai Juan
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Elementary Bilingual Faculty
				</div>
				<div class='col-sm-5'>
					Chunyan Wang, Jie Liu, Shen Wang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Mid-High School Faculty
				</div>
				<div class='col-sm-5'>
					Lu Ping, Wang Yun, Yanni Sun , Nirvana Bai
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Culture & Enrichment
				</div>
				<div class='col-sm-6'>
					Mimi Feng, Moon Lee, Geng Mo, Jessie Kao, Chingmei Walker, Gery Choi
				</div>
			</div>
		</div>
	</div>

	<!-- 2009 - 2010 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2009 - 2010</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2009 - 2010</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Principal
				</div>
				<div class='col-sm-5'>
					Sharon Xiao-Yan Xiong
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Assistant Principal
				</div>
				<div class='col-sm-5'>
					Yun Feng Yang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Academic Affair
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Treasurer
				</div>
				<div class='col-sm-5'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Registration & Bookkeeping
				</div>
				<div class='col-sm-5'>
					Lu He, Ying Ding
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					School Operation
				</div>
				<div class='col-sm-5'>
					Xiu-hua Ye
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Parents Council
				</div>
				<div class='col-sm-5'>
					Dong-li Tan, Qin Zhou
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Students Counselor
				</div>
				<div class='col-sm-5'>
					Shaomei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Preschool Faculty
				</div>
				<div class='col-sm-5'>
					Lu He, Jing Kang, Ming Ge
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Elementary Immersion Faculty
				</div>
				<div class='col-sm-5'>
					Chen Shao-Hua, Wu wen, Huang Yu, Yang Yu-Hua, Yang-Wei Luo, An Hongyu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Elementary Bilingual Faculty
				</div>
				<div class='col-sm-5'>
					Olivia Yu, , Alice Huang, Fu Ling
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Mid-High School Faculty
				</div>
				<div class='col-sm-5'>
					Lu Ping, Wang Yun, Bi Cai Juan, Jacob Britton
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Culture & Enrichment
				</div>
				<div class='col-sm-6'>
					Mimi Feng, Moon Lee, Geng Mo, Jessie Kao, Chingmei Walker, National Martial Arts Academy
				</div>
			</div>
		</div>
	</div>

	<!-- 2008 - 2009 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2008 - 2009</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2008 - 2009</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Principal
				</div>
				<div class='col-sm-5'>
					Sharon Xiao-Yan Xiong
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Academic Development
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Accounting
				</div>
				<div class='col-sm-5'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Registration & Bookkeeping
				</div>
				<div class='col-sm-5'>
					Lu He, Ying Ding
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Front-Desk
				</div>
				<div class='col-sm-5'>
					Xiu-hua Ye, Dong-li Tan
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					School Activities
				</div>
				<div class='col-sm-5'>
					Qing-Ping Kong, Qin Zhou
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Students Counselor
				</div>
				<div class='col-sm-5'>
					Shaomei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Preschool Faculty
				</div>
				<div class='col-sm-5'>
					Lu He, Jing Kang, Ming Ge, Jian-Min Li
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Elementary Immersion Faculty
				</div>
				<div class='col-sm-5'>
					Olivia Yu, Shao-Hua Chen, Zhao-Rong Xian, Yu Huang, Yu-Hua Yang, Yang-Wei Luo
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Elementary Bilingual Faculty
				</div>
				<div class='col-sm-5'>
					Olivia Yu, Lan Li, Alice Huang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Mid-High School Faculty
				</div>
				<div class='col-sm-5'>
					Le-Xian Zhou, Hui-Wen Chen, James Xie
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Culture & Enrichment
				</div>
				<div class='col-sm-6'>
					Mimi Feng, Moon Lee, William Lee, Alan Rock, Mo Geng, Jessie Kao, Chingmei Walker, Wah Lum Kung Fu
				</div>
			</div>
		</div>
	</div>

	<!-- 2006 - 2008 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2006 - 2008</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2006 - 2008</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Principal
				</div>
				<div class='col-sm-5'>
					Houmao Liu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Assistant Principal
				</div>
				<div class='col-sm-5'>
					Zhijian Yu
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Academic Development
				</div>
				<div class='col-sm-5'>
					Mei Cheng
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Accounting
				</div>
				<div class='col-sm-5'>
					Holly Wei
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Registration & Bookkeeping
				</div>
				<div class='col-sm-5'>
					Lu He, Ying Ding, (2006-2007) Ying Bian
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					School Operation
				</div>
				<div class='col-sm-5'>
					Xiu-hua Ye, Dongli Tan
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Parents Council
				</div>
				<div class='col-sm-5'>
					Qing-Ping Kong, Qin Zhou, Xiaoling Su (2006-2007) Megan Bai
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Students Counselor
				</div>
				<div class='col-sm-5'>
					Shaomei Cheng
				</div>
			</div>
		</div>
	</div>

	<!-- 2005 - 2006 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2005 - 2006</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2005 - 2006</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Principal
				</div>
				<div class='col-sm-5'>
					Jian Wang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Staff members
				</div>
				<div class='col-sm-5'>
					Fang-hong Wang, Shaomei Cheng, Dong-li Tan, Holly Wei, Lu He, Ying Bian, Xiao-yang Xiong, Meng Xu
				</div>
			</div>
		</div>
	</div>

	<!-- 2004 - 2005 -->
	<div class="card mb-2">
		<!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Teacher & Staff 2004 - 2005</div> -->
		<div class="card-body about-text">
			<h3 class='about-title'>Teacher & Staff 2004 - 2005</h3>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Principal
				</div>
				<div class='col-sm-5'>
					Fang-Hong Wang
				</div>
			</div>
			<div class='row p-1'>
				<div class='col-sm-6 text-right'>
					Staff members
				</div>
				<div class='col-sm-5'>
					Shaomei Cheng, Ya-ling Fan, Holly Wei, Dong-li Tan, Lu He, Xiao-yang Xiong, Mimi Feng
				</div>
			</div>
		</div>
	</div>
</div>