<div class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Student Organizations and Honors</div> -->
  <div class="card-body about-text">
    <h3 class='link-title'>Student Organizations and Honors</h3>
    <p><span style='font-weight:bold;'>Why Volunteer.</span> Giving back to your community is important. It
      helps you to gain valuable life experiences and skills, meet interesting people, and it shows colleges you are
      committed and making a difference.</p>
    <p>
      <span style='font-weight:bold;'>The President’s Volunteer Service Award.</span> "...take a look around,
      be inspired and take positive action that changes the world."
    </p>
    <nav class="nav flex-column">
      <!-- 
        The PAGE_IDs can be found in the page-index.json file that is stored locally and remotely in Drive.
        Each PAGE_ID has a URL associated with and it is inserted to the <a> tag as an 'href' attribute. This
        action happens when this page gets loaded by the app.
      -->
      <a class="navbar-brand link" target='_blank' PAGE_ID="ChineseSchoolStudentCouncil">The Chinese School Student
        Council
      </a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="NationalChineseHonorSociety">The National Chinese Honor
        Society
      </a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="PresidentsVolunteerServiceAward">The President's Volunteer
        Service Award
      </a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="HighSchoolGraduatesAndScholarship">High School
        Graduates & Scholarship
      </a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="StudentCouncilElectionGuide">Student
        Council Election Guide
      </a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="StudentCouncilCandidacyForm">Student Council
        Candidacy Form
      </a>

      <!-- <a class="navbar-brand link" target='_blank' href="https://drive.google.com/file/d/1FoI3-UEQomwAv_XQGg_ikWan5okdQbli/view?usp=sharing">The
        Chinese School Student Council
      </a>
      <a class="navbar-brand link" target='_blank' href="https://drive.google.com/file/d/1DfDWYbPOfSaaDceyRMvLSLShHuwlpOux/view?usp=sharing">The
        National Chinese Honor Society
      </a>
      <a class="navbar-brand link" target='_blank' href="https://drive.google.com/file/d/12RzcR391RWWXmkwIHEqSqZs1V3n9v8VB/view?usp=sharing">The
        President's Volunteer Service Award
      </a>
      <a class="navbar-brand link" target='_blank' href="https://drive.google.com/file/d/1Kru5gaBcCcpDhFXYh7zcpgzmKmBgafcl/view?usp=sharing">High School
        Graduates & Scholarship
      </a>
      <a class="navbar-brand link" target='_blank'
        href="https://docs.google.com/document/d/1etmz8RMEJ1nNcTFa9UP7RI4wcZUM1OKpgBxHhG30GpI/edit?usp=sharing">Student
        Council Election Guide
      </a>
      <a class="navbar-brand link" target='_blank'
        href="https://docs.google.com/forms/d/1lKxKkNdlXeBv1flVf-FAtdBq-Mwnjotd8zbp-fFbP4U/viewform">Student Council
        Candidacy Form
      </a> -->
    </nav>
  </div>
</div>
<div class="card mb-2">
  <!-- <div class="card-header text-right p-0 pr-3 bg-primary card-title-latin">Forms & Documents</div> -->
  <div class="card-body about-text">
    <h3 class='link-title'>Forms & Documents</h3>
    <nav class="nav flex-column">
      <a class="navbar-brand link" target='_blank' PAGE_ID="LogVolunteerHours">Log Volunteer Hours</a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="JoinStudentsGoogleGroup">Join Students Google Group</a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="VolunteerVerificationForm">Volunteer Verification Form</a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="VolunteerWaiverForm">Volunteer Waiver Form</a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="VolunteerSignupForm">Volunteer Signup Form</a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="TalentSearch">Talent Search</a>
      <a class="navbar-brand link" target='_blank' PAGE_ID="AlumniForm">Alumni Form</a>
      <!-- 
      <a class="navbar-brand link" target='_blank'
        href="https://docs.google.com/forms/d/1S1PCVuKP3MuR07eAIDytfKUjy8gW__NVIzarIDVZ6Vo/viewform">Log Volunteer
        Hours</a>
      <a class="navbar-brand link" target='_blank'
        href="https://groups.google.com/forum/?hl=en#!forum/gwca-student-council">Join Students Google Group</a>
      <a class="navbar-brand link" target='_blank'
        href="https://drive.google.com/file/d/1_VS9ZgK9-JXz5SuKii6VppDQgXaFvSTz/view?usp=sharing">Volunteer
        Verification Form</a>
      <a class="navbar-brand link" target='_blank'
        href="https://drive.google.com/file/d/1CkmguhSpk2O8zmpHJbvVgxTsjOv6zAuy/view?usp=sharing">Volunteer Waiver
        Form</a>
      <a class="navbar-brand link" target='_blank'
        href="https://docs.google.com/forms/d/e/1FAIpQLSesRh3aYRF51-c89UB6p0cL2rppMMG2oX7gt4q5bX0sXdAhIg/viewform">Volunteer
        Signup Form</a>
      <a class="navbar-brand link" target='_blank'
        href="https://docs.google.com/forms/d/1KhvX7olMRlYWK9b17KsDPgDmWFTn14-Xoe8tHJEyZJY/viewform">Talent Search</a>
      <a class="navbar-brand link" target='_blank'
        href="https://docs.google.com/forms/d/1xU8f-x2WLYWjYKTt_GrnUDCKYlhkD94qzs5TOaYCWA0/viewform">Alumni Form</a> -->
    </nav>
  </div>
</div>