<div class="card mb-2">
	<div class="card-body simsun">
		<p class='latin'>Registration and Schedule</p>
		<div style='margin-left:24px'>
			<dl>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLScnCQruHCzHC2wLE4P61qPzDdD1icF_Uv5Jf7GMvaxef-39aw/viewform'>夏令营报名表
						2020 Summer Camp Registration Form</a></dt>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLSe_kbaT38c2XpoU5VjJcTK8u76Hn5mgN6IoYKplETyPs2HhjQ/viewform'>中文班报名表
						Student Application Form</a></dt>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLSfeCTBplbP27ZscX8xCd5QxzWZ5rD4gi11USbO5wyPEKdjLkw/viewform'>成人班报名表
						Adults Class Form</a></dt>
				<dt><a target='_blank' href='https://drive.google.com/open?id=1zb9uZLzGUVqSXHTkrjyQTrtfgOUobJh1'>课程注册表
						Course Registration Form</a></dt>
				<dt><a target='_blank'
						href='https://drive.google.com/open?id=1I0caCJpqyojkPqjDoC6QwsBE0P2sKdelgD0s9im_BMw'>周日时间表
						Sunday Schedule</a></dt>
				<dt><a target='_blank'
						href='https://drive.google.com/open?id=116hlH7zoC0AtPs_5bCshXt5lmWa5cSYWULfZHtfjVqI'>周六舞蹈课时间表
						Dance Class Schedule</a></dt>
				<dt><a target='_blank'
						href='https://drive.google.com/open?id=1Vtq20keyFoKodg1a6Q4cJrdF6qxeGWRs0SeTyAfg050'>周一合唱队时间表
						Choir Schedule</a></dt>
			</dl>
		</div>
		<p class='latin'>Forms for Parents</p>
		<div style='margin-left:24px'>
			<dl>
				<dt><a target='_blank' href='https://www.signupgenius.com/go/20f0a45aaaf2da6fb6-great'>家长值班报名表 Parent
						On-Duty Form</a></dt>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLSdoBet-PcWTaJW7umf51CxMifJbH01lbFiJhZv9eHIM0D1BSA/viewform'>家庭作业辅导
						Homework Club From</a></dt>
				<dt><a target='_blank'
						href='https://drive.google.com/file/d/1b7mk5wNo_YZRbyz19i8feV4c8fLUVw5F/view?usp=sharing'>家庭介绍奖励
						Family Referral Program</a></dt>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLSfzpwHy3IvlF40pTnuKhwfM3qhcsatIrZP4xibL9LXoY2OSgQ/viewform'>学费退学表
						Tuition Refund Form</a></dt>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLSdbpclWnfFCwwxb6dKbUR2LB6JM_hWtuJ4aQMa1OVv34JLLMA/viewform'>困难申请
						Reduced Tuition Application</a></dt>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLSfc2QtY6v0GhJfDkUcXs6fKHXHxO4Qp3GK4NP2wShwqTM3d-g/viewform'>家长民意调查
						Parents Survey From</a></dt>
			</dl>
		</div>
		<p class='latin'>Forms for Teachers</p>
		<div style='margin-left:24px'>
			<dl>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLSdsNxrRx4Kp5E1kGyD6AJP7zQG4fAXus9wEKWOdoFG9DYoGbQ/viewform'>
						教师申请表 Teacher Application Form</a></dt>
				<dt><a target='_blank' href='https://www.uscis.gov/i-9'>就业资格验证 I-9</a></dt>
				<dt><a target='_blank'
						href='https://drive.google.com/drive/folders/0B6EcKe3ab8nBTVJrU0xmN1dRdjA?usp=sharing'>中文教学参考
						Teachers Materials</a></dt>
				<dt><a target='_blank'
						href='http://www.edulines.org/cet/index.php'>华文教育大讲堂 Online Seminars for Chinese Education</a></dt>
			</dl>
		</div>
		<p class='latin'>Summer Activities</p>
		<div style='margin-left:24px'>
			<dl>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLSdTDP9n4ad0DSq75HXjn6dAVj7NX3rHkljXAzccM9h13LuPxQ/viewform'>龙舟赛赛队报名表
						Dragon Boat Team</a></dt>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLScnCQruHCzHC2wLE4P61qPzDdD1icF_Uv5Jf7GMvaxef-39aw/viewform'>暑期活动班
						Chinese School Summer Camp</a></dt>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLSd9fl2aVi1hsTAob-zWe5XaZKKtTd4l-C3uMiQBT7eqsc3xhA/viewform'>暑期SAT补习班
						SAT Summer Course</a></dt>
			</dl>
		</div>
		<p class='latin'>School Activities</p>
		<div style='margin-left:24px'>
			<dl>
				<dt><a target='_blank' href='https://www.signupgenius.com/go/20f0b48aaaa28a46-holiday'>圣诞节活动报名 School
						Holiday Party Sign Up</a></dt>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLSd3JKcAExFnUVb4-9700o-lh6T3s4j2lpaKjk0Q74cLZgGwjA/viewform'>春节活动报名
						Chinese New Year Sign Up</a></dt>
				<dt><a target='_blank'
						href='https://docs.google.com/forms/d/e/1FAIpQLSc6XulWBrr1Op0WRF_PdpB5NI_CQZwe8jJnyUJS1npJhnHJGA/viewform'>BBQ活动报名
						Chinese School BBQ Party Sign Up</a></dt>
			</dl>
		</div>
	</div>
</div>