<div class='content'>
	<div id='landing' class='container'>
		<!-- Header -->
		<div class='row mt-2'>
			<div class='col-sm-2'>
				<img src="assets/images/sites/site-logo.gif" class="header-image mt-2" (click)='resetMaterial()'>
			</div>
			<div class='col-sm-10 mt-4'>
				<p [className]="isMaterialAssigned() ? 'header-text' : 'header-title'">{{getBookDescription()}}</p>
			</div>
		</div>

		<!-- Body -->
		<div id='main' class='container'>
			<app-home *ngIf='!isMaterialAssigned()'></app-home>
			<app-content *ngIf='isMaterialAssigned()'></app-content>
			<p *ngIf='hasError()' style='color:brown'> {{errorMessage}} </p>
		</div>
	</div>
</div>
<!-- Footer -->
<footer class='footer bg-dark'> {{footerText}} </footer>