
.header-title {
	font-size: 36px;
	font-family: Georgia, Times, "Times New Roman";
	color: DarkGreen;
	text-indent: 26%;
	margin-bottom: 10px;
	margin-top: 10px
}

.header-text {
	font-size: 16px;
	font-family: kaiTi;
	color: DarkGreen;
	text-indent: 36px;
}

.header-image {
	float: left;
	height: 70px;
	margin: 0px 20px 0px 20px;
}

.header-image:hover {
	cursor: pointer;
}

/* .footer {
	position: relative;
	clear: both;
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
	background-color: green;
	color: white;
	margin-top: 50px;
	height: 90px;
} */

/** The content style with a sticky footer */
.content {
	min-height: 100vh;
	margin: 0px 0 -90px;
	padding: 0px 0 90px;
	box-sizing: border-box
}

/** footer style */
.footer {
	position: relative;
	clear: both;
	height: 90px;
	margin-top: -90px;

	text-align: center;
	font-size: 20px;
	padding-top: 30px;
	color: white;
	/** background-color: green; */
}