<div class="card">
	<div class="card-header p-0 pr-3 bg-primary card-title-latin">Bulletin Board (2019 - 2020)</div>
	<div class="card-body link-text">
		<div class='row'>
			<div class='col-sm-2'>2019.10.11</div>
			<div class='col-sm-10'><a target='_blank' href="https://mp.weixin.qq.com/s/RvkjWHeZj5tM-J8NMjgMpw">
					DC Libary's Fairy Tale Ball, 万圣节微讯</a>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.10.11</div>
			<div class='col-sm-10'><a target='_blank' href="https://photos.app.goo.gl/Zieacxr2TbnHzfRz6">
					DC Libary's Fairy Tale Ball, 万圣节影集</a target='_blank'>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.10.11</div>
			<div class='col-sm-10'><a target='_blank' href="https://flic.kr/s/aHsmHGB5Cs">DC
					Libary's Fairy Tale Ball, 图书馆影集</a target='_blank'>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.09.21</div>
			<div class='col-sm-10'><a target='_blank' href="https://photos.app.goo.gl/JDtcitBkgLVLi9L18">
					Moon Festival &amp; National Day 3 中秋国庆节</a target='_blank'>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.09.21</div>
			<div class='col-sm-10'><a target='_blank' href="https://photos.app.goo.gl/k3pwGg5SecaMgdAX7">
					Moon Festival &amp; National Day 2 中秋国庆节</a target='_blank'>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.09.21</div>
			<div class='col-sm-10'><a target='_blank' href="https://photos.app.goo.gl/at1b714PPWWFhYGi7">
					Moon Festival &amp; National Day 1 中秋国庆节</a target='_blank'>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.07.27</div>
			<div class='col-sm-10'><a href="?pageId=DragonBoat">
					Dragon Boat Festival 龙舟节 2019</a target='_blank'>
			</div>
		</div>
		<hr>
		<div class='row'>
			<div class='col-sm-2'>2019.05.05</div>
			<div class='col-sm-10'><a target='_blank' href="https://photos.app.goo.gl/Lvwv87yfZDMzj9iM6">
					School Graduation &amp; Yearend 毕业结业典礼 <font color="red">new</font></a target='_blank'>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2018-2019</div>
			<div class='col-sm-10'><a target='_blank' href="https://youtu.be/risGd9-eClU"> School
					Moments 中文学校一年回顾 <font color="red">video</font></a target='_blank'>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.5</div>
			<div class='col-sm-10'><a href="?pageId=Essays2019">Students Essays
					学生中文作文</a>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.5</div>
			<div class='col-sm-10'><a target='_blank' href="assets/images/artworks/2019-StudentArtworks.jpg">Students
					Artworks 学生绘画手工作品</a target='_blank'>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.5</div>
			<div class='col-sm-10'><a target='_blank' href="assets/images/artworks/2019-ClassCulture.jpg">Culture &
					Enrichment Classes 文化才艺课</a target='_blank'>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.5</div>
			<div class='col-sm-10'><a target='_blank' href="https://drive.google.com/file/d/1wo9LIKf7NtJB5TaVgE5phPhXBSFt7lRr/view?usp=sharing">Parents
					Activities 家长活动</a>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.5</div>
			<div class='col-sm-10'><a target='_blank' href="https://drive.google.com/file/d/1XievltUXo5c7S12Sxp7jVwJwenK4wBA9/view?usp=sharing">School
					Activities 学校社区活动</a>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-2'>2019.5</div>
			<div class='col-sm-10'><a target='_blank' href="https://drive.google.com/file/d/1ws6Lmue32Do6Qj9Z4nv007YW-rcoaE5r/view?usp=sharing">Volunteer
					Activities 志愿者活动</a>
			</div>
		</div>
	</div>
</div>