<!-- Workitem: ConnectSentence -->
<div *ngIf='isConnectSentence()' class='row'>
  <div class='col-sm-6'>
    <div class="row no-gutters">
      <div class='col-sm-2'>
        <label>作业标题</label>
      </div>
      <div class='col-sm-7 m-0 pl-0'>
        <input class='sentence' type="text" [(ngModel)]="workitem.title" />
      </div>
      <div class='col-sm-3 text-right'>
        <label>Index&nbsp;</label>
        <input class='word' type="text" [(ngModel)]="workitem.index">
      </div>
    </div>
    <div class="row">
      <div class='col-sm-6'>
        <label>前半句&nbsp;</label>
        <button (click)="addLine(workitem)" class="btn btn-primary btn-tiny">
          <span class="fa fa-plus"></span>
        </button>
      </div>
    </div>
    <!-- Must have the "trackBy" to make the dynamically created "textarea" work properly. -->
    <div class="row" *ngFor="let x of workitem.lines; let idx = index; trackBy:trackByIndex;">
      <div class='col-sm-1 text-right'>
        <label>{{idx+1}}</label>
      </div>
      <div class='col-sm-11 m-0 pl-0'>
        <input class='sentence' type="text" [(ngModel)]="workitem.lines[idx].lead" />
      </div>
    </div>

    <div class="row">
      <div class='col-sm-6'>
        <label>后半句&nbsp;</label>
      </div>
    </div>
    <div class="row" *ngFor="let x of workitem.lines; let idx = index; trackBy:trackByIndex;">
      <div class='col-sm-1 text-right'>
        <label>{{idx+1}}</label>
      </div>
      <div class='col-sm-11 m-0 pl-0'>
        <input class='sentence' type="text" [(ngModel)]="workitem.lines[idx].tail" />
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12 text-right'>
        <button (click)="remove()" class="btn btn-warning btn-tiny">remove item</button>
      </div>
    </div>
  </div>

  <!-- The preview panel -->
  <div class='col-sm-6 preview-bgcolor'>
    <div class="row">
      <div class='col-sm-12'>
        <h3 class='title'>{{workitem.title}}</h3>
      </div>
    </div>
    <div class="row" *ngFor="let x of workitem.lines; let idx = index; trackBy:trackByIndex;">
      <div class='col-sm-1 text-right'>
        <label>{{idx+1}}</label>
      </div>
      <div class='col-sm-5 m-0 pl-0'>
        <span>{{ workitem.lines[idx].lead }}</span>
      </div>
      <div class='col-sm-5 m-0 pl-0'>
        <span>{{ workitem.lines[idx].tail }}</span>
        <input class='word' type='text' />
      </div>
    </div>
  </div>
</div>