<!-- Workitem: TrueFalse -->
<div *ngIf='isTrueFalse()' class='row'>
  <div class='col-sm-6'>
    <div class="row no-gutters">
      <div class='col-sm-2'>
        <label>作业标题</label>
      </div>
      <div class='col-sm-7 m-0 pl-0'>
        <input class='sentence' type="text" [(ngModel)]="workitem.title" />
      </div>
      <div class='col-sm-3 text-right'>
        <label class='work-label'>Index</label>
        <input class='word' type="text" [(ngModel)]="workitem.index">
      </div>
    </div>
    <div class="row">
      <div class='col-sm-6'>
        <label class='work-label'>表述</label>
        <button (click)="addTFStatement(workitem)" class="btn btn-primary btn-tiny">
          <span class="fa fa-plus"></span>
        </button>
      </div>
    </div>
    <!-- Must have the "trackBy" to make the dynamically created "textarea" work properly. -->
    <div class="row" *ngFor="let x of workitem.statements; let idx = index; trackBy:trackByIndex;">
      <div class='col-sm-1 text-right'>
        <label>{{idx+1}}</label>
      </div>
      <div class='col-sm-11 m-0 pl-0'>
        <input class='sentence' type="text" [(ngModel)]="workitem.statements[idx].question" />
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12 text-right'>
        <button (click)="remove()" class="btn btn-warning btn-tiny">remove item</button>
      </div>
    </div>
  </div>

  <!-- The review panel -->
  <div class='col-sm-6 preview-bgcolor'>
    <div class="row">
      <div class='col-sm-12'>
        <h3 class='title'>{{workitem.title}}</h3>
      </div>
    </div>
    <div *ngIf="workitem.statements.length > 0">
      <ol>
        <li *ngFor="let statement of workitem.statements; let idx = index; trackBy:trackByIndex;">
          {{statement.question}}
          <p *ngIf="statement.question && statement.question.length > 0">
            <input class='choice' name="tf-{{workitem.index}}-{{idx}}" type="radio" value='true'>True
            <input class='choice' name='tf-{{workitem.index}}-{{idx}}' type="radio" value='false'>False
          </p>
        </li>
      </ol>
    </div>
  </div>
</div>