<!-- Workitem: AnswerQuestion -->
<div *ngIf='isAnswerQuestion()' class="card-deck">
  <div class="card p-2">
    <div class="row no-gutters">
      <div class='col-sm-2'>
        <label>作业标题</label>
      </div>
      <div class='col-sm-7 m-0 pl-0'>
        <input class='sentence' type="text" [(ngModel)]="workitem.title" />
      </div>
      <div class='col-sm-3 text-right'>
        <label class='work-label'>Index</label>
        <input class='word' type="text" [(ngModel)]="workitem.index">
      </div>
    </div>
    <div class="row">
      <div class='col-sm-6'>
        <label class='work-label'>问题</label>
        <button (click)="addQuestion(workitem)" class="btn btn-primary btn-tiny">
          <span class="fa fa-plus"></span>
        </button>
      </div>
    </div>
    <!-- Must have the "trackBy" to make the dynamically created "textarea" work properly. -->
    <div class="row" *ngFor="let x of workitem.questions; let idx = index; trackBy:trackByIndex;">
      <div class='col-sm-1 text-right'>
        <label>{{idx+1}}</label>
      </div>
      <div class='col-sm-11 m-0 pl-0'>
        <input class='sentence' type="text" [(ngModel)]="workitem.questions[idx].question" />
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12 text-right'>
        <button (click)="remove()" class="btn btn-warning btn-tiny">remove item</button>
      </div>
    </div>
  </div>

  <!-- The review panel -->
  <div class="card p-2 preview-bgcolor">
    <h3 class='title'>{{workitem.title}}</h3>
    <div *ngIf="workitem.questions.length > 0">
      <ol>
        <li *ngFor="let question of workitem.questions">
          {{question.question}}
          <textarea *ngIf="question.question && question.question.length > 0" class='answer'></textarea>
        </li>
      </ol>
    </div>
  </div>
</div>