<!-- Workitem: FillBlank -->
<div *ngIf='isFillBlank()' class="card-deck">
  <div class="card p-2">
    <div class="row no-gutters">
      <div class='col-sm-2'>
        <label>作业标题</label>
      </div>
      <div class='col-sm-7 m-0 pl-0'>
        <input class='sentence' type="text" [(ngModel)]="workitem.title" />
      </div>
      <div class='col-sm-3 text-right'>
        <label class='work-label'>Index;</label>
        <input class='word' type="text" [(ngModel)]="workitem.index">
      </div>
    </div>
    <div class="row">
      <div class='col-sm-6'>
        <label class='work-label'>填空题</label>
        <button (click)="addFBStatement(workitem)" class="btn btn-primary btn-tiny">
          <span class="fa fa-plus"></span>
        </button>
      </div>
    </div>
    <!-- Must have the "trackBy" to make the dynamically created "textarea" work properly. -->
    <div *ngFor="let statement of workitem.statements; let idx1 = index; trackBy:trackByIndex;">
      <div class="row">
        <div class='col-sm-1'> </div>
        <div class='col-sm-6'>
          <label class='work-label'>第 {{idx1+1}} 题</label>
          <button (click)="addToken(workitem.statements[idx1])" class="btn btn-primary btn-tiny">
            <span class="fa fa-plus"></span>
          </button>
        </div>
      </div>
      <div class="row" *ngFor="let token of workitem.statements[idx1].tokens; let idx2 = index; trackBy:trackByIndex;">
        <div class='col-sm-1'> </div>
        <div class='col-sm-2'>
          <label class='work-label'>空</label>
          <input type="checkbox" [(ngModel)]="workitem.statements[idx1].tokens[idx2].hasBlank" />
        </div>
        <div class='col-sm-9 m-0 pl-0'>
          <input class='sentence' type="text" [(ngModel)]="workitem.statements[idx1].tokens[idx2].phrase" />
        </div>
      </div>
      <div class="row">
        <div class='col-sm-1'> </div>
        <div class='col-sm-2'>
          <label>填空词</label>
        </div>
        <div class='col-sm-9 m-0 pl-0'>
          <input class='sentence' type="text" [(ngModel)]="workitem.statements[idx1].selections" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12 text-right'>
        <button (click)="remove()" class="btn btn-warning btn-tiny">remove item</button>
      </div>
    </div>
  </div>

  <!-- The preview panel -->
  <div class="card p-2 preview-bgcolor">
    <h3 class='title'>{{workitem.title}}</h3>
    <ol>
      <li *ngFor="let statement of workitem.statements; let idx1 = index; trackBy:trackByIndex;">
        <p style='display:inline;' *ngFor="let token of statement.tokens; let idx2 = index;">
          <input *ngIf="token.hasBlank" class='word' /> {{token.phrase}}
        </p>
        <p class='prompt'>填空词 {{statement.selections}}</p>
      </li>
    </ol>
  </div>
</div>