<!-- Workitem: MultiChoice -->
<div *ngIf='isMultiChoice()' class="card-deck">
  <div class="card p-2">
    <div class="row no-gutters">
      <div class='col-sm-2'>
        <label>作业标题</label>
      </div>
      <div class='col-sm-7 m-0 pl-0'>
        <input class='sentence' type="text" [(ngModel)]="workitem.title" />
      </div>
      <div class='col-sm-3 text-right'>
        <label class='work-label'>Index</label>
        <input class='word' type="text" [(ngModel)]="workitem.index">
      </div>
    </div>
    <div class="row">
      <div class='col-sm-6'>
        <label class='work-label'>表述</label>
        <button (click)="addMCStatement(workitem)" class="btn btn-primary btn-tiny">
          <span class="fa fa-plus"></span>
        </button>
      </div>
    </div>
    <!-- Must have the "trackBy" to make the dynamically created "textarea" work properly. -->
    <div *ngFor="let statement of workitem.statements; let idx1 = index; trackBy:trackByIndex;">
      <div class="row">
        <div class='col-sm-1 text-right'>
          <label>{{idx1+1}}</label>
        </div>
        <div class='col-sm-11 m-0 pl-0'>
          <input class='sentence' type="text" [(ngModel)]="workitem.statements[idx1].question" />
        </div>
      </div>
      <div class="row">
        <div class='col-sm-1'> </div>
        <div class='col-sm-6'>
          <label class='work-label'>选择答案</label>
          <button (click)="addChoice(workitem.statements[idx1])" class="btn btn-primary btn-tiny">
            <span class="fa fa-plus"></span>
          </button>
        </div>
      </div>
      <div class="row"
        *ngFor="let choice of workitem.statements[idx1].choices; let idx2 = index; trackBy:trackByIndex;">
        <div class='col-sm-1'> </div>
        <div class='col-sm-1 text-right'>
          <label>{{idx2+1}}</label>
        </div>
        <div class='col-sm-10 m-0 pl-0'>
          <input class='phrase' type="text" [(ngModel)]="workitem.statements[idx1].choices[idx2]" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12 text-right'>
        <button (click)="remove()" class="btn btn-warning btn-tiny">remove item</button>
      </div>
    </div>
  </div>

  <!-- The review panel -->
  <div class="card p-2 preview-bgcolor">
    <h3 class='title'>{{workitem.title}}</h3>
    <div *ngIf="workitem.statements && workitem.statements.length > 0">
      <ol start='{{sIdx+1}}' *ngFor="let statement of workitem.statements; let sIdx = index">
        <li>{{statement.question}}
          <ol class='with-space'>
            <li class='alpha' *ngFor="let choice of statement.choices; let cIdx = index">
              <input type="radio" class='choice' name="mc-{{workitem.index}}-{{sIdx}}-{{cIdx}}" /> {{choice}}
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</div>