<!-- Workitem: Write -->
<div *ngIf='isWrite()' class="card-deck">
  <div class="card p-2">
    <div class="row no-gutters">
      <div class='col-sm-2'>
        <label>作业标题</label>
      </div>
      <div class='col-sm-7 m-0 pl-0'>
        <input class='sentence' type="text" [(ngModel)]="workitem.title" />
      </div>
      <div class='col-sm-3 text-right'>
        <label class='work-label'>Index</label>
        <input class='word' type="text" [(ngModel)]="workitem.index">
      </div>
    </div>
    <div class="row no-gutters">
      <div class='col-sm-2'>
        <label>作文题目</label>
      </div>
      <div class='col-sm-7 m-0 pl-0'>
        <input class='sentence' type="text" [(ngModel)]="workitem.text" />
      </div>
      <div class='col-sm-3 text-right pr-1'>
        <div class="dropdown">
          <button class="btn btn-primary btn-tiny dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ getSelectedType(workitem)}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="setFileType(workitem, 'GoogleDoc')">GoogleDoc</a>
            <a class="dropdown-item" (click)="setFileType(workitem, 'GoogleSlide')">GoogleSlide</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-8'>
        <label class='work-label'>作文要求</label>
        <button (click)="addInstruction(workitem)" class="btn btn-primary btn-tiny">
          <span class="fa fa-plus"></span>
        </button>
      </div>
    </div>
    <!-- Must have the "trackBy" to make the dynamically created "textarea" work properly. -->
    <div class="row" *ngFor="let x of workitem.instructions; let idx = index; trackBy:trackByIndex;">
      <div class='col-sm-12'>
        <textarea class='answer' [(ngModel)]="workitem.instructions[idx]"></textarea>
      </div>
    </div>
    <div class="row">
      <!-- <div class='col-sm-10'>
        <p class='page-error'>When the item gets saved, you cannot change the instruction anymore. Re-create it if
          necessary.</p>
      </div> -->
      <div class='col-sm-12 text-right'>
        <button (click)="remove()" class="btn btn-warning btn-tiny">remove item</button>
      </div>
    </div>
  </div>

  <!-- The preview panel -->
  <div class="card p-2 preview-bgcolor">
    <h3 class='title'>{{workitem.title}}</h3>
    <div *ngIf="workitem.instructions.length > 0">
      <div *ngFor="let instruction of workitem.instructions">
        <p [innerHTML]='instruction'></p>
      </div>
    </div>
    <a [href]="workitem.url" target="blank">{{workitem.text}}</a>
  </div>
</div>